.tl-skiplink {
    position: absolute;
    left: -9999em;
    top: 0;
    z-index: 100;
    margin: 1em;


    &:focus {
        left: 0;
        background-color: #ffbf47;
        outline: 3px solid #ffbf47;
        color: #005798;
    }
}

main:focus {
    outline: none;
}

.tl-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}

.tl-none {
    display: none;
}

input, select {
    &:focus {
        outline: 3px solid rgba($orange, 0.5);
    }
}
