$boxvariables:
/*content colour variables - variable name, background colour, text colour*/
"orange" $orange $black,
"purple" $purple $white,
"white" $white $black,
"salmon" $salmon $black,
"black" $black $white,
"grey" $lightgrey $black;


.tl-box {
    @each $boxname, $boxbackground, $boxtext in $boxvariables {
        &--#{$boxname} {
            @include container(0, 0);
            @include box($boxbackground, $boxtext);
        }
    }
}


.tl-box--center {
    @each $boxname, $boxbackground, $boxtext in $boxvariables {
        &--#{$boxname} {
            @include container(0, 0);
            @include box($boxbackground, $boxtext);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}



