.tl-button {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 20px;
    max-width: 80%;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    cursor: pointer;

    @media (max-width: 1000px) {
        font-size: 14px;
    }

    &:hover {
        text-decoration: underline;
    }


}


.tl-button--arrow {
    &:after {
        content: "";
        background-image: url(../files/images/buttonarrow.svg);
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-left: 10px;
    }
}

.tl-button--orange {
    background-color: $orange;
    color: black;
}

.tl-button--purple {
    background-color: $purple;
}

.tl-button--salmon {
    background-color: $salmon;
    color: black;
}

.tl-button--white {
    background-color: white;
    border: 3px solid black;
    color: black;
    font-weight: bold;
}

