@font-face {
    font-family: 'Atlas Typewriter Web';
    src: url('../files/fonts/AtlasTypewriter-Bold-Web.woff2') format('woff2'), url('../files/fonts/AtlasTypewriter-Bold-Web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}


@font-face {
    font-family: 'Atlas Typewriter Web';
    src: url('../files/fonts/AtlasTypewriter-Regular-Web.woff2') format('woff2'), url('../files/fonts/AtlasTypewriter-Regular-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}


@font-face {
    font-family: "LL Circular Black";
    src: url("../files/fonts/lineto-circular-blackItalic.eot");
    src: url("../files/fonts/lineto-circular-blackItalic.eot?#iefix") format("embedded-opentype"), url("../files/fonts/lineto-circular-blackItalic.woff2") format("woff2"), url("fonts/lineto-circular-blackItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: "LL Circular Black";
    src: url("../files/fonts/lineto-circular-black.eot");
    src: url("../files/fonts/lineto-circular-black.eot?#iefix") format("embedded-opentype"), url("../files/fonts/lineto-circular-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
