h1, h2, h3, h4, h5 {
    font-family: 'LL Circular Black Italic Web', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}


h2 {
    font-size: 50px;
    line-height: 50px;

    @media(max-width: 996px) {
        font-size: 40px;
        line-height: 40px;
    }

    @media(max-width: 500px) {
        font-size: 30px;
        line-height: 30px;
    }
}

h3 {
    font-size: 30px;
    line-height: 30px;
}
