.tl-image {

    &--wide {
        display: flex;

        @include media-min(small) {
            min-height: 450px;
        }

        img {
            width: auto;
            height: 100%;
            max-height: -moz-available; /* WebKit-based browsers will ignore this. */
            max-height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
            max-height: stretch;
        }


        &--right {
            @extend .tl-image--wide;
            justify-content: flex-start;
        }

        &--left {
            @extend .tl-image--wide;
            justify-content: flex-end;
        }

        @include media-max(medium) {

            padding: 0;

            img {
                width: 100%;
                max-height: unset;
            }
        }
    }
}
