$headingvariables: xsmall 20, smaller 30, small 35, medium 45, large 60, xlarge 70;

$colours: orange $orange, black $black, white $white, purple $purple, salmon $salmon;

.tl-heading {
    @each $headingname, $headingsize in $headingvariables {
        &--#{$headingname} {
            @include heading($headingsize);

            @each $arrowcolour, $arrowcolourcode in $colours {
                &--addarrow--#{$arrowcolour} {
                    @include headingarrow($headingsize, $arrowcolour);
                }
            }
        }
    }

    &--employer {
        $fontsize: 50;
        h2 {
        @include font(header, $fontsize + px, italic, 400, $fontsize + px);
        padding-bottom: ($fontsize * 0.75) + px;

        @include media-max(large) {
            @include font(header, ($fontsize * 0.8) + px, italic, 400, ($fontsize * 0.8) + px);
        }

        @include media-max(medium) {
            @include font(header, ($fontsize * 0.8) + px, italic, 400, ($fontsize * 0.8) + px);
        }
    }
        }
}

.tl-bigtext {
    @each $headingname, $headingsize in $headingvariables {
        &--#{$headingname} {
            @include bigtext($headingsize);

            @each $fontcolour, $fontcolourcode in $colours {
                &--#{$fontcolour} {
                    @include bigtext($headingsize);
                    color: $fontcolourcode;
                }
            }
        }
    }
}


    .tl-body {
        margin-bottom: 16px;
        @include font(body, 18px, $lh: 26px);


        @include media-max(medium) {
            @include font(body, 16px, $lh: 24px);
        }
    }

    .tl-lead {
        @include margin(bottom, 30);
        @include font(body, 20px, $lh: 27px);

        @include media-max(medium) {
            @include margin(bottom, 20);
            @include font(body, 18px, $lh: 26px);
        }
    }

    .tl-nobreak {
        white-space: nowrap;
    }


