.tl-container {
    max-width: 1200px;
    margin: 0 auto;
}

.tl-content {
    padding: 20px;

    p {
        line-height: 26px;
    }
}

.hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}


.tl-image--responsive {
    width: 100%;
    height: auto;
    display: block;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@media (max-width: 767px) {
    .text-right-mobile {
        text-align: right;
    }

    .text-left-mobile {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .text-right-desktop {
        text-align: right;
    }

    .text-left-desktop {
        text-align: left;
    }
}

.tl-middle {
    margin:0 auto;
    display: block;
}

.no-break {
    white-space: nowrap;
}


.text-outline--white {
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.text-outline--black {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.text-orange {
    color: $orange;
}

.text-purple {
    color: $purple;
}

.text-salmon {
    color: $salmon;
}

.tl-link {
    color: black;
}

.tl-link--white {
    color: white;
}

.tl-link--external {

    &:after {
        content: "";
        background-image: url(../files/images/arrowexternal.svg);
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        display: inline-block;
        margin-left: 10px;
        height: 20px;
        width: 20px;
        top: 3px;
        position: relative;
    }
}



.tl-input {
    padding: 20px;
    border: none;
}

.tl-list {
    list-style: none;
    padding: 0;
    margin:0 0 2rem 0;

    li {
        padding: 4px 0;
    }
}

.tl-list-small {
    margin: 0 0 1rem 0;
}

.tl-list-bullet {
    list-style: disc;
    padding-left: 20px;
}

.tl-text-big {
    font-size: 20px;
}

.tl-margin-0 {
    margin: 0 !important;
}

.tl-margin-top-0 {
    margin-top: 0 !important;
}
.tl-margin-bottom-0 {
    margin-bottom: 0 !important;
}


.tl-uppercase {
    text-transform: uppercase;
}

.tl-underline {
    text-decoration: underline;
}

.tl-underline-none {
    text-decoration: none;
}

.tl-arrow--big {
    &:after {
        content: "";
        background-image: url(../files/images/arrow2.svg);
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        display: inline-block;
        width: 46px;
        height: 30px;
        margin-left: 10px;
    }
}

.tl-breakword {
    word-break: break-all;
}

input, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    font-size: 16px;
}