.tl-casestudy {
    &--quote {
        @include media-min(small) {
            @include margin(bottom, 60);
        }
    }

    &--video {

        a {
            display: inline-block;
            @include margin(bottom, 20);
            @include margin(top, 10);

            @include margin(left, 10);
        }
    }

    &--profile {

        img {
            border-radius: 50%;
            margin-right: 10px;
            max-width: 80px;
        }

        span {
            @include font(body, 18px, $lh: 20px);
        }
    }
}
