/* Global cookie message */
.js-enabled #global-cookie-message {
    display: none;
    /* shown with JS, always on for non-JS */
}

#global-cookie-message {

    p {
        font-weight: 400;
        text-transform: none;
        font-size: 14px;
        line-height: 1.14286;
        @include margin(top, 0);
        @include margin(bottom, 0);
        padding: 0 10px;
    }

    @include media-min(small) {
        font-size: 16px;
        line-height: 1.25;
    }
}

.tl-button--cookies {
    @extend .tl-button--black;
    margin: 10px 20px 0 0;
}

.tl-modal--cookies {
    display: block;

    &.hidden {
        display: none
    }
}