/* Global cookie message */
.js-enabled #global-cookie-message {
    display: none;
    /* shown with JS, always on for non-JS */
}

#global-cookie-message {

     p {
        font-family: "nta", Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 14px;
        line-height: 1.14286;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 10px;
     }

}

.tl-cookie-link {
    color: black;
}

@media (min-width: 641px) {
    #global-cookie-message p {
        font-size: 16px;
        line-height: 1.25;
    }
}


.tl-button--cookies {
    @extend .tl-button;
    color: white;
    padding: 10px;
    margin: 10px 10px 0 0;
}

.tl-modal--cookies {
    display: block;

    &.hidden {
        display: none
    }
}