#tl-footer {
    background-color: $orange;
    padding: 20px 40px;
    color: white;
    font-size: 14px;
    position: relative;
    margin-top: 220px;

    &:before {
        content: "";
        background-image: url(../files/images/arroworange.svg);
        background-size: 200px;
        position: absolute;
        top: -160px;
        left: 50%;
        margin-left: -100px;
        display: block;
        height: 180px;
        width: 200px;
    }


    .tl-footer--social {

        img {
            max-height: 20px;
        }
    }

    a {
        color: white;
        word-break: break-all;
    }

    .tl-footer--logo {
        max-height: 50px;
        margin-top: 10px;
    }
}
