 $logowidth: 200;

#tl-nav {
    display: flex;
    justify-content: space-between;
    @include container(($logowidth / 6));
    position: relative;
    z-index: z('nav');
    background-color: $white;

    .tl-nav--logo a {
        @include align(left);
        background: image("logo" + "medium" + ".svg") no-repeat left center;
        min-width: $logowidth + px;
        min-height: ($logowidth / 6) + px;
    }

    .tl-nav--bar {
        @include font(header, 14px, italic, bold);
        @include align(right);
        z-index: z('nav');
        align-items: flex-end;
        display: flex;
        background-color: $white;


        @include media-max(medium) {
            display: none;
            position: absolute;
            width: 100%;
            left: 0;
            top: ($logowidth / 2) + px;
            border-top: 1px solid $black;
        }

        li {
            padding: 0 12px;

            @include media-max(medium) {
                padding: 0;
            }
        }

        a {
            @include linkalt($black, $orange);
            text-decoration: none;
            display: block;

            @include media-max(medium) {
                padding: 20px;
                border-bottom: 1px solid $grey;

                &:hover {
                    background-color: $lightgrey;
                }
            }
        }
    }

    .tl-nav--hamburger {
        display: none;
        align-items: center;
        cursor: pointer;

        @include media-max(medium) {
            display: flex;
        }

        i {
            font-size: 10px;
            width: 35px;
            height: 4px;
            background-color: currentColor;
            color: black;
            display: block;
            position: relative;
            margin: 0;

            &:before {
                @include pseudo;
                width: 35px;
                height: 4px;
                background-color: currentColor;
                top: -8px;
                transition: 0.3s ease-in-out;
            }

            &:after {
                @include pseudo;
                width: 35px;
                height: 4px;
                background-color: currentColor;
                top: 8px;
                transition: 0.3s ease-in-out;
            }
        }
    }

    &.active {
        .tl-nav--hamburger {
            i {
                height: 0;

                &:after {
                    transform: rotate(45deg);
                    top: 0px;
                    transition: 0.3s ease-in-out;
                }

                &:before {
                    transform: rotate(-45deg);
                    top: 0px;
                    transition: 0.3s ease-in-out;
                }
            }
        }

        .tl-nav--bar {
            display: flex;

            @include media-max(medium) {
                display: block;
            }
        }
    }
}
