#tl-search {
    background: $black;
    color: $white;
    padding: 60px 0;


    h1 {
        @extend .tl-heading--medium;
    }

    h2 {
        @extend .tl-heading--medium;
        text-align: center;
    }

    input, select {
        padding: 15px;
        border: none;
        @include font(body, 16px, $lh: 20px);


        @include media-max(small) {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    select {
        position: relative;
        background: image("/arrows/arrow3.svg") 96% no-repeat;
        background-size: 17px;
        background-color: $white;
        cursor: pointer;
        padding: 15px 35px 15px 15px;

        @include media-between(small, medium) {
            max-width: 300px;
        }
    }

    button {
        @include media-max(small) {
            width: 100%;
            text-align: center;
        }
    }

    &--alt {
        @extend #tl-search;
        background: $orange;
        color: $black;
        padding: 60px 0;

        h3 {
            text-align: left;

            @include media-max(small) {
                text-align: center;
            }
        }

        .tl-validation--message {
            color: black;
        }

        .tl-validation--error {
            .tl-validation--message {
                display: block;
            }

            .tl-search--form--postcode {
                border: 3px solid black !important;
            }
        }
    }
}

.tl-find {
    padding: 100px 0 !important;

    @include media-max(small) {
        padding: 60px 0 !important;

        input, select {
            text-align: left !important;
        }
    }
}

.tl-search--form {
}

.tl-validation--message {
    display: none;
    @include margin(bottom, 10);
    width: 100%;
    @include font(circular, 16px, $lh: 20px);
    color: red;
}

.tl-validation--error {
    .tl-validation--message {
        display: block;
    }

    .tl-search--form--postcode {
        border: 3px solid red !important;
    }
}

#tl-results {
    padding: 40px 0;

    .tl-results--block {
        background: $white;
        padding: 40px;
        margin: 20px 0;
        position: relative;


        h4 {
            @include font(header, 24px, $lh: 26px);
            max-width: calc(100% - 100px);

            @include media-max(small) {
                margin-top: 15px;
            }
        }

        h5 {
            @extend .tl-body;
            font-weight: bold;
            margin-bottom: 5px;
        }

        @include media-max(small) {
            padding: 30px;
        }

        ul {
            @extend .tl-list--vertical;
            @extend .tl-list--bullet;

            @include media-max(small) {
                @include font(body, 14px);
            }
        }

        &--distance {
            background: $black;
            color: $white;
            position: absolute;
            padding: 15px 20px;
            top: 0;
            right: 0;

            @include media-max(small) {
                font-size: 14px;
                padding: 10px 15px;
            }
        }

        a {
            margin-top: 10px;
        }
    }

    .tl-results--google {
        text-align: right;
        width: 100%;


        .tl-results--google--image {
            max-width: 144px;

            @include media-max(xsmall) {
                @include margin(bottom, 20);
            }
        }
    }
}
