#tl-video, #tl-video--student, #tl-employer-home--video {
    background: $black;
    z-index: z('video');
    color: $white;

        h2 {
        padding-bottom: 0;
        @include margin(bottom, 0);
    }
}

.tl-video {
    width: 100%;
}


#tl-video--student {
    .tl-container {
        max-width: 1920px;
    }
}

.tl-video--square {
    position: relative;
    height: 0;
    padding-bottom: 100%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.tl-video--full {
    height: 0;
    padding-bottom: 56.25%;

    iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        user-select: none;
        min-width: 100%;
        max-width: 100%;
    }
}
