.tl-box {
    height: 100%;
    padding: 40px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

    p {
        width: 100%;

        @media (max-width: 1000px) {
            font-size: 14px;
        }
    }

    h2 {
        margin: 0 0 1rem 0;
        width: 100%;
    }
}

.tl-box--wide {
    padding: 20px;
}

.tl-box--orange {
    background-color: $orange;
    color: black;
}

.tl-box--purple {
    background-color: $purple;
    color: white;
}

.tl-box--white {
    background-color: white;
    color: black;
}

.tl-box--salmon {
    background-color: $salmon;
    color: black;
}