<div class="row">
  <div class="hm-gov-logo black-bg col-12">
    <img loading="lazy" src="../../../assets/img/hm-gov-logo-header.svg" width="112" alt="HM Government">
  </div>
</div>

<div class="row">

<header id="header-container" class="govuk-header col-12 sticky-top" role="banner" data-module="govuk-header">

  <app-navigation id="app-navigation"></app-navigation>


  <!-- <div class="govuk-header__container govuk-width-container">

    <div class="govuk-header__logo">
        <a routerLink="/" class="govuk-header__link govuk-header__link--homepage web-logo">
          <span class="govuk-header__logotype">
            <img loading="lazy" src="../../../assets/img/full_logo.svg" alt="T-LEVELS">
          </span>
        </a>
    </div> -->
    <!-- <nav>
      <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
          <a routerLink="/introduction" class="govuk-header__link">
            About T Levels
          </a>
        </li>
        <li class="govuk-header__navigation-item">
          <a routerLink="/benefits" class="govuk-header__link">
            Why choose T Levels?
          </a>
        </li>
        <li class="govuk-header__navigation-item">
          <a routerLink="/subjects" class="govuk-header__link">
            T Level Subjects
          </a>
        </li>
        <li class="govuk-header__navigation-item">
          <a routerLink="map" class="govuk-header__link">
            Find a T Level
          </a>
        </li>
      </ul>
    </nav> -->


    <!-- <app-navigation id="app-navigation"></app-navigation> -->


    <!-- <div class="govuk-header__content">
        <a href="#" routerLink="/introduction" class="govuk-header__link govuk-header__link--service-name">Introduction</a>
        <a href="#" routerLink="/benefits" class="govuk-header__link govuk-header__link--service-name">Benefits</a>
        <a href="#" routerLink="/subjects" class="govuk-header__link govuk-header__link--service-name">Subjects</a>
        <a href="#" routerLink="/map" class="govuk-header__link govuk-header__link--service-name">Map</a>
    </div> -->

  <!-- </div> -->
</header>

</div>

