<div class="row">
  <div class="main-hero col-12 p-0">
    <img src="../../../assets/img/hero-dummy.jpg" alt="T-Levels hero image" />
  </div>
</div>


<div class="main-content homepage row">

  <h1 class="welcome-h1 col-12 p-0">
    <!-- <span>>Welcome to the next Level</span> -->
    <img loading="lazy" src="../../../assets/img/welcome-text-h1.gif" alt="Welcome to the next Level" />
  </h1>

  <main class="col-12 tile-col-2">
    <div class="row red-bg">
      <div class="col-12 col-md-6 p-0">
        <div class="border-image-container no-border">
          <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
        </div>
      </div>
      <div class="col-12 col-md-6 p-0 d-flex">
          <div class="text-container">
            <h2 class="heading-style-2">A new qualification</h2>

            <p>T Levels are a brand new, 2-year qualification that will give you a head start towards the future you want.</p>
            <p>The Government has developed T Levels to deliver world class technical education and give you a new choice after GCSEs.</p>

            <a routerLink="/benefits" class="govuk-button btn-primary-black">Discover the benefits of T Levels <span class="btn-arrow"></span></a>
          </div>
      </div>
    </div>

    <div class="row red-bg">
      <div class="col-12 col-md-6 p-0">
        <div class="border-image-container no-border">
          <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
        </div>
      </div>
      <div class="col-12 col-md-6 p-0 d-flex">
        <div class="text-container">
          <h2 class="heading-style-2">Created with business</h2>

          <p>T Levels have been designed with businesses and employers to give students the knowledge and skills they need - so you can be confident that a T Level will help you move into the career you want.</p>

          <a routerLink="/map" class="govuk-button btn-primary-black">Find a T Level near you <span class="btn-arrow"></span></a>
        </div>
      </div>
    </div>

    <div class="row find-postcode black-bg">
      <div class="col-12">
        <h3><span>Find a T Level</span> near you</h3>

        <div class="govuk-width-container">
          <div class="input-group mb-3">
            <input name="postcode" type="text" class="form-control" id="postcode" />
            <button class="btn btn-outline-secondary" type="button">Search</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row employer-logo-list white-bg">
      <div class="col-12">
        <!-- <h4>Employers</h4>
        <ul>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
        </ul> -->
        <br />
        <br />
      </div>
    </div>

  </main>

</div>

