#tl-about {
    #tl-footer {
        background-color: $purple;
        color: white;

        a {
            color: white;
        }

        svg, g {
            fill: white;
        }

        &:before {
            background-image: url(../files/images/arrowpurple.svg);
        }

        .tl-footer--bottom {
            @extend .tl-border-top--white;
        }
    }

    #tl-nav--bar-about {
        color: $orange;
        font-weight: bold;
    }
}
