<div id="tl-covid--message" class="tl-covid--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-9">
                <h2>Coronavirus (COVID-19): how it affects T Level students</h2>
                <div class="tl-covid--banner--content">
                    <p>
                        T Levels will continue to be delivered from September 2020. If you have questions about how the COVID-19 outbreak may impact a course you are interested in, please contact your local T Level school or college.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <a class="tl-link--covid tl-js--visible" tabindex="0" role="link" id="tl-covid-message-dismiss">Hide</a>

            </div>
        </div>
    </div>
</div>
