@{ var pagePath = ViewData["PagePath"];}
<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        'pagePath': window.location.pathname + '@(pagePath)'
    });
</script>
<!-- Optimize antiflicker -->
<style>
    .async-hide {
        opacity: 0 !important
    }
</style>
<script>
    (function (a, s, y, n, c, h, i, d, e) {
        s.className += ' ' + y; h.start = 1 * new Date;
        h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
        (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
    })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
        { 'GTM-N98Q8VJ': true });</script>

<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-N98Q8VJ');</script>
<!-- End Google Tag Manager -->

<meta charset="utf-8">
@{ var subtitle = ViewData["Title"];}
<title>@(subtitle != null ? subtitle + " | T Levels" : "T Levels | The Next Level Qualification")</title>
@{
    var metaDescription = ViewData["MetaDescription"];
    if (metaDescription != null)
    {
        <meta name="description" content="@metaDescription">
    }
}
<meta name="viewport" content="width=device-width">

        <link rel="apple-touch-icon" sizes="57x57" href="/files/images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/files/images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/files/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/files/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/files/images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/files/images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/files/images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/files/images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/files/images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/files/images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/files/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/files/images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/files/images/favicon-16x16.png">
        <link rel="manifest" href="/files/images/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/files/images/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="/css/main.css" asp-append-version="true">

