@model FindViewModel
<section id="tl-search--alt">
    <div class="tl-container">
        <div class="row">
            <div class="col-12">
                <h3 class="tl-heading--medium">Find a T Level near you</h3>
                <form asp-action="Find" method="post" class="tl-search--form tl-margin-top--30">
                    <span class="tl-validation--message">You must enter a postcode or town</span>
                    <label asp-for="SearchTerm" class="tl-hidden">Postcode or town</label>
                    <input type="hidden" asp-for="ShouldSearch" value="true" />
                    <input asp-for="SearchTerm" class="tl-search--form--postcode" placeholder="Enter postcode or town" aria-label="Enter a postcode or town to find a T Level near you" />
                    <button id="tl-find-button" type="submit" class="tl-button--search--black" aria-label="Search for a T Level">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>