.tl-table {
    min-width: 60%;
    margin: 20px 0;

    * {
        text-align: left;
    }

    th {
        border-bottom: 1px solid #cdcdcd;
        padding: 10px 5px;
    }

    td {
        border-bottom: 1px solid #cdcdcd;
        padding: 5px 10px;

        @media(max-width: 500px) {
            word-break: break-word;
            min-width: 80px;
        }
    }
}
