<div class="main-content row">

  <main class="col-12 tile-col-2">

    <div class="row purple-bg">
      <div class="col-12 col-md-6 p-0 d-flex">
          <div class="text-container">
            <h1 class="heading-style-2">About T Levels</h1>

            <p>T Levels are a brand new, 2-year qualification that will give you a head start towards the future you want.</p>

            <p>They bring classroom learning and an extended industry placement together on a course designed in partnership with businesses and employers.</p>

            <a routerLink="/map" class="govuk-button btn-primary-black">Find a T Level near you<span class="btn-arrow"></span></a>
          </div>
      </div>
      <div class="col-12 col-md-6 p-0">
        <div class="border-image-container no-border">
          <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
        </div>
      </div>
    </div>

    <div class="row find-postcode black-bg">
      <div class="col-12">
        <h3><span>Find a T Level</span> near you</h3>

        <div class="govuk-width-container">
          <div class="input-group mb-3">
            <input name="postcode" type="text" class="form-control" id="postcode" />
            <button class="btn btn-outline-secondary" type="button">Search</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 p-0">
        <div class="border-image-container no-border">
          <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
        </div>
      </div>
      <div class="col-12 col-md-6 p-0 d-flex">
          <div class="text-container">
            <p>T Levels are ideal if you have finished your GCSEs and want the knowledge and experience to get straight into employment, an apprenticeship or higher education.</p>

            <p>You’ll spend 80% of your time in the classroom and 20% on a 45-day placement with an employer to give you the knowledge and skills companies are looking for.</p>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 p-0">
        <div class="border-image-container no-border">
          <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
        </div>
      </div>
      <div class="col-12 col-md-6 p-0 d-flex">
          <div class="text-container">
            <p>T Levels take 2 years of full time study and are equivalent to 3 A Levels.</p>

            <p>The first 3 T Levels start in September 2020 at selected schools and colleges in England with more coming in the following years.</p>

            <a routerLink="/subjects" class="govuk-button btn-primary-black">See what subjects you can study <span class="btn-arrow"></span></a>
          </div>
      </div>
    </div>

    <div class="row employer-logo-list white-bg">
      <div class="col-12">
        <!-- <h4>Employers</h4>
        <ul>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
        </ul> -->
        <br />
        <br />
      </div>
    </div>

  </main>

</div>
