@mixin heading($fontsize) {
    @include font(header, $fontsize + px, italic, 400, $fontsize + px);
    padding-bottom: ($fontsize * 0.75) + px;

    @include media-max(medium) {
        @include font(header, ($fontsize * 0.8) + px, italic, 400, ($fontsize * 0.8) + px);
    }

    @if $fontsize > 21 {
        @include media-max(small) {
            @include font(header, ($fontsize * 0.6) + px, italic, 400, ($fontsize * 0.6) + px);
        }
    }
}


@mixin bigtext($fontsize) {
    @include font(circular, $fontsize + px, normal, 400, $fontsize + px);
    padding-bottom: ($fontsize * 0.75) + px;

    @include media-max(medium) {
        @include font(circular, ($fontsize * 0.8) + px, normal, 400, ($fontsize * 0.8) + px);
    }

    @if $fontsize > 21 {
        @include media-max(small) {
            @include font(header, ($fontsize * 0.6) + px, italic, 400, ($fontsize * 0.6) + px);
        }
    }
}

@mixin headingarrow($fontsize, $colour) {

    @include font(header, $fontsize + px, italic, 400, $fontsize + px);
    padding-bottom: ($fontsize * 0.75) + px;
    display: inline-flex;

    @include media-max(medium) {
        @include font(header, ($fontsize * 0.8) + px, italic, 400, ($fontsize * 0.8) + px);
    }

    @if $fontsize > 21 {
        @include media-max(small) {
            @include font(header, ($fontsize * 0.6) + px, italic, 400, ($fontsize * 0.6) + px);
        }
    }

    &:before {
        background-image: image("arrows/arrowup-" + $colour + ".svg");
        content: "";
        background-size: 30px 50px;
        min-width: ($fontsize * 1.5) + px;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        float: left;
        margin: 0 ($fontsize * 1) + px 0 0;
        transition: 0.3s ease-in;
        height: ($fontsize * 1.5) + px;

        @include media-max(small) {
            margin: 0 ($fontsize * 1) + px 0 0;
        }
    }
}

@mixin headingarrowbig($fontsize, $colour) {

    @include font(header, $fontsize + px, italic, 400, $fontsize + px);
    padding-bottom: ($fontsize * 0.75) + px;
    display: inline-flex;

    @include media-max(medium) {
        @include font(header, ($fontsize * 0.8) + px, italic, 400, ($fontsize * 0.8) + px);
    }

    @include media-max(small) {
        padding-left: ($fontsize * 1.75) + px;
        position: relative;
    }



    &:before {
        background-image: image("arrows/arrowup-" + $colour + ".svg");
        content: "";
        background-size: ($fontsize * 1.75) + px auto;
        min-width: ($fontsize * 1.75) + px;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        float: left;
        margin: 0 10px 0 0;
        transition: 0.3s ease-in;
        height: ($fontsize * 1.75) + px;

        @include media-max(medium) {
            background-size: ($fontsize * 1.5) + px auto;
            height: ($fontsize * 1.5) + px;
        }

        @include media-max(small) {
            background-size: ($fontsize * 1.25) + px auto;
            height: ($fontsize * 1.25) + px;
            top: -6px;
            position: absolute;
            left: 0px;
        }
    }
}



@mixin headingarrowlink($fontsize) {
    display: inline-block;

    &:before {
        margin: 0 ($fontsize * 1) + px ($fontsize * 2) + px 0;

        @include media-max(small) {
            margin: 0 ($fontsize * 1) + px ($fontsize * 1) + px 0;
        }
    }

    a {
        line-height: ($fontsize * 1.6) + px;
    }
}