$sitewidth: 1200;
$sitepadding: 15;

@mixin align($align-position) {
    @if $align-position == "center" {
    margin-left: auto;
    margin-right: auto;
    }

    @else if $align-position == "left" or $align-position == "right" {
        float: $align-position;
    }

    @else {
        float: inherit;
    }
}

@mixin textalign($align-position) {
        text-align: $align-position;
}


@mixin container($top: 0, $sides: $sitepadding) {
    max-width: ($sitewidth + ($sides * 2)) + px;
    width: 100%;
    padding: $top + px $sides + px;
    @include align(center);

}

