<section id="tl-employer-cta" class="tl-content-normal--salmon tl-content-padded">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                    <h3>Get involved now</h3>
                    <p>For more guidance or help finding local students for industry placements:</p>
                    <ul class="tl-list--vertical tl-list--bullet">
                        <li>call the industry placement hotline - <span class="tl-bigtext--xsmall"><a class="tl-link-inline-black--white" id="tl-employer-cta-tel" href="tel:+4408000150600">08000 150 600</a></span> (choose option 4)</li>
                        <li>email - <span class="tl-bigtext--xsmall"><a class="tl-link-inline-black--white" id="tl-employer-cta-email" href="mailto:tlevel.placement@education.gov.uk?subject=Industry%20placement%20enquiry&body=To%20make%20it%20easier%20for%20us%20to%20help%20you,%20please%20include:%0D%0A-%20your%20name%20and%20the%20name%20of%20your%20business%0D%0A-%20the%20nature%20of%20your%20enquiry%0D%0A-%20how%20you%20would%20like%20us%20to%20contact%20you%20(if%20by%20phone,%20tell%20us%20when%20is%20convenient)%0D%0A%0D%0AWe%20will%20only%20use%20this%20information%20to%20contact%20you%20about%20your%20enquiry.%0D%0AWe%20will%20delete%20it%20from%20our%20system%20within%2030%20days%20of%20receiving%20it. ">tlevel.placement@education.gov.uk</a></span></li>
                    </ul>
                </div>
        </div>
    </div>
</section>










