<section id="tl-employer-cta" class="tl-content-normal--salmon tl-content-padded">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                    <h3>Get involved now</h3>
                    <p>For more guidance or help finding local students for industry placements:</p>
                    <ul class="tl-list--vertical tl-list--bullet">
                        <li>call the industry placement hotline - <span class="tl-bigtext--xsmall"><a class="tl-link-inline-black--white" href="tel:+4408000150600">08000 150 600</a></span> (choose option 4)</li>
                        <li>email - <span class="tl-bigtext--xsmall"><a class="tl-link-inline-black--white" href="mailto:tlevel.placement@education.gov.uk?subject=Industry%20placement%20enquiry">tlevel.placement@education.gov.uk</a></span></li>
                    </ul>
                </div>
        </div>
    </div>
</section>










