<div id="global-cookie-message" class="@ViewData["CookieBanner"]">
    <div class="tl-container">
        <div class="tl-modal tl-modal--cookies" aria-modal="true">
            <div class="tl-modal--content">
                <p>We use small files called cookies to record anonymous information about how you use this website. We use this information to improve your experience on the site.</p>
                <p><a class="tl-button--cookies" tabindex="0" id="global-cookie-message-dismiss">Accept cookies</a> <a class="tl-link--cookies" href="/cookie-settings" id="global-cookie-message-moreinfo">Cookie settings</a></p>
            </div>
        </div>
    </div>
</div>
