<div id="global-cookie-message">
    <div class="tl-container">
            <p>This website uses cookies to make the site simpler. <a class="govuk-link" href="/Home/Cookies">Find out more about cookies</a> or <a class="govuk-link" href="#" id="global-cookie-message-dismiss">hide this message</a></p>
    </div>
</div>
