<div id="tl-covid--message" class="tl-covid--banner tl-covid--banner--hidden">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-9">
                <h2>Coronavirus (COVID-19): how it affects T Level industry placements</h2>
                <div class="tl-covid--banner--content">
                    <p>
                        Coronavirus is having a significant impact on businesses and employers across the country. To find out what support is available, read the <a class="tl-link-inline-black--black" href="https://www.gov.uk/government/publications/guidance-to-employers-and-businesses-about-covid-19">GOV.UK guidance for employers, employees and businesses</a>.
                    </p>
                    <p>
                        For enquiries about industry placements, please email <a class="tl-link-inline-black--black" href="mailto: tlevel.placement@education.gov.uk">tlevel.placement@education.gov.uk</a>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <a class="tl-link--covid" tabindex="0" role="link" id="tl-covid-message-dismiss">Hide</a>

            </div>
        </div>
    </div>
</div>
