<footer id="tl-footer" class="tl-container">
    <div class="row">
        <div class="col-md-10">
            <p>Follow us <a class="tl-footer--social" href="#"><img src="/files/images/instagram.svg" alt="Follow us on instagram" /></a> <a class="tl-footer--social" href="#"><img src="/files/images/twitter.svg" alt="Follow us on twitter" /></a> <a class="tl-footer--social" href="#"><img src="/files/images/facebook.svg" alt="Follow us on facebook" /></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <p>For more information about T Levels, visit <a href="http://www.gov.uk/dfe/t-levels">http://www.gov.uk/dfe/t-levels</a></p>
            <p>For information about how employers can get involved with industry placements, visit <a href="https://sfacontactforms.azurewebsites.net/employer-enquiry">https://sfacontactforms.azurewebsites.net/employer-enquiry</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="tl-footer--logo" src="/files/images/hmgovbig.svg" />
        </div>
        <div class="col text-right">
            <img class="tl-footer--logo" src="/files/images/logosmall.svg" />
        </div>
    </div>

</footer>