@{ var PagePath = ViewData["PagePath"];}
<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        'pagePath': window.location.pathname + '@(PagePath)',
    });
</script>

<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-N98Q8VJ');</script>
<!-- End Google Tag Manager -->

<meta charset="utf-8">
@{ var subtitle = ViewData["Title"];}
<title>@( subtitle != null ? subtitle + " - T Levels" : "T Levels - The Next Level Qualification")</title>
<meta name="description" content="T Levels">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="/css/fonts.css">
<link rel="stylesheet" href="/css/main.css">

