<!DOCTYPE html>
<html>
<head>
    <partial name="_Head" />
    @RenderSection("cssfiles", false)

</head>
<body id="@ViewData["PageID"]">
    <partial name="_Header" />
    <partial name="_Nav" />
    <main>
        @RenderBody()
    </main>
    <partial name="_Footer" />
    <partial name="_Scripts" />
    @RenderSection("jsfiles", false)

</body>
</html>
