<!DOCTYPE html>
<html>
<partial name="_Head" />

<body id="@ViewData["PageID"]">
    <partial name="_Header" />
    <partial name="_Nav" />
    <main>
        @RenderBody()
    </main>
    <partial name="_Footer"  />
    <partial name="_Scripts"  />

</body>
</html>
