<!DOCTYPE html>
<html>
<partial name="_Head" />

<body>
    <partial name="_Header" />
    <partial name="_Nav" />

    @RenderBody()

    <partial name="_Footer"  />
    <partial name="_Scripts"  />

</body>
</html>
