<nav id="tl-nav">
        <h1 class="tl-nav--logo"><a href="/" id="tl-nav--bar-logo"><span class="tl-hidden">T Levels - The next level qualification</span></a></h1>
        <a class="tl-nav--hamburger" id="tl-nav--hamburger" aria-expanded="false" href="#navigation"><i><span class="tl-hidden">Main navigation</span></i></a>


        <ul class="tl-nav--bar">
            <li>
                <a id="tl-nav--bar-student--home" href="/student">Student home</a>
            </li>

            <li>
                <a id="tl-nav--bar-student--about" href="/student/about">About T Levels</a>
            </li>
            <li>
                <a id="tl-nav--bar-student--why" href="/student/why">Why choose T Levels</a>
            </li>
            <li>
                <a id="tl-nav--bar-student--subjects" href="/student/subjects">T Level subjects</a>
            </li>
            <li>
                <a id="tl-nav--bar-student--find" href="/student/find" class="tl-button--arrow">Find a T Level</a>
            </li>
        </ul>
</nav>
