<nav id="tl-nav" class="tl-nav--student">
        <h1 class="tl-nav--logo"><a href="/" id="tl-nav--bar-logo"><span class="tl-hidden">T Levels - The next level qualification</span></a></h1>
        <a class="tl-nav--hamburger" id="tl-nav--hamburger" aria-expanded="false" tabindex="0" role="button">Menu<i><span class="tl-hidden">Open main navigation</span></i></a>


        <ul class="tl-nav--bar">
            <li>
                <a id="tl-nav--bar-student--home" href="/students"><span class="tl-hidden">Student </span>Home</a>
            </li>

            <li>
                <a id="tl-nav--bar-student--about" href="/students/about">About T Levels</a>
            </li>
            <li>
                <a id="tl-nav--bar-student--why" href="/students/why">Why choose T Levels</a>
            </li>
            <li>
                <a id="tl-nav--bar-student--subjects" href="/students/subjects">T Level subjects</a>
            </li>
            <li>
                <a id="tl-nav--bar-student--subjects" href="/students/case-studies">Case Studies</a>
            </li>
            <li>
                <a id="tl-nav--bar-student--find" href="/students/find" class="tl-button--arrow">Find a T Level</a>
            </li>
        </ul>
</nav>
