<nav id="tl-nav">
        <h1 class="tl-nav--logo"><a href="/" id="tl-nav--bar-logo"><span class="tl-hidden">T Levels - The next level qualification</span></a></h1>
        <a class="tl-nav--hamburger" id="tl-nav--hamburger" aria-expanded="false" href="#navigation"><i><span class="tl-hidden">Main navigation</span></i></a>


        <ul class="tl-nav--bar tl-nav--bar--employer">
            <li>
                <a id="tl-nav--bar-employer--home" href="/employer">Employer home</a>
            </li>

            <li>
                <a id="tl-nav--bar-employer--about" href="/employer/about">About T Levels</a>
            </li>
            <li>
                <a id="tl-nav--bar-employer--skills" href="/employer/skills-available">Skills available</a>
            </li>
            <li>
                <a id="tl-nav--bar-employer--benefits" href="/employer/benefits">Business benefits</a>
            </li>
            <li>
                <a id="tl-nav--bar-employer--costs" href="/employer/what-it-costs">What it costs</a>
            </li>
        </ul>
</nav>
