<nav id="tl-nav" class="tl-nav--employer">
        <h1 class="tl-nav--logo"><a href="/" id="tl-nav--bar-logo"><span class="tl-hidden">T Levels - The next level qualification</span></a></h1>
        <a class="tl-nav--hamburger" id="tl-nav--hamburger" aria-expanded="false" tabindex="0" role="button">Menu<i><span class="tl-hidden">Open main navigation</span></i></a>


        <ul class="tl-nav--bar tl-nav--bar--employer">
            <li>
                <a id="tl-nav--bar-employer--home" href="/employers"><span class="tl-hidden">Employer </span>Home</a>
            </li>

            <li>
                <a id="tl-nav--bar-employer--about" href="/employers/about">About</a>
            </li>
            <li>
                <a id="tl-nav--bar-employer--skills" href="/employers/skills-available">Skills available</a>
            </li>
            <li>
                <a id="tl-nav--bar-employer--benefits" href="/employers/business-benefits">Business benefits</a>
            </li>
            <li>
                <a id="tl-nav--bar-employer--timeline" href="/employers/how-it-works">How it works</a>
            </li>
            <li>
                <a id="tl-nav--bar-employer--nextsteps" href="/employers/next-steps">Next steps</a>
            </li>

        </ul>
</nav>
