@{
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}

@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<section id="tl-error--header" class="tl-find tl-content-normal--white">
    <div class="tl-container">

        <div class="row">
            <div class="col-md-10 tl-margin-bottom--50">
                <a class="tl-link-black--orange" href="/">< Back to T Levels home page</a>
            </div>

            <div class="col-md-10">

                <h1>Sorry, there is a problem with the service</h1>
                <p class="tl-body">Try again later.</p>
            </div>

        </div>
    </div>
</section>



