@{
    ViewData["Title"] = "About T Levels for students";
    ViewData["MetaDescription"] = "T Levels are a new, 2-year qualification designed to give 16 to 19 year olds a head start towards the career they want.";

    ViewData["PageID"] = "tl-student-about";
}

<section id="tl-headercontent" class="tl-content-wide--orange">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets3New.jpg" alt="" asp-append-version="true" />
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h1>About T Levels</h1>
                    <p>T Levels are a 2-year qualification that you can do  after GCSEs as an alternative to A levels, other post-16 courses or an apprenticeship. </p>
                    <p>They have been designed with leading businesses and employers to give you the knowledge and skills you need. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-maincontent" class="tl-content-wide--white">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6 order-2 order-md-1">
                <div class="tl-content--box">
                    <h2>Get ahead in your career</h2>
                    <p>You’ll spend 80% of your time in the classroom and 20% on a 45-day placement with an employer to give you the skills and knowledge companies look for.</p>
                    <p>Your industry placement gives you the chance to learn what a real career is like while you continue your studies. When and how you complete it depends on the T Level, school or college, and employer. </p>
                    <p>Like A levels, there are no tuition fees to study a T Level if you start before you are 19. </p>
                </div>
            </div>
            <div class="col-md-6 order-1">
                <img src="/files/images/TLevels_WebsiteAssets10.jpg" alt="" asp-append-version="true" />
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets18.jpg" alt="" asp-append-version="true" />
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h2>Equivalent to 3 A Levels and awarded UCAS points</h2>
                    <p>Your T Level will be worth UCAS points (a T Level Distinction* is worth the same as 3 A levels at A*) and will be recognised by universities and other education providers so you can choose to continue studying if you wish.</p>
                    <p>26 of the top 50 universities in <a href="https://www.theguardian.com/education/ng-interactive/2021/sep/11/the-best-uk-universities-2022-rankings" class="tl-link-inline-black--orange" target="_blank">The Guardian’s Best UK Universities 2022 Rankings</a> have agreed to accept T Level students (as of August 2022).</p>
                    <p><a href="https://www.gov.uk/government/publications/t-level-resources-for-universities/providers-that-have-confirmed-t-levels-suitable-for-entry-on-one-course" class="tl-link-black--orange">See the universities accepting T Levels on GOV.UK </a></p>

                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6 order-2 order-md-1">
                <div class="tl-content--box">
                    <h2>Qualifications that count</h2>
                    <p>
                        When you pass your T Level, you will get a nationally recognised certificate showing the overall grade you achieved - pass, merit, distinction or distinction*. It will also give details of what you learned on the course to help you move into skilled employment or a higher apprenticeship.
                    </p>
                    <p>
                    In 2022, over 92% of T Level students achieved a ‘Pass’ or above.
                    </p>
                    <p>
                        <a href="https://www.gov.uk/government/publications/providers-selected-to-deliver-t-levels/education-providers-delivering-the-t-level-transition-programme-in-the-2022-to-2023-academic-year" class="tl-link-inline-black--orange" id="tl-why--studentviews">See the schools and colleges offering the T Level Transition Programme</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 order-1">
                <img src="/files/images/TLevels_WebsiteAssets15New.jpg" alt="" asp-append-version="true" />
            </div>
        </div>

        
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets59.png" alt="" asp-append-version="true" />
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h2>T Level Transition Programme</h2>
                    <p>Think you might like to do a T Level, but need additional help to get you ready to do one? The T Level Transition Programme is a 1-year post-GCSE study programme designed to prepare you for your chosen T Level. </p>
                    <p>It will enable you to develop your English and maths, practical, technical and study skills, and provide work experience to help you excel in your T Level.</p>
                    <p>Talk to your T Level school or college to see if this could be right for you. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_Search" />

@section jsfiles{

}
