@{
    ViewData["Title"] = "T Levels for students";
    ViewData["PageID"] = "tl-student-home";
    ViewData["MetaDescription"] = "T Levels are a 2-year qualification designed to give 16 to 19 year olds a head start towards the career they want.";
}

<section id="tl-banner--student-home">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h1>Welcome to the next level</h1>
                <p class="tl-lead">T Levels are a 2-year qualification designed to give you a head start towards the career you want.</p>
                <p class="tl-lead">
                    The government has developed T Levels to deliver world-class technical education and give you a new choice after GCSEs.
                </p>
                <a href="/students/about" class="tl-button--orange" id="tl-student-home-findoutmore">
                    <span class="tl-hidden--mobile--up">More about T Levels</span>
                    <span class="tl-hidden--mobile--down">Find out more about T Levels</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="tl-maincontent" class="tl-margin-bottom--50--medium tl-content-wide--white">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6 ">
                <div class="tl-content--box">
                    <h2>Supported by business</h2>
                    <p>T Levels were designed with leading businesses and are now supported by employers of all sizes to give students the workplace skills they need to succeed.</p>
                    <p>Hundreds of employers – including Lloyds Banking Group, Nestlé, Yorkshire Water, Persimmon Homes and NHS Trusts across England  – have hosted T Level students on industry placements. </p>
                    <p>Many employers retain T Level students on completion of their course and support progression within their business onto an apprenticeship or into another role.</p>
                </div>
            </div>
            <div class="col-md-6 align-self-center order-1 ">
                <img src="/files/images/TLevels_WebsiteAssets56.png" alt="" asp-append-version="true" />
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6 align-self-center order-2 order-md-1 ">
                <img src="/files/images/TLevels_WebsiteAssets17New.jpg" alt="" asp-append-version="true" />
            </div>
            <div class="col-md-6 order-1">
                <div class="tl-content--box">
                    <h2>What can you learn</h2>
                    <p>Students can already apply for 16 T Level courses. Over the next few years a total of more than 20 T Level subjects will become available.</p>
                    <p>Eventually there will be something for everyone - from agriculture to catering and engineering to finance.</p>
                    <a href="/students/subjects" id="tl-home--subjects" class="tl-button--orange tl-margin-top--10">
                        See all <span class="no-break">T Level</span> subjects
                    </a>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6 ">
                <div class="tl-content--box">
                    <h2>Hear from T Level Students</h2>
                    <p>Hear first hand from students about their experiences of studying T Level subjects, and why they think it’s the ideal next step after GCSEs. </p>
                    <a href="/students/student-stories" id="tl-home--stories" class="tl-button--orange tl-margin-top--10">
                        See <span class="no-break">T Level</span> student stories
                    </a>
                </div>
            </div>
            <div class="col-md-6 align-self-center order-1 ">
                <img src="/files/images/TLevels_WebsiteAssets58.png" alt="" asp-append-version="true" />
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6 align-self-center order-2 order-md-1 ">
                <img src="/files/images/TLevels_WebsiteAssets57.png" alt="" asp-append-version="true" />
            </div>
            <div class="col-md-6 order-1">
                <div class="tl-content--box">
                    <h2>Resources for parents</h2>
                    <p>If you're the parent or carer of a student thinking about taking T Levels, you may have some questions about this new qualification. </p>
                    <p>Find out more about the background of T Levels, entry requirements and more on our dedicated parents' page.</p>
                    <a href="/students/parents" id="tl-home--discover" class="tl-button--orange tl-margin-top--10">
                        Explore resources for parents
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_SearchHome" />

<section id="tl-video--student" class="tl-content-wide--black">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12 tl-margin-top--20 ">
                <div class="tl-video ">
                    <div class="tl-banner--video-image tl-video--full tl-js--visible" id="player">
                        <iframe title="T Levels - the next level qualification" width="560" height="315" src="https://www.youtube-nocookie.com/embed/PTc5pxcHMUY?rel=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="tl-js--hidden tl-margin-bottom--20 tl-margin-top--20">
                        <p><a class="tl-link-white--orange" href="https://www.youtube.com/watch?v=PTc5pxcHMUY">Watch video - T Levels - the next level qualification</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 tl-margin-top--10">
                <p class="tl-body"><a href="/students/transcripts/home" id="tl-student-home-transcript" class="tl-link-white--orange">Read a transcript of this video</a></p>
            </div>
        </div>
    </div>
</section>

<section id="tl-banner--student">
    <div class="tl-banner--content">
        <h2 class="tl-hidden">Welcome to the next level</h2>
    </div>
</section>

@section jsfiles{

}

