@{
    ViewData["Title"] = "Resources for parents";
    ViewData["MetaDescription"] = "";

    ViewData["PageID"] = "tl-student-parents";
}

<section id="tl-headercontent" class="tl-content-wide--orange">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets52.png" alt="" asp-append-version="true" />
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h1>Resources for parents and carers</h1>
                    <p>T Levels were established to strengthen the technical education system in England and give young people the knowledge and skills that employers look for.</p>
                    <p>Combining theoretical knowledge with experience in the real world of work, T Levels give students a head start in their future, whether that's employment, a higher apprenticeship or further education.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-maincontent" class="tl-content-wide--white">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6 order-2 order-md-1">
                <div class="tl-content--box">
                    <h2>How T Levels have been developed</h2>
                    <p>
                        T Levels were developed following recommendations from the <a href="https://www.gov.uk/government/publications/post-16-skills-plan-and-independent-report-on-technical-education" class="tl-link-black--orange">Independent Panel on Technical Education</a>, which aimed to streamline technical education and provide a new high-quality technical option for students aged 16 to 19.
                    </p>
                    <p>Employers and providers have worked together to develop each T Level, and groups of employers have defined the skills and requirements for each course.</p>
                    <p>This ensures that T Level students will develop the technical knowledge and skills required by employers in that industry.</p>
                </div>
            </div>
            <div class="col-md-6 order-1">
                <img src="/files/images/TLevels_WebsiteAssets53.png" alt="" asp-append-version="true" />
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets16New.jpg" alt="" asp-append-version="true" />
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h2>How T Levels compare to apprenticeships</h2>
                    <p>T Levels are different from apprenticeships, but based on the same standards.</p>
                    <p>Apprenticeships are typically 80% on-the-job and 20% in the classroom, and are more suited to those who are ready to enter the workforce at age 16.</p>
                    <p>T Levels involve more classroom study than apprenticeships and prepare students for work, further training or further study. </p>
                    <p><a href="https://nationalcareers.service.gov.uk/explore-your-education-and-training-choices" class="tl-link-black--orange">See how T Levels compare to other post-16 options on the Get the Jump content hub. </a></p>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6 order-2 order-md-1">
                <div class="tl-content--box">
                    <h2>Entry requirements</h2>
                    <p>Schools and colleges set their own entry requirements for T Levels. </p>
                    <p>Students who have not already achieved grade 4 maths and English at GCSE, will be required to work towards them alongside their T Level.</p>
                    <p>And if students aren't ready to start a T Level after GSCEs, the 1-year T Level Transition Programme can provide additional support to help them prepare.</p>
                    <p>Speak to <a href="https://www.tlevels.gov.uk/students/find" class="tl-link-black--orange">your local T Level school or college</a> to find out more about entry requirements and the T Level Transition Programme. </p>
                </div>
            </div>
            <div class="col-md-6 order-1">
                <img src="/files/images/TLevels_WebsiteAssets54.png" alt="" asp-append-version="true" />
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets55.png" alt="" asp-append-version="true" />
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h2>Options after T Levels</h2>
                    <p>T Levels equip young people with the knowledge and skills they need for a successful future.</p>
                    <p>In 2022, 71% of students who applied to university secured a place, while other T Level graduates moved into employment and higher apprenticeships. </p>
                    <p><a href="https://tlevelinfo.org.uk/success-stories/" class="tl-link-black--orange">Success Stories - T-Level Info </a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_Search" />

@section jsfiles{

}
