@{
    ViewData["Title"] = "Case Studies";
    ViewData["MetaDescription"] = "T Level case studies.";

    ViewData["PageID"] = "tl-student-casestudies";
}

<section id="tl-headercontent" class="tl-content-wide--orange">
    <div class="tl-container">

        <div class="row no-gutters">
            <div class="col-md-6 order-2 order-md-1">
                <div class="tl-content--box tl-content--box--left">
                    <h1>Student Stories</h1>
                    <p>Hear directly from students who are taking their T Levels about why you should take the next step.</p>
                    <p>With the option to go on to employment, higher education or apprenticeships, it’s easy to see how T Levels can give you a head start towards the future you want.</p>
                    <p><a href="/students/transcripts/ambassadors6" class="tl-link-black--black tl-display--inline-block">Video transcript</a></p>

                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <div class="tl-video--square">
                    <div class="tl-banner--video-image tl-js--visible" id="player">
                        <iframe title="T Levels ambassador video 1" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Kwhakk28a7k?rel=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="tl-js--hidden tl-margin-bottom--20 tl-margin-top--20">
                        <p><a class="tl-link-white--orange" href="https://www.youtube.com/watch?v=Kwhakk28a7k">Watch video - T Levels ambassador video 1</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>




<section id="tl-maincontent" class="tl-content-wide--white">
    <div class="tl-container">
        <div class="row no-gutters tl-casestudy--row">
            <div class="col-md-6">

                <img src="/files/images/TLevels_WebsiteAssets47.png" alt="" asp-append-version="true" />

            </div>
            <div class="col-md-6">

                <div class="tl-content--box tl-casestudy--contentbox">
                    <h2 class="tl-hidden">Students going into employment</h2>

                    <div class="tl-quote--salmon">
                        <p>
                            I have learned a range of software skills and how they can be applied in a real working environment. I have gained lots of useful experience and knowledge from my work placement and had the privilege of being offered paid work whilst being there which has been really rewarding.
                        </p>
                        <p>
                            The work placement were also willing to give me a job which I have accepted. I will be hybrid working, I may even have the chance to work in Florida for a small time. I feel as though the course has put me in a great position for the future.
                        </p>
                    </div>
                    <p class="tl-body--salmon tl-bold tl-padding-left--30 tl-padding-right--30 tl-margin-bottom--10">Leah Duckworth</p>
                    <p class="tl-body--salmon tl-bold tl-padding-left--30 tl-padding-right--30">Digital Production, Design and Development T Level | Runshaw College</p>
                </div>
            </div>
        </div>

        <div class="row no-gutters tl-casestudy--row">
            <div class="col-md-6 order-2 order-md-1">

                <div class="tl-content--box tl-casestudy--contentbox">
                    <div class="tl-quote--salmon">
                        <p>
                            I have really enjoyed my course - my favourite unit was building my own small business. This gave me the opportunity to actually see how business owners operate and how much work goes into it.
                        </p>
                        <p>
                            The teaching is brilliant and I always felt I could talk to all my teachers about anything. The college has a really welcoming and comfortable environment.
                        </p>
                    </div>
                    <p class="tl-body--salmon tl-bold tl-padding-left--30 tl-padding-right--30 tl-margin-bottom--0">Jake England</p>
                    <p class="tl-body--salmon tl-bold tl-padding-left--30 tl-padding-right--30 tl-margin-bottom--0">Management and Administration T Level | Strode College</p>
                    <p class="tl-body tl-bold tl-padding-left--30 tl-padding-right--30">Jake is seeking employment as a Financial Investor with the Department of International Trade</p>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img src="/files/images/TLevels_WebsiteAssets49.png" alt="" asp-append-version="true" />

            </div>

        </div>

        <div class="row no-gutters tl-casestudy--row">
            <div class="col-md-6">

                <img src="/files/images/TLevels_WebsiteAssets46.png" alt="" asp-append-version="true" />

            </div>
            <div class="col-md-6">

                <div class="tl-content--box tl-casestudy--contentbox">
                    <h2 class="tl-hidden">Students going into an apprenticeship</h2>

                    <div class="tl-quote--purple">
                        <p>I’m going to do a Level 4 apprenticeship at Lloyds Banking Group in Bristol as a business analyst.</p>
                        <p>Being able to learn and put my knowledge into practice at the same time has always intrigued me.</p>
                        <p>My placement at Royal Trinity Hospice enabled me to showcase my creative side with content creation and my placement at Lloyds Banking Group helped me network and build a solid foundation of the vast range of job roles in the tech industry of a financial services company.</p>
                    </div>
                    <p class="tl-body--purple tl-bold tl-padding-left--30 tl-padding-right--30 tl-margin-bottom--10">Ajrienne Kolapo</p>
                    <p class="tl-body--purple tl-bold tl-padding-left--30 tl-padding-right--30">Digital Production, Design and Development T Level | La Retraite</p>
                </div>
            </div>
        </div>

        <div class="row no-gutters tl-casestudy--row">
            <div class="col-md-6 order-2 order-md-1">

                <div class="tl-content--box tl-casestudy--contentbox">
                    <div class="tl-quote--purple">
                        <p>
                            I’m going to Lockheed Martin as an integration and test engineer apprentice.
                        </p>
                        <p>
                            My placement at Lockheed Martin provided invaluable experience which will help me go far in the industry. It really helped me open my eyes to what working in the industry really consists of.
                        </p>
                        <p>
                            On top of that, it has provided me with contacts In the industry which greatly assisted in securing my apprenticeship.
                        </p>
                    </div>
                    <p class="tl-body--purple tl-bold tl-padding-left--30 tl-padding-right--30 tl-margin-bottom--0">Josh Tice</p>
                    <p class="tl-body--purple tl-bold tl-padding-left--30 tl-padding-right--30">Digital Production, Design and Development T Level| Havant and South Downs College</p>

                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img src="/files/images/TLevels_WebsiteAssets61.png" alt="" asp-append-version="true" />

            </div>

        </div>

        <div class="row no-gutters tl-casestudy--row">
            <div class="col-md-6">

                <img src="/files/images/TLevels_WebsiteAssets50.png" alt="" asp-append-version="true" />

            </div>
            <div class="col-md-6">

                <div class="tl-content--box tl-casestudy--contentbox">
                    <h2 class="tl-hidden">Students going into higher education</h2>
                    <div class="tl-quote--orange">
                        <p>
                            After realising A-levels were not the right learning style for me and knowing I wanted to work in primary teaching, I found the T Level in Education and Early Years
                        </p>
                        <p>
                            I found that the course was so much more academic than people think. The work placement aspect has been so important for me, you actually do more hours than most university courses require so I feel really prepared.
                        </p>
                        <p>
                            I’ve been offered a place at Reading University to study Primary Education with QTS.
                        </p>
                    </div>
                    <p class="tl-body--orange tl-bold tl-padding-left--30 tl-padding-right--30 tl-margin-bottom--10">Zoe Greenwood</p>
                    <p class="tl-body--orange tl-bold tl-padding-left--30 tl-padding-right--30">Education and Early Years T Level | Cirencester College</p>
                </div>
            </div>
        </div>

        <div class="row no-gutters tl-casestudy--row">
            <div class="col-md-6 order-2 order-md-1">

                <div class="tl-content--box tl-casestudy--contentbox">
                    <div class="tl-quote--orange">
                        <p>
                            I’m incredibly excited to be one of the first ever students to take a T Level course at Hugh Baird College. I have thoroughly enjoyed the first year of my course and my industry placement at the Histopathology Laboratory really reinforced my passion for working in the Health sector.
                        </p>
                        <p>
                            I’m looking forward to my next steps where I am planning to go to Edge Hill University and study the Paramedic and Nursing dual degree. I would love to be either a Paramedic or a Paediatric Nurse. I’m really excited to see what happens!
                        </p>
                    </div>
                    <p class="tl-body--orange tl-bold tl-padding-left--30 tl-padding-right--30 tl-margin-bottom--0">Holly Old</p>
                    <p class="tl-body--orange tl-bold tl-padding-left--30 tl-padding-right--30">Healthcare Science T Level | Hugh Baird College</p>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img src="/files/images/TLevels_WebsiteAssets51.png" alt="" asp-append-version="true" />

            </div>

        </div>



    </div>
</section>


<partial name="_Search" />

@section jsfiles{

}
