@mixin button($buttonprimary, $buttonsecondary) {
    $buttontextcolor: unquote($buttonsecondary);
    display: inline-block;
    padding: 15px 25px;
    font-family: 'LL Circular Black', Arial, Helvetica, sans-serif;
    text-decoration: none;
    align-self: flex-start;
    font-size: 18px;
    position: relative;
    transition: 0.2s ease-in;
    background-color: $buttonprimary;
    color: $buttontextcolor;
    border: none;
    top: -1px;
    margin-bottom: 10px;

    @include media-max(xsmall) {
        width: 100%;
        text-align: center;
    }


    &:after {
        background-image: image("arrows/arrowup-" + $buttonsecondary + ".svg");
        content: "";
        display: inline-block;
        width: 0px;
        opacity: 0;
        transition: 0.2s ease-in;
        height: 16px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        border: 2px solid $buttonprimary;
        position: absolute;
        background-color: transparent;
        left: 4px;
        top: 4px;
    }

    &:hover, &:focus {
        &:after {
            margin-left: 10px;
            width: 20px;
            opacity: 1;
            transition: 0.2s ease-in;
        }
    }

    &:active {
        top: 2px;
        left: 2px;
        transition: 0s;

        &:before {
            top: 2px;
            left: 2px;
            transition: 0s;
        }
    }
}
