@mixin content($contentprimary, $contentsecondary, $contenttype: normal) {
    color: $contentsecondary;

    img {
        width: 100%;
        height: auto;
    }

    .tl-content--box {
        background-color: $contentprimary;
        color: $contentsecondary;
        padding: 60px 40px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        height: 100%;
        display: flex;

        @if $contenttype == wide {
            padding: 60px 0;
        }

        @include media-max(small) {
            padding: 30px 20px;
        }

        .tl-button--black, .tl-button--purple, .tl-button--orange, .tl-button--white {
            margin-top: 15px;
        }
    }



    .tl-container {
        max-width: 1240px;
    }


    h1 {
        @extend .tl-heading--medium;
    }

    h2 {
        @extend .tl-heading--medium;
    }

    h3 {
        @extend .tl-heading--small;
    }

    h4 {
        @extend .tl-heading--xsmall;
    }

    p {
        @extend .tl-body;
    }

    p.tl-lead {
        @extend .tl-lead;
    }
}
