@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}

@{
    ViewData["SubjectTitle"] = "Hairdressing, Barbering and Beauty Therapy";
    ViewData["SubjectDescription"] = "During the 2-year programme, students will learn the core knowledge and skills that are needed for entry to a range of hairdressing, barbering and beauty therapy occupations. The T Level in Hairdressing, Barbering and Beauty Therapy will be available from September 2024.";
    ViewData["SelectedQualificationId"] = "53";
    ViewData["PageID"] = "tl-student-subject--hair-beauty";
}

<section id="tl-maincontent" class="tl-padding-top--40 tl-padding-top--80--medium tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row tl-margin-bottom--60">
            <div class="col-md-12">
                <h2>Summary</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Level 3</span> qualification</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>2-year</span> course</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Includes 9 weeks</span> minimum working with an employer on an industry placement</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>What you can do with this <span class="tl-nobreak">T Level</span></h2>
                <p>This course is suitable for anyone wanting a career in the hairdressing, barbering and beauty therapy sector. Career options might include:</p>
            </div>
        </div>
        <div class="row tl-margin-bottom--20 tl-margin-top--20">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/barber">Barber</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/hairdresser">Hairdresser</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/beauty-therapist">Beauty therapist</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/make-up-artist">Make-up artist</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-secondarycontent" class="tl-padding-top--30 tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you’ll learn on this course</h2>
                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Core content</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>
                            Students will develop an understanding of a broad range of issues relevant to the sector, including:
                        </p>
                        <ul class="tl-list--bullet">
                            <li>business context, including how the sector operates</li>
                            <li>Health and Safety regulations</li>
                            <li>safe working practices</li>
                            <li>an understanding of the client journey</li>
                            <li>client consultation</li>
                            <li>sales and marketing</li>
                            <li>business practices</li>
                            <li>self-development</li>
                        </ul>
                    </div>
                </div>

                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Options to specialise</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>In addition to the core content, each student will also complete at least one module of occupation-specific content.</p>
                        <p>The specialisms available in the Hairdressing, Barbering and Beauty Therapy T Level are:</p>
                        <ul class="tl-list--bullet">
                            <li>barbering</li>
                            <li>hairdressing</li>
                            <li>beauty therapy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-tertiarycontent" class="tl-padding-top--30 tl-padding-bottom--60  tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you'll need before you start</h2>
                <p>
                    T Levels are one of your options after you’ve finished GCSEs.
                </p>
                <p>
                    Entry requirements for each course are set by the individual school or college.
                </p>
                <p>
                    <a class="tl-link-black--orange" id="tl-subject--findlink" href="/students/find">Check with your local T Level school or college</a> to find out the entry requirements for the Hairdressing, Barbering and Beauty Therapy T Level.
                </p>
            </div>
        </div>
    </div>
</section>