/*SKILLS PAGE*/

#tl-employer-skills--list {

    h3 {
        @include font(header, 20px, italic, bold, 24px);
        margin: 0 0 0 35px;
        padding-bottom: 15px;
        position: relative;

        span {
            @include font(header, 26px, italic, bold, 20px);
            color: $purple;
            position: absolute;
            left: -35px;
            top: 0px;
        }
    }

    p {
        @include font(body, 16px, $lh: 20px);
        margin: 0 0 10px 35px;
    }

    ul {
        @include media-min(small) {
            margin: 0 0 40px 50px;
        }

        margin: 0 0 20px 50px;

        @include font(body, 16px, $lh: 20px);
    }
}

/*HOME PAGE*/

#tl-employer-home--video {
    padding: 60px 0;

    @include media-max(medium) {
        padding: 30px 20px;
    }
}

.tl-employer--content {
    margin: 70px 0;

    @include media-max(small) {
        margin: 30px 0;

        [class^="col-"], [class^=" col-"] {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .row, [class^="tl-row"] {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


#tl-employer-benefits--content {

    h2 {
        padding-bottom: 40px;

        @include media-max(small) {
            padding-bottom: 10px;
        }
    }
}