#tl-landing--content {
    margin-bottom: 50px;
    margin-top: 50px;

    @include media-max(small) {
        margin-top: 30px;
    }

    .tl-landing--row {
        $tlgutter: 30px;

        @include make-row();
        padding: 10px 0;
        margin-right: -$tlgutter;
        margin-left: -$tlgutter;

        @include media-max(small) {
            margin-right: -15px;
            margin-left: -15px;
        }

        & > [class^="col-"], & > [class^=" col-"] {
            padding-right: $tlgutter;
            padding-left: $tlgutter;
        }
    }

    .tl-landing--content--box {
        @include media-max(small) {
            padding: 20px 0;
        }
    }
}





#tl-landing--banner {
    position: relative;

    &:after {
        content: "";
        background: image("arrows/arrow-white.svg") no-repeat center;
        background-size: 200px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -100px;
        display: block;
        height: 170px;
        width: 200px;
        background-position: bottom;

        @include media-max(medium) {
            display: none;
        }
    }
}

.tl-landing--banner {

    &--student, &--employer {
        display: flex;
        padding: 120px 0 60px 0;

        @include media-min(medium) {
            height: 48vw;
            max-height: 700px;
            min-height: 600px;
        }

        @include media-max(xsmall) {
            padding: 50px 0 50px 0;
        }
    }

    &--student {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image("LandingBanner_Student.jpg") no-repeat 50% 20%;
        background-size: cover;

        @include media-min(medium) {
            background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), image("LandingBanner_Student.jpg") no-repeat 50% 20%;
            background-size: cover;
        }

        .tl-landing--banner--content {
            margin-left: auto;
            padding-left: 30px;
            align-self: flex-end;
        }
    }

    &--employer {
        background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), image("LandingBanner_Employer.jpg") no-repeat 50% 20%;
        background-size: cover;


        @include media-min(medium) {
            background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), image("LandingBanner_Employer.jpg") no-repeat 50% 20%;
            background-size: cover;
        }

        .tl-landing--banner--content {
            margin-right: auto;
            text-align: right;
            padding-right: 30px;
            align-self: flex-end;
        }
    }

    &--content {
        width: 100%;
        padding: 0 30px;
        color: $white;
        position: relative;

        @include media-min(medium) {
            max-width: ((($sitewidth) / 2) + 30) + px;
        }


        h2 {
            @extend .tl-heading--large;

            @include media-max(medium) {
                padding-bottom: 20px;
            }

            @media (max-width: 1020px) and (min-width: 992px) {
                font-size: 43px !important;
                padding-bottom: 20px;
            }
        }

        p {
            margin: 10px 0 30px 0;
        }
    }
}
