/*SUBJECT PAGES*/

$subjects: 
building-services-engineering,
design-surveying-planning,
digital-business-services,
digital-production-design-development,
digital-support-services,
education, 
health,
healthcare-science,
onsite-construction,
science;

@each $subject in $subjects {
    #tl-student-subject--#{$subject} {
        #tl-subject--header {
            background: image("subjects/" + $subject + ".jpg") no-repeat center;
            background-size: cover;
        }
    }
}


.tl-students-subject--summary {
    border-left: 5px solid $orange;
    padding: 7px 0 7px 20px;

    p {
        margin-bottom: 0;
    }

    span {
        @include font(header, 20px, italic, 400, 20px);
        width: 100%;
        display: inline-block;
        margin-bottom: 5px;
    }
}

.tl-subjects--accordion {
    margin-bottom: 20px;

    .tl-subjects--accordion--button {
        width: 100%;
        text-align: left;
        border: none;
        background-color: $lightgrey;
        @include heading(20);
        padding: 25px 20px 25px 20px;

        &:hover {
            background-color: darken($lightgrey, 5%);

            span {
                border-bottom: 2px solid $orange;
            }

            &:after {
                text-decoration: none;
            }
        }

        &:focus {
            border: 2px solid $orange;
        }

        &:after {
            content: "\002B";
            color: $orange;
            float: right;
            font-size: 30px;
            text-decoration: none !important;
        }
    }

    .tl-subjects--accordion--panel {
        border-left: 5px solid $lightgrey;
        border-right: 5px solid $lightgrey;
        border-bottom: 5px solid $lightgrey;
        padding: 20px;
        display: none;
    }

    &--expanded {
        .tl-subjects--accordion--button {
            &:after {
                content: "\2212";
            }
        }

        .tl-subjects--accordion--panel {
            display: block;
        }
    }
}

