@{
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

@{
    ViewData["Title"] = "Next steps";
    ViewData["PageID"] = "tl-employer-nextsteps";
}
@model EmployerContactViewModel
@inject ConfigurationOptions SiteConfiguration

<section id="tl-employer-nextsteps--banner" class="tl-content-wide--purple">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="tl-content--box tl-content--box--left">
                    <h1 class="tl-margin-top--20 tl-margin-top--0--small">Next steps</h1>
                    <p class="tl-lead">
                        We can help:
                    </p>
                    <ul class="tl-list--bullet">
                        <li>
                            answer any questions you have about industry placements, including how to find local colleges and schools with suitable students
                        </li>
                        <li>plan and prepare to offer placements</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets39.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="tl-content-normal--white tl-content-padded">
    <div class="tl-container">
        <div class="row no-gutters">

            <div class="col-lg-10">
                <h2>Contact us</h2>
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-stretch">
                        <div class="tl-panel--purple tl-margin-top--40">
                            <h3>Online</h3>
                            <p>Need more information, or want to speak to someone about offering an industry placement?</p>
                            <p class="tl-margin-bottom--40"><a href="@(new Uri(new Uri(SiteConfiguration.EmployerSupportSiteUrl), "requests/new").AbsoluteUri)" class="tl-link-inline-black--purple">Contact us online</a></p>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="tl-panel--purple tl-margin-top--40">
                            <h3>Phone</h3>
                            <p>You can:</p>
                            <ul class="tl-list--bullet">
                                <li>Call us on 08000 150 600 (choose option 4)</li>
                                <li>Text us on 07588 690810 </li>
                            </ul>
                            <p><a href="https://www.gov.uk/call-charges" class="tl-link-inline-black--purple">Find out about call charges</a></p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-7 tl-margin-top--60">
                <p>On the <a class="tl-link-inline-black--purple" href="@SiteConfiguration.EmployerSupportSiteUrl">Support for employers delivering T Level industry placements service</a>, you’ll find:</p>
                <ul class="tl-list--bullet">
                    <li>case studies from businesses</li>
                    <li>guidance and resources</li>
                    <li>webinars and workshops</li>
                </ul>
                <a href="@SiteConfiguration.EmployerSupportSiteUrl" class="tl-button--black tl-margin-top--30" id="tl-employer-cta-support">Get help with industry placements</a>

            </div>
        </div>
            </div>
</section>



@section jsfiles{

}
