@{
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}

@{
    ViewData["Title"] = "Video Transcript";
    ViewData["PageID"] = "tl-transcript";
    ViewData["MetaDescription"] = "";


}
@model FindViewModel


    <section id="tl-accessibility--header" class="tl-find tl-content-normal--black">
        <div class="tl-container">

            <div class="row">
                <div class="col-12 tl-margin-bottom--50">
                    <a class="tl-link-white--orange" href="javascript:history.back()">< Back to previous page</a>
                </div>

                <div class="col-12">
                    <h1>What employers say about industry placements - transcription</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="tl-accessibility--content" class="tl-margin-top--30 tl-margin-bottom--0 tl-margin-bottom--60 tl-content-normal--white">
        <div class="tl-container">

            <div class="row">
                <div class="col-md-8">
                    <h4 class="tl-heading--xsmall tl-margin-top--30 tl-margin-bottom--0">Helen Bradshaw, University of Salford</h4>
                    <p>“There is a huge skills gap coming. We've got this huge black hole looming on the technical workforce front and there's no running away from it. We need to see new technicians coming through.”</p>

                    <h4 class="tl-heading--xsmall tl-margin-top--30 tl-margin-bottom--0">Kurt Frary, Norfolk County Council</h4>
                    <p>“What we're doing is introducing young people into roles and opportunities that they may not have considered. At the same time we get to see how they perform, whether they're a good fit for the team, whether they've got good ideas we haven't thought of. We can learn off them as well as they can learn off us. It's really important that we consider what's in it for us as well as what's in it for the young people.”</p>

                    <h4 class="tl-heading--small tl-margin-top--30 tl-margin-bottom--0">William Bridgman, Warren Services</h4>
                    <p>“The thing that impresses me about these young people is that they come with new ideas. Quite often when I speak to other companies they say, "It will be so much time that we've got to invest in them." Actually, I see it as probably cost neutral. Yes, we do spend time showing them what to do, but they also positively impact the business as well.”</p>

                    <h4 class="tl-heading--small tl-margin-top--30 tl-margin-bottom--0">Gary Standley, BBC Voices</h4>
                    <p>"Many people are going to think it's just another person to hang around the office and I think if you've got two weeks' work experience, probably that is what you'll have. I think this is different. You treat it differently. You're going into a contract, so your expectation of them should be higher and their expectation of you should be higher."</p>

                    <h4 class="tl-heading--small tl-margin-top--30 tl-margin-bottom--0">Jan Marshall, Marriott Hotels</h4>
                    <p>“When I look at the students we have, they're really quite mature for their age. They're all under 18 still, but I think they're ready to be in the workplace.”</p>

                    <h4 class="tl-heading--small tl-margin-top--30 tl-margin-bottom--0">Koren O'Connor, CMS</h4>
                    <p>“For us it's a way of giving the students the opportunity to learn in a live environment what they're doing daily at college and get an understanding about whether it really is a career they want to take.”</p>

                    <h4 class="tl-heading--small tl-margin-top--30 tl-margin-bottom--0">Sarah Budd, Galliford Try Partnerships</h4>
                    <p>“What we're getting out of it is our staff of the future, our site managers, our quantity surveyors of the future. They can expand and go where they like after they get into construction. The doors are open.”</p>

                    <h4 class="tl-heading--small tl-margin-top--30 tl-margin-bottom--0">Kurt Frary, Norfolk County Council</h4>
                    <p>“One of the things I'm really passionate about is making sure we've got young people with digital skills that are transferable from one organisation to another. So if we engage as a large employer in Norfolk, hopefully others will follow our lead and we'll encourage people to take up these placements and bring young people into their organisations.”</p>

                    <h4 class="tl-heading--small tl-margin-top--30 tl-margin-bottom--0">William Bridgman, Warren Services</h4>
                    <p>“If you want to get the workforce of the future you need to engage them from an early age, otherwise they'll go somewhere else.”</p>

                    <h4 class="tl-heading--small tl-margin-top--30 tl-margin-bottom--0">Koren O'Connor, CMS</h4>
                    <p>“The investment needs to be made by us, because whilst I think there are huge benefits for the students I think there's even greater benefit for the firm.”</p>
                </div>
            </div>
        </div>
    </section>


