@{
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

@{
    ViewData["Title"] = "Your timeline";
    ViewData["PageID"] = "tl-employer-timeline";
    ViewData["MetaDescription"] = "How to recruit and manage an industry placement student in your business - from start to finish.";
}

<section id="tl-employer-costs--banner" class="tl-content-wide--purple">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="tl-content--box tl-content--box--left">
                    <h1>Your industry placement timeline</h1>
                    <p class="tl-lead">
                        You'll get support at each stage of your industry placement journey - from selecting the right student through to managing their contribution to your business, and maybe even hiring a new employee.
                    </p>
                </div>
            </div>
            <div class="col-md-4 d-none d-lg-flex tl-image--wide--right">
                <img src="/files/images/TLevels_WebsiteAssets36.jpg" alt="">
            </div>

        </div>
    </div>
</section>

<section id="tl-employer-costs--intro" class="tl-content-normal--white tl-content-padded">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-8">
                <h2>10 steps to an industry placement</h2>
                <div class="tl-timeline">
                    <div class="tl-timeline--item">
                        <h3><span>1</span>EXPRESS AN INTEREST</h3>
                        <p>Tell us if you want more information or you’re thinking about recruiting a placement student.</p>
                        <details class="tl-details tl-details--purple">
                            <summary class="tl-details--summary">
                                <span>Help you'll get</span>
                            </summary>

                            <div class="tl-details--content">
                                <p>Our industry placement team can help you get started. You can reach them by:</p>
                                <ul class="tl-list tl-list--bullet">
                                    <li>telephone: 08000 150 600 (choose option 4)</li>
                                    <li>email: tlevel.placement@education.gov.uk</li>
                                    <li>filling in our <a class="tl-link tl-link--newemployer" href="get-involved">industry placement contact form</a></li>
                                </ul>
                            </div>
                        </details>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>










<partial name="_CallToAction" />


@section jsfiles{
}

