@{
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

@{
    ViewData["Title"] = "Industry placement costs";
    ViewData["PageID"] = "tl-employer-costs";
    ViewData["MetaDescription"] = "An industry placement is an efficient way to bring in new talent and develop the skills you need as an employer.";
}

<section id="tl-employer-costs--banner" class="tl-content-wide--purple">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="tl-content--box tl-content--box--left">
                    <h1>Your industry placement timeline</h1>
                    <p class="tl-lead">
                        You'll get support at each stage of your industry placement journey - from selecting the right student through to managing their contribution to your business, and maybe even hiring a new employee.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets36.jpg" alt="" />
            </div>

        </div>
    </div>
</section>

<section id="tl-employer-costs--intro" class="tl-content-normal--white tl-content-padded">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-8">
                <h2>How much money?</h2>
                <p>Apart from the financial cost of managing a student, industry placements should cost you very little. There is no legal requirement or expectation that students will be paid, as it is part of a course. However, you can pay students if you wish.</p>
            </div>
        </div>
    </div>
</section>










<partial name="_CallToAction" />


@section jsfiles{
}

