@{
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

@{
    ViewData["Title"] = "Your timeline";
    ViewData["PageID"] = "tl-employer-timeline";
    ViewData["MetaDescription"] = "How to recruit and manage an industry placement student in your business - from start to finish.";
}

<section id="tl-employer-costs--banner" class="tl-content-wide--purple">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="tl-content--box tl-content--box--left">
                    <h1 class="tl-margin-top--20 tl-margin-top--0--small">How industry placements work </h1>
                    <p class="tl-lead">
                        You'll get support at each stage of your industry placement journey - from selecting the right student through to managing their contribution to your business, and maybe even hiring a new employee.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets36.jpg" alt="">
            </div>

        </div>
    </div>
</section>

<section id="tl-employer-costs--intro" class="tl-content-normal--white tl-content-padded">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom--30--medium tl-margin-bottom--10">10 steps to an industry placement</h2>
                <div class="tl-timeline">




                    <div class="tl-timeline--item">
                        <h3><span>1</span>Express an interest</h3>
                        <p>Tell us if you want more information or you’re thinking about hosting a placement student.</p>
                        <p>Talk to our industry placement team:</p>
                        <ul class="tl-list tl-list--bullet">
                            <li>telephone: 08000 150 600 (choose option 4)</li>
                            <li>filling in our <a class="tl-link-black--purple" href="/employers/next-steps">industry placement contact form</a></li>
                        </ul>
                    </div>




                    <div class="tl-timeline--item">
                        <h3><span>2</span>Connect with local colleges and schools</h3>
                        <p>When you’re ready, find a college or school that might have suitable students.</p>
                        <details class="tl-details tl-details--purple">
                            <summary class="tl-details--summary">
                                <span>How we can help</span><span class="tl-hidden"> you connect with colleges and schools</span>
                            </summary>

                            <div class="tl-details--content">
                                <p>Our industry placement team can find colleges and schools with suitable industry placement students near you.</p>
                                <p>Once you’re connected, the college or school’s industry placement manager can lead the conversation to see if you’re a good fit for each other.</p>
                            </div>
                        </details>
                    </div>



                    <div class="tl-timeline--item">
                        <h3><span>3</span>Select a student</h3>
                        <p>Get the right student for your business.</p>
                        <details class="tl-details tl-details--purple">
                            <summary class="tl-details--summary">
                                <span>How the college or school can help</span><span class="tl-hidden"> you find a student</span>
                            </summary>

                            <div class="tl-details--content">
                                <p>The college or school will lead the process and identify suitable students for you. If you want to interview them, the college or school can help schedule the interviews.</p>
                            </div>
                        </details>
                    </div>



                    <div class="tl-timeline--item">
                        <h3><span>4</span>Make sure you’re compliant</h3>
                        <p>Get your workplace and staff ready to host the placement.</p>
                        <details class="tl-details tl-details--purple">
                            <summary class="tl-details--summary">
                                <span>How the college or school can help</span><span class="tl-hidden"> you be compliant</span>
                            </summary>

                            <div class="tl-details--content">
                                <p>The college or school will guide you through any policies you need in place or paperwork you need to complete - a health and safety policy or employer liability insurance, for example.</p>
                            </div>
                        </details>
                    </div>



                    <div class="tl-timeline--item">
                        <h3><span>5</span>Decide when and how you’ll deliver the placement</h3>
                        <p>Agree dates and times that work best for everyone.</p>
                        <details class="tl-details tl-details--purple">
                            <summary class="tl-details--summary">
                                <span>How the college or school can help</span><span class="tl-hidden"> you decide how to deliver the placement</span>
                            </summary>

                            <div class="tl-details--content">
                                <p>The college or school will make sure that the schedule for the placement is right for you and fits around the student’s studies.</p>
                            </div>
                        </details>
                    </div>



                    <div class="tl-timeline--item">
                        <h3><span>6</span>Decide on whether you want to pay the student</h3>
                        <p>There’s no legal requirement or expectation that students will be paid, as it is part of a course. Some employers prefer to pay their students at least the <a class="tl-link-black--purple"  href="https://www.gov.uk/national-minimum-wage-rates">National Minimum Wage</a> while they are working.</p>
                    </div>



                    <div class="tl-timeline--item">
                        <h3><span>7</span>Agree on work objectives for the student</h3>
                        <p>Decide what your student will do, and how you’ll manage them.</p>
                        <details class="tl-details tl-details--purple">
                            <summary class="tl-details--summary">
                                <span>How the college or school can help</span><span class="tl-hidden"> you set objectives for the student</span>
                            </summary>

                            <div class="tl-details--content">
                                <p>The college or school will lead the conversation to set objectives for the placement. They’ll include these on an industry placement agreement, and send this to you for signing.</p>
                            </div>
                        </details>
                    </div>



                    <div class="tl-timeline--item">
                        <h3><span>8</span>Manage the student</h3>
                        <p>Assign someone to line manage the student during their placement, track progress against their objectives and give regular feedback to their college or school.</p>
                        <details class="tl-details tl-details--purple">
                            <summary class="tl-details--summary">
                                <span>How the college or school can help</span><span class="tl-hidden"> you manage the student</span>
                            </summary>

                            <div class="tl-details--content">
                                <p>The college or school will always be constantly available to help the line manager with any questions or issues they have.</p>
                            </div>
                        </details>
                    </div>



                    <div class="tl-timeline--item">
                        <h3><span>9</span>Write a reference</h3>
                        <p>At the end of the placement, let the student know how they did.</p>
                        <details class="tl-details tl-details--purple">
                            <summary class="tl-details--summary">
                                <span>How the college or school can help</span><span class="tl-hidden"> you write the reference</span>
                            </summary>

                            <div class="tl-details--content">
                                <p>The college or school will initiate the end-of-placement discussions with you, supply you with the review templates and help you complete them.</p>
                            </div>
                        </details>
                    </div>



                    <div class="tl-timeline--item">
                        <h3><span>10</span>Decide if you want to make a job offer</h3>
                        <p>At the end of the placement, you can talk to the college or school about hiring the student after they finish their course. And you might want to take on another student.</p>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>










<partial name="_CallToAction" />


@section jsfiles{
}

