@{
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

@{
    ViewData["Title"] = "Employer home";
    ViewData["PageID"] = "tl-employer-home";

}
@model FindViewModel

<section id="tl-banner--employer">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h1>Meet the workforce of the future</h1>
                <p class="tl-lead">T Levels are a new two-year qualification for 16 to 19 year olds. Designed with employers, each T Level is equivalent to 3 A levels and will help young people develop the knowledge, attitude and practical skills to thrive in the workplace.</p>
                <p class="tl-lead">At the heart of each course, a 45-day industry placement will give you early access to the brightest talent entering your market.</p>
                <a href="/employers/about" class="tl-button--purple" id="tl-employer-home-findoutmore">Find out more about T Levels</a>
            </div>
        </div>
    </div>
</section>

<section id="tl-employer-home--newqual" class="tl-content-wide--purple">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-lg-6 tl-image--wide--left">
                <img src="/files/images/TLevels_WebsiteAssets27.jpg" alt="" />
            </div>
            <div class="col-lg-6">
                <div class="tl-content--box tl-heading--employer">
                    <h2>Industry placements are happening now</h2>
                    <p>To prepare for T Levels, employers across England are partnering with local colleges and schools to trial industry placements.</p>
                    <p>You can join this vocational revolution right now. Students are ready to start placements in areas such as:</p>
                    <ul class="tl-list--vertical tl-list--bullet">
                        <li>construction</li>
                        <li>digital and IT</li>
                        <li>health and science</li>
                        <li>legal, accounting and finance</li>
                    </ul>
                    <a href="/employers/skills-available" id="tl-employer-home-checkskills" class="tl-button--black">Check all available skills</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="tl-employer-home--benefits" class="tl-content-wide--black">
    <div class="tl-container tl-content--box--left">
        <div class="row no-gutters">
            <div class="col-md-6 order-2 order-lg-1">
                <div class="tl-content--box">
                    <h2>Business benefits of industry placements</h2>
                    <p>Industry placements help your organisation:</p>
                    <ul class="tl-list--vertical tl-list--bullet">
                        <li>find solutions for entry-level skills shortages</li>
                        <li>develop future talent for your business</li>
                        <li>capitalise on new ideas and a fresh perspective</li>
                    </ul>
                    <a href="/employers/business-benefits" id="tl-employer-home-businessbenefits" class="tl-button--purple">View all the business benefits</a>
                </div>
            </div>
            <div class="col-md-6 order-1">
                <div class="tl-content--box">
                    <img src="/files/images/TLevels_WebsiteAssets28.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>


<section id="tl-employer-home--bottomline" class="tl-content-wide--purple">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-lg-6 tl-image--wide--left order-1">
                <img src="/files/images/TLevels_WebsiteAssets29.jpg" alt="" />
            </div>
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="tl-content--box tl-heading--employer">
                    <h2>The bottom line</h2>
                    <p>Industry placements are a great way to bring new talent into your organisation. You’ll partner with a local college, school or training provider who can help you:</p>
                    <ul class="tl-list--vertical tl-list--bullet">
                        <li>find the right student</li>
                        <li>assist with paperwork</li>
                        <li>support you to plan and deliver the best possible placement</li>
                    </ul>
                    <a href="/employers/what-it-costs" id="tl-employer-home-costs" class="tl-button--black"><span class="d-none d-md-inline-block">What an industry placement costs</span><span class="d-inline-block d-md-none">What it costs</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-employer-home--video" class="tl-content-wide--black">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                <h2>What employers say about industry placements</h2>
                <div class="tl-video">
                    <div class="tl-video plyr__video-embed" id="player">
                        <iframe title="What employers say about industry placements" src="https://www.youtube.com/embed/hd4WGLhW5MY?cc_load_policy=1&origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;rel=0&amp;enablejsapi=1"
                                allowfullscreen
                                allowtransparency></iframe>
                    </div>

                </div>
                <p class="tl-body"><a href="/employers/video-transcript" id="tl-employer-home-transcript" class="tl-link-white--purple">Read a transcript of this video</a></p>

            </div>
        </div>
    </div>
</section>


<partial name="_CallToAction" />


@section jsfiles{


    <script src="~/js/plyr.polyfilled.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        const player = new Plyr('#player', {
            youtube: { cc_load_policy: 1 },
        });

        // Expose player so it can be used from the console
        window.player = player;

    </script>

}

