@{
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

@{
    ViewData["Title"] = "T Levels and industry placements for employers";
    ViewData["MetaDescription"] = "T Levels are a new, 2-year, vocational qualification for 16 to 19 year olds. Each course includes a 45-day industry placement with local employers.";
    ViewData["PageID"] = "tl-employer-home";
}




<section id="tl-employer-home--banner" class="tl-content-wide--purple">
    <div class="tl-container tl-overflow--fix">
        <div class="row no-gutters">
            <div class="col-lg-7">
                <div class="tl-content--box tl-content--box--left">
                    <h1>Meet the workforce of the future</h1>
                    <p class="tl-lead">T Levels are a new, 2-year qualification for 16 to 19 year olds. Designed with employers, each T Level is equivalent to 3 A levels and helps young people develop the knowledge, attitude and practical skills to thrive in the workplace.</p>
                    <p class="tl-lead">At the heart of each course, a 45-day industry placement will give you early access to the brightest talent entering your market.</p>
                    <a href="/employers/about" class="tl-button--black" id="tl-employer-home-findoutmore">Find out more about T Levels</a>
                </div>
            </div>
            <div class="col-lg-5 d-none d-lg-flex tl-image--wide--right">
                <img src="/files/images/TLevels_WebsiteAssets_New3.jpg" alt="" />
            </div>

        </div>
    </div>
</section>

<section id="tl-employer-home--content" class="tl-content-normal--white tl-employer--content">
    <div class="tl-container">
        <div class="tl-row--gutter--40 ">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets27.jpg" alt="" />
            </div>
            <div class="col-md-6 my-auto">
                <h2>Industry placements are happening now</h2>
                <p>As T Levels roll out, employers across England are partnering with local colleges and schools to do industry placements.</p>
                <p>You can join this vocational revolution right now. Students are ready to start placements in areas such as:</p>
                <ul class="tl-list--vertical tl-list--bullet">
                    <li>construction</li>
                    <li>digital and IT</li>
                    <li>health and science</li>
                    <li>legal, accounting and finance</li>
                </ul>
                <a href="/employers/skills-available" id="tl-employer-home-checkskills" class="tl-button--purple">Check all available skills</a>
            </div>
        </div>

        <div class="tl-row--gutter--40">
            <div class="col-md-6 my-auto order-2 order-md-1">
                    <h2>Business benefits of industry placements</h2>
                    <p>Industry placements help your organisation:</p>
                    <ul class="tl-list--vertical tl-list--bullet">
                        <li>find solutions for entry-level skills shortages</li>
                        <li>develop future talent for your business</li>
                        <li>capitalise on new ideas and a fresh perspective</li>
                    </ul>
                    <a href="/employers/business-benefits" id="tl-employer-home-businessbenefits" class="tl-button--purple">View all the business benefits</a>
            </div>
            <div class="col-md-6 order-1">
                    <img src="/files/images/TLevels_WebsiteAssets28.jpg" alt="" />
                </div>
        </div>

        <div class="tl-row--gutter--40">
            <div class="col-md-6 order-1">
                <img src="/files/images/TLevels_WebsiteAssets29.jpg" alt="" />
            </div>
            <div class="col-md-6 my-auto order-2 order-md-1">
                    <h2>Start your journey</h2>
                    <p>We can help you find a local college, school or training provider to partner with.</p>
                    <p>They’ll then support you at every stage of the industry placement so you can focus on getting the most out of your placement student.</p>
                    <a href="/employers/how-it-works" id="tl-employer-home-timeline" class="tl-button--purple">Your industry placement timeline</a>
            </div>
        </div>
    </div>
</section>


<partial name="_CallToAction" />


<section id="tl-employer-home--video" class="tl-content-wide--black">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-8">
                <h2>What employers say about industry placements</h2>

            </div>
            <div class="col-12">

                <div class="tl-video">
                    <div class="tl-video plyr__video-embed tl-js--visible" id="player">
                        <iframe title="What employers say about industry placements" width="560" height="315" src="https://www.youtube-nocookie.com/embed/hd4WGLhW5MY?rel=0&cc_load_policy=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="tl-js--hidden tl-margin-bottom--20 tl-margin-top--20">
                        <p><a class="tl-link-white--orange" href="https://www.youtube.com/watch?v=hd4WGLhW5MY">Watch video - What employers say about industry placements</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="tl-body"><a href="/employers/video-transcript" id="tl-employer-home-transcript" class="tl-link-white--purple">Read a transcript of this video</a></p>

            </div>
        </div>
    </div>
</section>




@section jsfiles{



}

