@{
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

@{
    ViewData["Title"] = "Next steps";
    ViewData["PageID"] = "tl-employer-nextsteps";
}
@model EmployerContactViewModel
@inject ConfigurationOptions SiteConfiguration

<section id="tl-employer-nextsteps--banner" class="tl-content-wide--purple">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="tl-content--box tl-content--box--left">
                    <h1 class="tl-margin-top--20 tl-margin-top--0--small">Next steps</h1>
                    <p class="tl-lead">
                        We can help:
                    </p>
                    <ul class="tl-list--bullet">
                        <li>
                            answer any questions you have about industry placements, including how to find local colleges and schools with suitable students
                        </li>
                        <li>plan and prepare to offer placements</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets39.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="tl-content-normal--white tl-content-padded">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-lg-7">
                <h3>Contact us</h3>
                <p>Need more information, or want to speak to someone about offering an industry placement? Get in touch.</p>
            </div>
            <div class="col-lg-10">

                <div class="row">
                    <div class="col-lg-6 d-lg-flex align-items-stretch">
                        <div class="tl-panel--purple tl-margin-top--10">
                            <h3>Online</h3>
                            <p>Use our <a href="@(new Uri(new Uri(SiteConfiguration.EmployerSupportSiteUrl), "requests/new").AbsoluteUri)" class="tl-link-inline-black--purple">contact form</a> to ask us a question or tell us if you’re ready to offer an industry placement.</p>
                            <p>You’ll usually receive a reply within 2 working days.</p>
                        </div>

                    </div>
                    <div class="col-lg-6 d-lg-flex align-items-stretch">
                        <div class="tl-panel--purple tl-margin-top--10--medium tl-margin-top--40">
                            <h3>Phone</h3>
                            <p>Call us on 08000 150 600 (choose option 4).</p>
                            <p>Our opening times are 8am to 10pm, Monday to Friday. </p>
                            <p><a href="https://www.gov.uk/call-charges" class="tl-link-inline-black--purple">Find out about call charges</a></p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-7 tl-margin-top--80">
                <h3>Find out more about industry placements</h3>
                <p>On the <a class="tl-link-inline-black--purple" href="@SiteConfiguration.EmployerSupportSiteUrl">T Levels and industry placements support for employers service</a>, you’ll find:</p>
                <ul class="tl-list--bullet">
                    <li>case studies from businesses</li>
                    <li>guidance and resources</li>
                    <li>webinars and workshops</li>
                </ul>

            </div>
        </div>
            </div>
</section>



@section jsfiles{

}
