@{
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

@{
    ViewData["Title"] = "Industry placement business benefits";
    ViewData["PageID"] = "tl-employer-benefits";
    ViewData["MetaDescription"] = "Industry placements can help employers with recruitment, improve innovation, and increase organisational productivity. They also have important social benefits.";


}
@model FindViewModel

<section id="tl-employer-benefits--banner" class="tl-content-wide--purple">
    <div class="tl-container tl-overflow--fix">
        <div class="row no-gutters">


            <div class="col-md-8">
                <div class="tl-content--box tl-content--box--left">
                    <h1>Business benefits of industry placements</h1>
                    <p class="tl-lead">Industry placements give you early sight of the new talent coming into your industry. They can help you with recruitment, improve innovation, and increase your organisation’s productivity. They also have important social benefits.</p>
                </div>
            </div>

            <div class="col-md-4 d-none d-lg-flex tl-image--wide--right">
                <img src="/files/images/TLevels_WebsiteAssets35.jpg" alt="" />
            </div>

        </div>
    </div>
</section>

<section id="tl-employer-benefits--recruitment" class="tl-content-normal--white tl-content-padded">
    <div class="tl-container">
        <div class="row">
            <div class="col-12">
                <h2>Smarter recruitment</h2>
            </div>
            <div class="col-md-4">
                <h4 class="tl-heading--xsmall--addarrow--purple">A solution for entry-level jobs</h4>
                <p>Industry placements are an ideal solution for entry-level skills. They can help you build a pipeline of talent for junior positions or apprenticeships.</p>
            </div>
            <div class="col-md-4">
                <h4 class="tl-heading--xsmall--addarrow--purple mt-4 mt-md-0">Cost-effective channel for recruitment</h4>
                <p>You can avoid many of the costs associated with recruitment by working with local colleges and schools to connect with young people who are deciding on their careers.</p>
            </div>
            <div class="col-md-4">
                <h4 class="tl-heading--xsmall--addarrow--purple mt-4 mt-md-0">Develop young people into your industry</h4>
                <p>Placements give you a chance to work alongside the next generation of workers entering your industry, making sure they develop the knowledge, attitude and practical skills to succeed.</p>
            </div>
        </div>
    </div>
</section>


<section id="tl-employer-benefits--staff" class="tl-content-normal--black tl-content-padded">
    <div class="tl-container">
        <div class="row">
            <div class="col-12">
                <h2>Support for your staff</h2>
            </div>
            <div class="col-md-4">
                <h4 class="tl-heading--xsmall--addarrow--purple">Better management and mentoring skills</h4>
                <p>Placements create opportunities for staff to act as buddies, coaches or line managers to students. This helps existing staff gain management and mentorship skills, both of which are known to increase job satisfaction.</p>
            </div>
            <div class="col-md-4">
                <h4 class="tl-heading--xsmall--addarrow--purple mt-4 mt-md-0">A fresh perspective</h4>
                <p>For smaller employers, young people can be an invaluable source of new and interesting ideas that can change the way you think about doing business.</p>
            </div>
            <div class="col-md-4">
                <h4 class="tl-heading--xsmall--addarrow--purple mt-4 mt-md-0">Extra help with projects</h4>
                <p>In an environment where staff are doing multiple roles and struggling to meet difficult deadlines, an industry placement student could help support a key piece of work.</p>
            </div>
        </div>
    </div>
</section>

<section id="tl-employer-benefits--community" class="tl-content-normal--white tl-content-padded">
    <div class="tl-container">
        <div class="row">
            <div class="col-12">
                <h2>Support your local community</h2>
            </div>
            <div class="col-md-4">
                <h4 class="tl-heading--xsmall--addarrow--purple mt-4 mt-md-0">Improved diversity</h4>
                <p>Industry placements create opportunities for a diverse range of 16 to 19 year olds. Diversity helps your organisation understand customers better, creates better performing teams and increases innovation and creativity.</p>
            </div>
            <div class="col-md-4">
                <h4 class="tl-heading--xsmall--addarrow--purple mt-4 mt-md-0">Create shared value in your community</h4>
                <p>Traditionally, organisations have supported social causes by making charitable donations. Industry placements are different in that they help create ‘shared value’. They’re a way of giving back that benefits the young people in your community as well as your business.</p>
            </div>
            <div class="col-md-4">
                <h4 class="tl-heading--xsmall--addarrow--purple">Enhanced brand image and profile</h4>
                <p>A commitment to industry placements raises your organisation’s profile, locally and nationally, especially as T Levels gain more public exposure with your customers and clients.</p>
            </div>

        </div>
    </div>
</section>





<partial name="_CallToAction" />


@section jsfiles{


    <script src="~/js/plyr.polyfilled.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        const player = new Plyr('#player', {});

        // Expose player so it can be used from the console
        window.player = player;

        setTimeout(() => {
            player.poster = '/files/images/TLevels_WebsiteAssets30.jpg';
        }, 500)</script>
}

