@{

    ViewData["PageID"] = "tl-home";
    ViewData["PagePath"] = "home";

}
@model FindViewModel

<section id="tl-banner">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col tl-banner--video">
                <div class="tl-banner--video-image plyr__video-embed" id="player">
                    <iframe src="https://www.youtube.com/embed/XYQw5rQrwwA?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;rel=0&amp;enablejsapi=1"
                            allowfullscreen
                            allowtransparency></iframe>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <h2 class="tl-banner--nextlevel"><span class="hidden">Welcome to the next level</span></h2>
            </div>
        </div>
    </div>
</section>

<section id="tl-boxes" class="tl-container">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets1.jpg" alt="" />
        </div>
        <div class="col-md-6">
            <div class="tl-box tl-box--orange">
                <h2 class="text-center">A new qualification</h2>
                <p>T Levels are a brand new, 2-year qualification that will give you a head start towards the future you want.</p>
                <p>The Government has developed T Levels to deliver world class technical education and give you a new choice after GCSEs.</p>
                <a href="/why" id="tl-home--discover" class="tl-button tl-button--arrow tl-tablet-hidden">Discover the benefits of <span class="no-break">T Levels</span></a>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6 flex-center order-2 ">
            <div class="tl-box tl-box--orange">
                <h2 class="text-center">Created with business</h2>
                <p>T Levels have been designed in partnership with businesses and employers to give students the knowledge and skills they need - so you can be confident that a T Level will help you move into the career you want. </p>
            </div>

        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets2.jpg" alt="" />
        </div>
    </div>
</section>
<section id="tl-search">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="tl-search--content">
                    <h2 class="text-center"><span class="text-outline--white">Find a T Level</span><br /><span class="text-orange"> near you</span></h2>
                    <form class="tl-search--form text-center" asp-action="Find" method="get">
                        <label for="Postcode" class="hidden">Postcode</label><input asp-for="Postcode" class="tl-input" placeholder="Enter your postcode" aria-label="Enter a postcode to find a T-Level near you" />
                        <input id="tl-find-button" type="submit" class="tl-button tl-button--orange" value="Search" aria-label="Search for a T Level" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section jsfiles{


    <script src="~/js/plyr.polyfilled.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        const player = new Plyr('#player', {});

        // Expose player so it can be used from the console
        window.player = player;
    </script>

}
