<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">

  <a routerLink="/" class="govuk-header__link govuk-header__link--homepage web-logo">
    <span class="govuk-header__logotype">
      <img loading="lazy" src="../../../assets/img/full_logo.svg" alt="T-LEVELS">
    </span>
  </a>

  <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapse_target">

    <a href="#" class="navbar-brand"></a>
    <span class="navbar-text"></span>

    <ul id="navigation" class="govuk-header__navigation navbar-nav" aria-label="Top Level Navigation">
      <li class="govuk-header__navigation-item govuk-header__navigation-item--active nav-item">
        <a routerLink="/introduction" class="govuk-header__link nav-link">
          About T Levels
        </a>
      </li>
      <li class="govuk-header__navigation-item nav-item">
        <a routerLink="/benefits" class="govuk-header__link nav-link">
          Why choose T Levels
        </a>
      </li>
      <li class="govuk-header__navigation-item nav-item">
        <a routerLink="/subjects" class="govuk-header__link nav-link">
          T Level subjects
        </a>
      </li>
      <li class="govuk-header__navigation-item nav-item">
        <a routerLink="/map" class="govuk-header__link nav-link btn-primary-black">
          Find a T Level <span class="btn-arrow"></span>
        </a>
      </li>
    </ul>

  </div>

</nav>
