<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head" />
    @RenderSection("cssfiles", false)

</head>
<body id="@ViewData["PageID"]" class="tl-body">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N98Q8VJ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <partial name="_CookieBanner" />
    <a class="tl-skiplink" href="#main">Skip to main content</a>
    <partial name="_Header" />
    <partial name="_Nav" />
    <main id="main" tabindex="-1">
        @RenderBody()
    </main>
    <partial name="_Footer" />
    <partial name="_Scripts" />
    @RenderSection("jsfiles", false)

</body>
</html>
