// Buttons ------------------------------

.govuk-button {
  box-shadow: 0;
  margin: 10px 0 0 0;
  text-transform: uppercase;
  padding: 17px;
  border: none;
  font-size: 16px;

  @media (min-width: 1100px) {
    font-size: 19px;
  }
}

.btn-primary-black {
  background: $black;
  line-height: 25px;

  @media (min-width: 1100px) {
    font-size: 19px;
  }

  .btn-arrow {
    background: url('/assets/img/button-link-icon-white.svg') top left;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: 14px;
    fill: white;
  }

  &:hover {
    background: $white;
    color: $black;
    border: none;
    box-shadow: none;

    .btn-arrow {
      background: url('/assets/img/button-link-icon-black.svg') top left;
      background-size: 14px;
    }
  }
}
