
@font-face {
  font-family: 'circular-black-italic';
  src: url(/assets/font/circular-blackItalic-web/lineto-circular-blackItalic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(/assets/font/circular-blackItalic-web/lineto-circular-blackItalic.woff2) format('woff2'), /* Super Modern Browsers */
       url(/assets/font/circular-blackItalic-web/lineto-circular-blackItalic.woff) format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'atlas-typewriter-reg';
  src: url(/assets/font/atlas-typewriter/AtlasTypewriter-Regular-Web.woff2) format('woff2'), /* Super Modern Browsers */
       url(/assets/font/atlas-typewriter/AtlasTypewriter-Regular-Web.woff) format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'atlas-typewriter-bold';
  src: url(/assets/font/atlas-typewriter/AtlasTypewriter-Bold-Web.woff2) format('woff2'), /* Super Modern Browsers */
       url(/assets/font/atlas-typewriter/AtlasTypewriter-Bold-Web.woff) format('woff'); /* Pretty Modern Browsers */
}

