footer {
  padding: 20px;
  position: relative;

  span, p, a {
    font-family: 'atlas-typewriter-reg', Courier;
    color: $white;
    font-size: 16px;

    @media (min-width: 1100px) {
      font-size: 19px;
    }
  }

  a {
    text-decoration: underline;
    word-break: break-word;
  }

  p {
    padding: 0 0 10px 0;
  }

  .hm-gov-img {
    img {
      width: 164px;
    }
  }

  .govuk-footer__logotype {

    img {
      width: 70px;
    }
  }

  .govuk-footer__meta-item {
    display: inline-block;
    margin: 0;

    &.sm-logo-img {
      float: right;
    }
  }

  .govuk-footer__meta {
    display: block;
    width: 100%;
    margin: 0;
  }

}

// -- Page specific footer arrow
.home {

  .footer-arrow {
    position: absolute;
    top: -148px;
    width: 175px;
    height: 149px;
    left: calc(50% - 87px);
    background: url('/assets/img/footer-arrow-red.svg') top left;
    background-size: 175px;
  }

}
