.center-v {
  margin-top: auto;
  margin-bottom: auto;
}

.no-padding-left {
  padding-left: 0;
}

.no-margin-top {
  margin-top: 0 !important;
}

// Grid layout '.tile-col-2' --------------------------------------------------------
.main-border {

  .tile-col-2 {
    .row {

      &:nth-child(odd){
        flex-direction: row-reverse;
      }
    }
  }

  &.home {
    .tile-col-2 {
      .row {

        &:nth-child(odd){
          flex-direction: row;
        }

        &:nth-child(even){
          flex-direction: row-reverse;
        }
      }
    }
  }
}
