// Type ------------------------------

.heading-style-2 {
  font-family: 'circular-black-italic', Arial;
  color: $black;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 50px 0;

  @media (min-width: 1100px) {
    font-size: 48px;
  }
}

p {
  font-family: 'atlas-typewriter-reg', Courier;
  font-size: 16px;
  padding: 0 0 30px 0;
  margin: 0;

  @media (min-width: 1100px) {
    font-size: 19px;
  }
}

