@{
    Layout = "~/Views/Shared/_LayoutTranscript.cshtml";
}

@{
    ViewData["Title"] = "Ambassador video 1 Transcript";
    ViewData["PageID"] = "tl-transcript";
    ViewData["MetaDescription"] = "";
}

<section id="tl-accessibility--header" class="tl-find tl-content-normal--black">
    <div class="tl-container">
        <div class="row">
            <div class="col-12 tl-margin-bottom--50 tl-js--visible">
                <a class="tl-link-white--orange" href="javascript:history.back()">< Back to previous page</a>
            </div>

            <div class="col-12">
                <h1>
                    <span class="tl-body">T Levels Video Transcript</span><br />
                    Meet our T Level Ambassadors
                </h1>
            </div>
        </div>
    </div>
</section>

<section id="tl-accessibility--content" class="tl-margin-top--30 tl-margin-bottom--0 tl-margin-bottom--60 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <p>Caption: Meet our T Level Ambassadors</p>

                <p>Caption: Step into Education and Childcare</p>

                <p>
                    <span class="tl-bold">Romilly, T Level student at Thorpe St Andrew 6th Form:</span><br />
                    I chose to do this T Level because it’s the course that could offer me the most opportunities and experiences, hopefully guiding me into what I want to do when I’m older.
                </p>

                <p>
                    <span class="tl-bold">Daisy, T Level student at HSDC:</span><br />
                    It’s a really good qualification and you get an all-round education in the subject you’re working on.
                </p>

                <p>Caption: Step into Digital Production, Design and Development</p>
                <p>
                    <span class="tl-bold">Chloe, T Level student at HSDC:</span><br />
                    I chose this T Level because I liked the fact that they do work experience, which not A levels do. This will give you a real insight into the world of work.
                </p>

                <p>
                    <span class="tl-bold">Keiran, T Level student at Thorpe St Andrew 6th Form:</span><br />
                    If someone were to ask me if they should do the T Level, I’d say definitely, definitely go for it. Because the work placement is going to give you the extra boost when it comes to getting a job.
                </p>

                <p>Caption: Step into Design, Surveying and Planning for Construction</p>

                <p>
                    <span class="tl-bold">Charlie, T Level student at HSDC:</span><br />
                    I would advise people to study T Levels, because you’re not just sat in a classroom, there will be times where you’re outside so you get a mix.
                </p>

                <p>
                    <span class="tl-bold">Jessica, T Level student at Walsall College:</span><br />
                    For anyone who’s considering T Levels, I would say go for it.
                </p>




                



            </div>
        </div>
    </div>
</section>
