@{
    Layout = "~/Views/Shared/_LayoutTranscript.cshtml";
}

@{
    ViewData["Title"] = "Video Transcript";
    ViewData["PageID"] = "tl-transcript";
    ViewData["MetaDescription"] = "";
}

<section id="tl-accessibility--header" class="tl-find tl-content-normal--black">
    <div class="tl-container">
        <div class="row">
            <div class="col-12 tl-margin-bottom--50 tl-js--visible">
                <a class="tl-link-white--orange" href="javascript:history.back()">< Back to previous page</a>
            </div>

            <div class="col-12">
                <h1>T Levels - the next level qualification - transcription</h1>
            </div>
        </div>
    </div>
</section>

<section id="tl-accessibility--content" class="tl-margin-top--30 tl-margin-bottom--0 tl-margin-bottom--60 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <p>
                    “Welcome to the next level - T Levels. The post-GCSE qualification that combines in-class 
                    learning and work experience. It's the best of both worlds, where theory meets practice. It's the know-how.”
                </p>
                <p>
                    “T Levels are designed with 250 leading employers, so students can focus on the knowledge and skills businesses really need today and tomorrow. The subject list is growing year on year, with 24 courses available by 2023. Each one opening doors to work placements, 
                    industry contacts and career paths.”
                </p>
                <p>
                    “One T Level is worth three A Levels. From here students can go anywhere: onto university, take on a higher apprenticeship, or launch your career and get straight into work. This is more than a qualification. Designed with employers, we're creating young people who are work ready. Full of fresh ideas and practical skills ready to shake up the industry and take businesses to the next level.”
                </p>
                <p>
                    “So what are you waiting for? Get clued up, skilled up and levelled up. Opportunities  are there for the taking.”
                </p>
                <p>“Get ahead.”</p>
                <p>
                    “T Levels, the next level qualification.”
                </p>
            </div>
        </div>
    </div>
</section>
