@{
    Layout = "~/Views/Shared/_LayoutTranscript.cshtml";
}

@{
    ViewData["Title"] = "Ambassador video 1 Transcript";
    ViewData["PageID"] = "tl-transcript";
    ViewData["MetaDescription"] = "";
}

<section id="tl-accessibility--header" class="tl-find tl-content-normal--black">
    <div class="tl-container">
        <div class="row">
            <div class="col-12 tl-margin-bottom--50 tl-js--visible">
                <a class="tl-link-white--orange" href="javascript:history.back()">< Back to previous page</a>
            </div>

            <div class="col-12">
                <h1>
                    <span class="tl-body">T Levels Video Transcript</span><br />
                    Step into Education and Childcare
                </h1>
            </div>
        </div>
    </div>
</section>

<section id="tl-accessibility--content" class="tl-margin-top--30 tl-margin-bottom--0 tl-margin-bottom--60 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <p>Caption: Step into Education and Childcare</p>

                <p>My name is Ellis, I am a first year T Level Health and Science student at Fareham College.</p>
                <p>I’m really enjoying it so far, we’ve got great equipment which helps our learning and it feels really relevant to the job I am hoping to do in the future.</p>
                <p>My highlights so far have been the Dementia Friends course that we did, we got to learn lots about different types of dementia and how we can help our patients. We also learned about hospital corners and making the beds to treat our patients perfectly.</p>
                <p>I’m looking forward to gaining clinical practice in my placement at the Queen Alexandra Hospital. I’m looking forward to gaining actual experience talking to patients and how to interact with them which will help me in my job in the future. After I finish my T Levels, I’m hoping to become a paramedic, either going through university, or a degree apprenticeship.</p>
                <p>I’d like to become a paramedic because I enjoy helping people and it’s the job that I would think would be really exciting.</p>
                <p>To anyone wanting to do a T Level, I’d say that they should go for it, if they’ve got a clear plan in their head of what they’d like to do, this course will be perfect for them and I’m really looking forward to doing my Year 2.</p>


            </div>
        </div>
    </div>
</section>
