@{
    Layout = "~/Views/Shared/_LayoutTranscript.cshtml";
}

@{
    ViewData["Title"] = "Ambassador video 1 Transcript";
    ViewData["PageID"] = "tl-transcript";
    ViewData["MetaDescription"] = "";
}

<section id="tl-accessibility--header" class="tl-find tl-content-normal--black">
    <div class="tl-container">
        <div class="row">
            <div class="col-12 tl-margin-bottom--50 tl-js--visible">
                <a class="tl-link-white--orange" href="javascript:history.back()">< Back to previous page</a>
            </div>

            <div class="col-12">
                <h1>T Levels ambassador video 1 - transcription</h1>
            </div>
        </div>
    </div>
</section>

<section id="tl-accessibility--content" class="tl-margin-top--30 tl-margin-bottom--0 tl-margin-bottom--60 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">

                <p>Caption: Step into Design, Surveying and Planning for Construction.</p>
                <p>
                    <span class="tl-bold">Charlie, T Level student at HSDC:</span><br />
                    I chose T Levels because it's equivalent to 3 A levels and it's more interactive than A levels in the sense of technical work, so instead of always writing down you'll actually be getting up and doing stuff.
                </p>

                <p>We learnt a lot about civil law, a bit about criminal law, we learned about how there's a lot of planning for pre-construction work before the actual build of a house.</p>
                
                <p>I would advise people to study T Levels because you're not just sat in a classroom, there will be times where you're outside, so you get a mix.</p>


            </div>
        </div>
    </div>
</section>
