 $logowidth: 180;


@include media-max(medium) {
    .tl-nav--employer {
        margin-bottom: 315px;
    }

    .tl-nav--student {
        margin-bottom: 265px;
    }
}

#tl-nav {
    display: flex;
    justify-content: space-between;
    @include container(($logowidth / 5));
    overflow-x: visible !important;
    position: relative;
    z-index: z('nav');
    background-color: $white;


    .tl-nav--logo a {
        @include align(left);
        background: image("logo" + "medium" + ".svg") no-repeat left center;
        filter: none;
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
        min-width: $logowidth + px;
        min-height: ($logowidth / 6) + px;


        &:focus {
            outline: 1px dotted $black;
        }
    }

    .tl-nav--bar {
        @include font(header, 14px, italic, 400);
        @include align(right);
        z-index: z('nav');
        align-items: flex-end;
        display: flex;
        background-color: $white;


        @include media-max(medium) {
            display: block;
            position: absolute;
            width: 100%;
            left: 0;
            top: ($logowidth / 2) + px;
            border-top: 1px solid $black;
        }

        li {
            padding: 0 12px;

            @include media-max(medium) {
                padding: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        a {
            @include linkalt($black, $orange);
            text-decoration: none;
            display: block;

            @include media-max(medium) {
                padding: 20px;
                border-bottom: 1px solid $grey;

                &:hover {
                    background-color: $lightgrey;
                }
            }
        }

        &--employer, .tl-nav--bar--li--employer {
            a {
                @include linkalt($black, $purple);
                text-decoration: none;
                display: block;

                @include media-max(medium) {
                    padding: 20px;
                    border-bottom: 1px solid $grey;

                    &:hover {
                        background-color: $lightgrey;
                    }
                }
            }
        }
    }

    .tl-nav--hamburger {
        display: none;
    }
}



.js-enabled {

    @include media-max(medium) {
        .tl-nav--employer {
            margin-bottom: 0;
        }

        .tl-nav--student {
            margin-bottom: 0;
        }
    }

    #tl-nav {

        .tl-nav--hamburger {
            display: none;
            align-items: center;
            cursor: pointer;
            @include font(header, 18px, italic, 400);


            @include media-max(medium) {
                display: flex;
            }

            i {
                font-size: 10px;
                width: 35px;
                height: 4px;
                background-color: currentColor;
                color: black;
                display: block;
                position: relative;
                margin: 0 0 0 10px;

                &:before {
                    @include pseudo;
                    width: 35px;
                    height: 4px;
                    background-color: currentColor;
                    top: -8px;
                    transition: 0.3s ease-in-out;
                }

                &:after {
                    @include pseudo;
                    width: 35px;
                    height: 4px;
                    background-color: currentColor;
                    top: 8px;
                    transition: 0.3s ease-in-out;
                }
            }
        }

        .tl-nav--bar {
            @include media-max(medium) {
                display: none;
            }
        }

        &.active {
            .tl-nav--hamburger {
                i {
                    height: 0;

                    &:after {
                        transform: rotate(45deg);
                        top: 0px;
                        transition: 0.3s ease-in-out;
                    }

                    &:before {
                        transform: rotate(-45deg);
                        top: 0px;
                        transition: 0.3s ease-in-out;
                    }
                }
            }

            .tl-nav--bar {
                display: flex;

                @include media-max(medium) {
                    display: block;
                }
            }
        }
    }
}

.tl-nav--minimal {
    @include media-max(medium) {
        margin-bottom: 0 !important;
    }
    }
    /* Active states */



    $employernavvariables: "home", "about", "skills", "benefits", "timeline", "nextsteps";

    @each $page in $employernavvariables {
        #tl-employer-#{$page} {
            #tl-nav--bar-employer--#{$page} {
                @include navactive(employer)
            }
        }
    }

    $studentnavvariables: "home", "about", "why", "subjects", "find", "casestudies", "parents";

    @each $page in $studentnavvariables {
        #tl-student-#{$page} {
            #tl-nav--bar-student--#{$page} {
                @include navactive(student)
            }
        }
    }