#tl-search {
    background: $black;
    color: $white;
    padding: 60px 0;


    h2 {
        @extend .tl-heading--medium;
        text-align: center;
    }

    input, select {
        padding: 15px;
        border: none;
        @include font(body, 16px, $lh: 20px);


        @include media-max(small) {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    select {
        position: relative;
        background: image("/arrows/arrow3.svg") 96% no-repeat;
        background-size: 17px;
        background-color: $white;
        cursor: pointer;
        padding: 15px 35px 15px 15px;

        @include media-between(small, medium) {
            max-width: 300px;
        }
    }

    button {
        @include media-max(small) {
            width: 100%;
            text-align: center;
        }
    }

    &--alt {
        @extend #tl-search;
        background: $orange;
        color: $black;
        padding: 60px 0;

        h3 {
            text-align: left;

            @include media-max(small) {
                text-align: center;
            }
        }

        .tl-validation--message {
            color: black;
        }

        .tl-validation--error {
            .tl-validation--message {
                display: block;
            }

            .tl-search--form--postcode {
                border: 3px solid black !important;
            }
        }
    }
}

.tl-find {
    padding: 100px 0 !important;

    @include media-max(small) {
        padding: 60px 0 !important;

        input, select {
            text-align: left !important;
        }
    }
}

.tl-search--form {
}

.tl-validation--message {
    display: none;
    @include margin(bottom, 10);
    width: 100%;
    @include font(circular, 16px, $lh: 20px);
    color: red;
}

.tl-validation--error {
    .tl-validation--message {
        display: block;
    }

    .tl-search--form--postcode {
        border: 3px solid red !important;
    }
}

#tl-results {
    padding: 40px 0;

    .tl-results--block {
        background: $white;
        padding: 40px;
        margin: 20px 0;
        position: relative;


        h4 {
            @include font(header, 24px, $lh: 26px);
            max-width: calc(100% - 100px);

            @include media-max(small) {
                margin-top: 15px;
            }
        }

        h5 {
            @extend .tl-body;
            font-weight: bold;
            margin-bottom: 5px;
        }

        @include media-max(small) {
            padding: 30px;
        }

        ul {
            @extend .tl-list--vertical;
            @extend .tl-list--bullet;
            @include font(body, 16px);

            @include media-max(small) {
                @include font(body, 14px);
            }
        }

        &--distance {
            background: $black;
            color: $white;
            position: absolute;
            padding: 15px 20px;
            top: 0;
            right: 0;

            @include media-max(small) {
                font-size: 14px;
                padding: 10px 15px;
            }
        }

        &--link {
            @include font(body, 18px);
        }

        a {
            margin-top: 10px;
        }
    }

    .tl-results--google {
        text-align: right;
        width: 100%;


        .tl-results--google--image {
            max-width: 144px;

            @include media-max(xsmall) {
                @include margin(bottom, 20);
            }
        }
    }
}

/*AUTOCOMPELTE*/
.tl-autocomplete-wrap {
    display: inline-block;
//    font-family: $govuk-font-family;
    margin-right: -6px;

/*    @include govuk-media-query ($until: tablet) {
        width: 100%;
    }*/
}


.autocomplete__wrapper {
    position: relative;
}

.autocomplete__hint,
.autocomplete__input {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 0; /* Safari 10 on iOS adds implicit border rounding. */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 0; /* BUG: Safari 10 on macOS seems to add an implicit margin. */
    width: 100%;
    background: white;
//    @include govuk-responsive-margin(1, "top");
}

.autocomplete__input {
    position: relative;
}

.autocomplete__hint {
    display: none;
}

.autocomplete__input--default {
    padding: 6px 5px 5px;
}

.autocomplete__input--focused {
    outline-offset: 0;
    outline: 3px solid #ffbf47;
}

.autocomplete__input--show-all-values {
    padding: 4px 34px 4px 4px;
    cursor: pointer;
}

.autocomplete__dropdown-arrow-down {
    z-index: -1;
    display: inline-block;
    position: absolute;
    right: 8px;
    width: 24px;
    height: 24px;
    top: 10px;
}

.autocomplete__menu {
    background-color: #fff;
    border: 2px solid #0B0C0C;
    border-top: 0;
    color: #34384B;
    margin: 0;
    max-height: 342px;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    width: calc(100% - 4px);
    padding-left: 0px !important;
}

.autocomplete__menu--visible {
    display: block;
}

.autocomplete__menu--hidden {
    display: none;
}

.autocomplete__menu--overlay {
    box-shadow: rgba(0, 0, 0, 0.256863) 0px 2px 6px;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 100;
}

.autocomplete__menu--inline {
    position: relative;
}

.autocomplete__option {
    border-bottom: solid #BFC1C3;
    border-width: 1px 0;
    cursor: pointer;
    display: block;
    position: relative;
}

.autocomplete__option > * {
    pointer-events: none;
}

.autocomplete__option:first-of-type {
    border-top-width: 0;
}

.autocomplete__option:last-of-type {
    border-bottom-width: 0;
}

.autocomplete__option--odd {
    background-color: #FAFAFA;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
    background-color: #005EA5;
    border-color: #005EA5;
    color: white;
    outline: none;
}

.autocomplete__option--no-results {
    background-color: #FAFAFA;
    color: #646b6f;
    cursor: not-allowed;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
    font-size: 16px;
    line-height: 1.25;
}

.autocomplete__hint,
.autocomplete__option {
    padding: 4px;
}

@media (min-width: 641px) {
    .autocomplete__hint,
    .autocomplete__input,
    .autocomplete__option {
        font-size: 19px;
        line-height: 1.31579;
    }
}
