
<footer class="govuk-footer row" role="contentinfo">

  <span class="footer-arrow"></span>

  <div class="col-12 p-0 pb-5">
    <span>Follow us</span>
    <a href="#" target="_blank">twitter</a>
    <a href="#" target="_blank">instagram</a>
    <a href="#" target="_blank">facebook</a>
  </div>

  <div class="col-12 p-0">
    <p>For more information about T Levels, visit <a href="www.gov.uk/dfe/t-levels" title="Visit gov.uk for T Levels" target="_blank">www.gov.uk/dfe/t-levels</a></p>

    <p>For information about how employers can get involved with industry placements, visit <a href="https://sfacontactforms.azurewebsites.net/employer-enquiry" title="How employers can get involed in T Levels" target="_blank">https://sfacontactforms.azurewebsites.net/employer-enquiry</a></p>
  </div>

  <div class="govuk-footer__meta pt-5">
    <div class="govuk-footer__meta-item hm-gov-img">
      <img loading="lazy" src="../../../assets/img/hm-logo-white.svg" alt="HM Government" />
    </div>
    <div class="govuk-footer__meta-item sm-logo-img">
        <span class="govuk-footer__logotype">
          <img loading="lazy" src="../../../assets/img/tl-logo-white.svg" alt="T-LEVELS" />
        </span>
    </div>
  </div>

</footer>
