@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = @ViewData["SubjectTitle"];

}

<section id="tl-subject--header" class="tl-content-normal--black">
    <div class="tl-container">

        <div class="row">
            <div class="col-12 tl-margin-top--50 tl-margin-bottom--50">
                <a class="tl-link-white--orange" href="/students/subjects">< Back to all subjects</a>
            </div>

            <div class="col-md-8 tl-margin-bottom--50">

                <h1>@ViewData["SubjectTitle"]</h1>
            </div>
        </div>
    </div>
</section>

<section id="tl-maincontent" class="tl-margin-top--60 tl-margin-bottom--60 tl-content-normal--white">
    <div class="tl-container">

        <div class="row">
            <div class="col-md-8">
                <h3>Course overview</h3>
                @RenderBody()

            </div>
        </div>
    </div>
</section>

@model FindViewModel
<section id="tl-search--alt">
    <div class="tl-container">
        <div class="row">
            <div class="col-12">
                <h3 class="tl-heading--small">Find this T Level near you</h3>
                <form asp-action="Find" method="get" class="tl-search--form">
                    <span class="tl-validation--message">You must enter a postcode</span>
                    <label asp-for="Postcode" class="tl-hidden">Postcode</label>
                    <input asp-for="Postcode" class="tl-search--form--postcode" placeholder="Enter your postcode" aria-label="Enter a postcode to find a T-Level near you" />
                    <input type="hidden" asp-for="Qualification" value="@ViewData["SubjectTitle"]" />

                    <button id="tl-find-button" type="submit" class="tl-button--search--black" aria-label="Search for a T Level">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>


