@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}


@{
    ViewData["SubjectTitle"] = "Building Services Engineering for Construction";
    ViewData["SelectedQualificationId"] = "1";
    ViewData["PageID"] = "tl-student-subject--building-services-engineering";
}

<p>Your course starts by helping you get to grips with core knowledge of how the construction industry works, the principles of design and the role of technology and sustainability. You will then have the chance to specialise in the engineering associated with at least one of these areas:</p>
<ul class="tl-list--vertical tl-list--bullet">
    <li>air conditioning</li>
    <li>electrical and electronic equipment</li>
    <li>electrotechnical</li>
    <li>gas</li>
    <li>heating</li>
    <li>plumbing</li>
    <li>protection systems</li>
    <li>refrigeration</li>
    <li>ventilation</li>
</ul>
