@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}


@{
    ViewData["SubjectTitle"] = "Design, Surveying and Planning (construction)";
    ViewData["SelectedQualificationId"] = "2";
    ViewData["PageID"] = "tl-student-subject--design-surveying-planning";

}

<p>Your course starts by helping you get to grips with core knowledge of how the construction industry works, the principles of design and the role of technology and sustainability. You will then have the chance to specialise in one of these areas:</p>

<ul class="tl-list--vertical tl-list--bullet">
    <li>building services design</li>
    <li>civil engineering</li>
    <li>hazardous materials analysis and surveying</li>
    <li>surveying and design for construction and the built environment</li>
</ul>


