@{
    Layout = "~/Views/Student/Subjects/_LayoutVideo.cshtml";
}

@{
    ViewData["SubjectTitle"] = "Digital Production, Design and Development";
    ViewData["SubjectDescription"] = "During the 2-year programme, students will learn the core knowledge and skills that are needed for entry to a range of digital occupations.";
    ViewData["SubjectVideoID"] = "IDsizUoFI9U";
    ViewData["SubjectTranscriptID"] = "/students/transcripts/ambassadors3";
    ViewData["SelectedQualificationId"] = "37";
    ViewData["PageID"] = "tl-student-subject--digital-production-design-development";
}

<section id="tl-maincontent" class="tl-padding-top--40 tl-padding-top--80--medium tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row tl-margin-bottom--60">
            <div class="col-md-12">
                <h2>Summary</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Level 3</span> qualification</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>2-year </span> course</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Includes 9 weeks</span> minimum working with an employer on an industry placement</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                        <div class="row">
            <div class="col-md-8">
                <h2>What you can do with this <span class="tl-nobreak">T Level</span></h2>
                <p>
                    This course is suitable for anyone wanting a career in software production and design. Students can progress into roles such as:
                </p>
            </div>
        </div>
        <div class="row tl-margin-bottom--20 tl-margin-top--20">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/web-developer">web developer</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/web-designer">web designer</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/software-developer">software developer</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/computer-games-tester">computer games tester</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/computer-games-developer">computer games developer</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/e-learning-developer">e-learning developer</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/ux-designer">user experience (ux) designer</a>
                        </h4>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>Students can also use this T Level to do a related higher-level apprenticeship or degree course.</p>
            </div>
        </div>


    </div>
</section>

<section id="tl-secondarycontent" class="tl-padding-top--30 tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you’ll learn on this course</h2>
                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Core content</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>
                            Students will develop an understanding of:
                        </p>
                        <ul class="tl-list--bullet">
                            <li>how digital technologies impact business</li>
                            <li>the ethical and moral implications of digital technology</li>
                            <li>using data in software design</li>
                            <li>using digital technologies to analyse and solve problems</li>
                            <li>digital environments, including physical, virtual and cloud environments</li>
                            <li>emerging technical trends, such as Internet of Things (IoT), Artificial Intelligence (AI), Augmented Reality (AR), Blockchain, 3D printing</li>
                            <li>legal and regulatory obligations relating to digital technologies</li>
                            <li>the privacy and confidentiality of personal data</li>
                            <li>the technical, physical and human aspects of internet security</li>
                            <li>planning digital projects</li>
                            <li>testing software, hardware and data</li>
                            <li>digital tools for project management and collaboration</li>
                        </ul>
                    </div>
                    </div>
                    <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Options to specialise</span></button>
                    <div class="tl-subjects--accordion--panel">
                <p>In addition to the core content, each student will also develop skills in digital production, design and development. The content will include:</p>
                <ul class="tl-list--bullet">
                    <li>analysing a problem to define requirements and acceptance criteria aligned to user needs</li>
                    <li>designing, implementing, and testing software</li>
                    <li>changing, maintaining and supporting software</li>
                    <li>creating solutions in a social and collaborative environment</li>
                    <li>discovering, evaluating, and applying reliable sources of knowledge</li>
                    <li>applying ethical principles and managing risks in line with legal and regulatory requirements when developing software</li>
                </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section id="tl-tertiarycontent" class="tl-padding-top--30 tl-padding-bottom--60 tl-content-normal--white">
    <div class="tl-container">
                <div class="row">
            <div class="col-md-8">
                <h2>What you'll need before you start</h2>
                <p>
                    T Levels are one of your options after you’ve finished GCSEs.
                </p>
                <p>
                    Entry requirements for each course are set by the individual school or college. 
                </p>
                <p>
                    <a class="tl-link-black--orange" id="tl-subject--findlink" href="/students/find">Check with your local T Level school or college</a> to find out the entry requirements for the Digital Production, Design and Development T Level.
                </p>
            </div>
        </div>

    </div>
</section>


