@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}


@{
    ViewData["SubjectTitle"] = "Digital Production, Design and Development";
    ViewData["PageID"] = "tl-student-subject--digital-production-design-development";

}
@model FindViewModel

<p>Learn the essentials behind all digital roles by understanding data and digital systems, how software and business interact, security, testing, planning and legal issues. You then build on this by developing specialist skills in understanding user needs and designing and developing digital systems.</p>


