@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}


@{
    ViewData["SubjectTitle"] = "Digital Business Services";
    ViewData["SelectedQualificationId"] = "3";
    ViewData["PageID"] = "tl-student-subject--digital-business-services";
}


<p>Learn the essentials of all digital roles by understanding data and digital systems, how software and business interact, security, testing, planning and legal issues. You then build on this by developing specialist skills as a data technician to understanding how to source, analyse and interpret data to support business needs.</p>



