@{
    ViewData["SubjectTitle"] = "Digital Production, Design and Development";
    ViewData["SelectedQualificationId"] = "4";
    ViewData["PageID"] = "tl-student-subject--digital-production-design-development";
    ViewData["SubjectDescription"] = "During the two-year programme, students will learn the core knowledge and skills that underpin many jobs in the digital industry.";

}

@{
    Layout = "~/Views/Student/Subjects/_LayoutNew.cshtml";
}

<section id="tl-maincontent" class="tl-padding-top--60--medium tl-padding-top--40 tl-padding-bottom--60--medium tl-padding-bottom--40 tl-content-normal--white">
    <div class="tl-container">

        <div class="row tl-margin-bottom--60">
            <div class="col-md-12">
                <h2>Summary</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Level 3</span> qualification</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>34 weeks</span> classroom study (over two years)</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>9 weeks</span> minimum working with an employer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>What you'll need before you start</h2>
                <p>
                    Individual colleges and schools will have their own entry requirements. However, for most courses, we expect students will need either:
                </p>

                <ul class="tl-list--vertical tl-list--bullet">
                    <li>5 GCSE passes (grade 4 or above), including English, maths and science</li>
                    <li>a pass in a relevant level 2 qualification</li>
                </ul>

                <p>For more information, <a class="tl-link-black--orange" id="tl-subject--findlink" href="/students/find">check with the relevant school or college</a>.</p>

            </div>
        </div>
    </div>
</section>


<section id="tl-secondarycontent" class="tl-padding-top--60--medium tl-padding-top--40 tl-padding-bottom--60--medium tl-padding-bottom--40 tl-content-normal--black">
    <div class="tl-container">

        <div class="row">
            <div class="col-md-8">
                <h2>What you can do with this <span class="tl-nobreak">T Level</span></h2>
                <p>
                    This course is suitable for anyone wanting a career in software production and design. Students can progress into roles such as:
                </p>
            </div>
        </div>
        <div class="row tl-margin-bottom--40">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4 tl-padding-top--40">
                        <h4 class="tl-heading--xsmall--addarrow--orange">
                            <a class="tl-link-basic-white--orange tl-subject--NCS" href="https://nationalcareers.service.gov.uk/job-profiles/software-developer">web developer</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--40">
                        <h4 class="tl-heading--xsmall--addarrow--orange">
                            <a class="tl-link-basic-white--orange tl-subject--NCS" href="https://nationalcareers.service.gov.uk/job-profiles/web-designer">web designer</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--40">
                        <h4 class="tl-heading--xsmall--addarrow--orange">
                            <a class="tl-link-basic-white--orange tl-subject--NCS" href="https://nationalcareers.service.gov.uk/job-profiles/business-analyst">IT business analyst</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--40">
                        <h4 class="tl-heading--xsmall--addarrow--orange">
                            <a class="tl-link-basic-white--orange tl-subject--NCS" href="https://nationalcareers.service.gov.uk/job-profiles/app-developer">app developer</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--40">
                        <h4 class="tl-heading--xsmall--addarrow--orange">
                            <a class="tl-link-basic-white--orange tl-subject--NCS" href="https://nationalcareers.service.gov.uk/job-profiles/digital-marketer">digital marketer</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>Students can also use this T Level to do a related higher-level apprenticeship or degree course.</p>
            </div>
        </div>

    </div>
</section>

<section id="tl-secondarycontent" class="tl-padding-top--60--medium tl-padding-top--40 tl-padding-bottom--60--medium tl-padding-bottom--40 tl-content-normal--white">
    <div class="tl-container">

        <div class="row">
            <div class="col-md-8">
                <h2>What you’ll learn on this course</h2>
                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Core content</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>
                            Students will develop an understanding of:
                        </p>
                        <ul class="tl-list--bullet">
                            <li>how digital technologies impact business</li>
                            <li>the ethical and moral implications of digital technology</li>
                            <li>using data in software design</li>
                            <li>using digital technologies to analyse and solve problems</li>
                            <li>digital environments, including physical, virtual and cloud environments</li>
                            <li>emerging technical trends, such as Internet of Things (IoT), Artificial Intelligence (AI), Augmented Reality (AR), Blockchain, 3D printing</li>
                            <li>legal and regulatory obligations relating to digital technologies</li>
                            <li>the privacy and confidentiality of personal data</li>
                            <li>the technical, physical and human aspects of internet security</li>
                            <li>planning digital projects</li>
                            <li>testing software, hardware and data</li>
                            <li>digital tools for project management and collaboration</li>
                        </ul>
                        <p>They will develop the skills to:</p>
                        <ul class="tl-list--bullet">
                            <li>analyse a problem, understand user needs, define requirements and set acceptance criteria</li>
                            <li>design, implement and test software</li>
                            <li>change, maintain and support software</li>
                            <li>work collaboratively in a digital team</li>
                            <li>discover, evaluate and apply reliable sources of knowledge</li>
                            <li>work within legal and regulatory frameworks when developing software</li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>


    </div>
</section>


