@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}

@{
    ViewData["SubjectTitle"] = "Digital Business Services";
    ViewData["SubjectDescription"] = "During the two-year programme, students will develop the core knowledge and skills that are needed for entry to a range of digital occupations.";
    ViewData["SelectedQualificationId"] = "3";
    ViewData["PageID"] = "tl-student-subject--digital-business-services";
}

<section id="tl-maincontent" class="tl-margin-top--60--medium tl-margin-top--40 tl-margin-bottom--60--medium tl-margin-bottom--40 tl-content-normal--white">
    <div class="tl-container">
        <div class="row tl-margin-bottom--60">
            <div class="col-md-12">
                <h2>Summary</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Level 3</span> qualification</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>2-year</span> course</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Includes 9 weeks</span> minimum working with an employer on an industry placement</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>What you'll need before you start</h2>
                <p>
                    There are no national entry requirements for starting a T Level. These are set by the individual college or school, but could include, for example, 5 GCSE passes or a pass in a relevant level 2 qualification.
                </p>
                <p>For more information, <a class="tl-link-black--orange" id="tl-subject--findlink" href="/students/find">check with the relevant school or college</a>.</p>
            </div>
        </div>
    </div>
</section>

<section id="tl-secondarycontent" class="tl-padding-top--60--medium tl-padding-top--40 tl-padding-bottom--60--medium tl-padding-bottom--40 tl-content-normal--black">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you can do with this <span class="tl-nobreak">T Level</span></h2>
                <p>
                    This course is suitable for anyone wanting a career in IT, specifically in areas such as IT solutions or data analysis.
                </p>
                <p>
                    Speak to your careers adviser to find out more.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>Students can also use this T Level to progress to a related higher-level apprenticeship or course of study at a higher level.</p>
            </div>
        </div>
    </div>
</section>

<section id="tl-secondarycontent" class="tl-padding-top--60--medium tl-padding-top--40 tl-padding-bottom--60--medium tl-padding-bottom--40 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you’ll learn on this course</h2>
                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Core content</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>
                            All students will develop an understanding of:
                        </p>
                        <ul class="tl-list--bullet">
                            <li>how digital technologies impact business and market environment</li>
                            <li>the ethical and moral implications of digital technology</li>
                            <li>using data in software design</li>
                            <li>using digital technologies to analyse and solve problems</li>
                            <li>digital environments, including physical, virtual and cloud environments</li>
                            <li>legal and regulatory obligations relating to digital technologies</li>
                            <li>the privacy and confidentiality of personal data</li>
                            <li>the technical, physical and human aspects of internet security</li>
                            <li>planning digital projects</li>
                            <li>testing software, hardware and data</li>
                            <li>digital tools for project management and collaboration </li>
                        </ul>
                    </div>
                </div>

                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Specialist content</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>All students will develop the knowledge and skills of a data technician:</p>
                        <ul class="tl-list--bullet">
                            <li>sourcing, organising and formatting data for analysis</li>
                            <li>blending data from multiple sources</li>
                            <li>analysing data to support business outcomes</li>
                            <li>interpreting data and communicating the results</li>
                            <li>discovering, evaluation in applying sources of knowledge</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
