@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}


@{
    ViewData["Title"] = "Digital Support Services";
    ViewData["MetaDescription"] = "META DESCRIPTION";
    ViewData["SubjectTitle"] = "Digital Support Services";
    ViewData["PageID"] = "tl-student-subject--digital-support-services";

}
@model FindViewModel

<p>Learn the essentials of all digital roles by understanding data and digital systems, how software and business interact, security, testing, planning and legal issues. You will then have the chance to specialise in one of these areas:</p>
<ul class="tl-list--vertical tl-list--bullet">
    <li>digital infrastructure</li>
    <li>digital support</li>
    <li>network cabling</li>
    <li>unified communications</li>
</ul>
