@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}


@{
    ViewData["Title"] = "Education";
    ViewData["MetaDescription"] = "META DESCRIPTION";
    ViewData["SubjectTitle"] = "Education";
    ViewData["PageID"] = "tl-student--subject--education";

}
@model FindViewModel


<p>Everyone studies a core curriculum of child development, how education works plus important topics like safeguarding and special educational needs. You can then focus on one of these areas:</p>
<ul class="tl-list--vertical tl-list--bullet">
    <li>early years education and childcare</li>
    <li>assisting teaching</li>
    <li>supporting and mentoring students in further and higher education</li>
</ul>
