@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}

@{
    ViewData["SubjectTitle"] = "Engineering, Manufacturing, Processing and Control";
    ViewData["SubjectDescription"] = "During the 2-year programme, students will develop the core knowledge and skills that are needed for entry to a range of engineering, manufacturing, process and control occupations.";
    ViewData["SelectedQualificationId"] = "50";
    ViewData["PageID"] = "tl-student-subject--engineering-manufacturing";
}

<section id="tl-maincontent" class="tl-padding-top--40 tl-padding-top--80--medium tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row tl-margin-bottom--60">
            <div class="col-md-12">
                <h2>Summary</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Level 3</span> qualification</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>2-year</span> course</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Includes 9 weeks</span> minimum working with an employer on an industry placement</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



                <div class="row">
            <div class="col-md-8">
                <h2>What you can do with this <span class="tl-nobreak">T Level</span></h2>
                <p>
                This course is suitable for anyone interested in a career in engineering, manufacturing, process and control.
                </p>
            </div>
        </div>
        <div class="row tl-margin-bottom--20 tl-margin-top--20">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/electronics-engineering-technician">Electronics engineering technician</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/aerospace-engineering-technician">Aerospace engineering technician</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/electrical-engineering-technician">Electrical engineering technician</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/mechanical-engineering-technician">Mechanical engineering technician</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/boat-builder">Boat builder</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/materials-technician">Materials technician</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/engineering-construction-craftworker">Engineering construction craftworker</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/blacksmith">Blacksmith</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/welder">Welder</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/materials-technician">Materials technician</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/supervisor">Non destructive testing technician</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>Speak to your careers adviser to find out more. </p>
                <p>Students can also use this T Level to progress to a related higher-level apprenticeship or course of study at a higher level.</p>
            </div>
        </div>


    </div>
</section>

<section id="tl-secondarycontent" class="tl-padding-top--30 tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you’ll learn on this course</h2>
                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Core content</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>
                            Students will develop an understanding of a broad range of issues relevant to the sector, including:
                        </p>
                        <ul class="tl-list--bullet">
                            <li>working within the Engineering and Manufacturing Sectors – an understanding of how materials, conditions and context influence design processes and products</li>
                            <li>essential mathematics for engineering and manufacturing – a knowledge and understanding of mathematics including standard matrices and determinants and standard trigonometry</li>
                            <li>materials and their properties – understanding material processing techniques and their effects on materials and material quality, the condition of materials, how these are managed, and materials testing methods and techniques</li>
                            <li>business, commercial and financial awareness - basic commercial principles including commercial priorities and markets, customers/clients/partners and resource allocation</li>
                        </ul>
                    </div>
                </div>

                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Options to specialise</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>In addition to the core content, each student will also complete at least one module of occupation-specific content.</p>
                        <p>The T Level will be live in September 2022, and occupational specialisms will be confirmed in Summer 2021.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-tertiarycontent" class="tl-padding-top--30 tl-padding-bottom--60  tl-content-normal--white">
    <div class="tl-container">
                <div class="row">
            <div class="col-md-8">
                <h2>What you'll need before you start</h2>
                <p>
                    T Levels are one of your options after you’ve finished GCSEs.
                </p>
                <p>
                   Entry requirements for each course are set by the individual college or school. 
                </p>
                <p>
                    <a class="tl-link-black--orange" id="tl-subject--findlink" href="/students/find">Check with your local T Level college or school</a> to find out the entry requirements for the Engineering, Manufacturing, Processing and Control T Level.
                </p>
            </div>
        </div>
        </div>
</section>
