@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}


@{
    ViewData["SubjectTitle"] = "Health";
    ViewData["PageID"] = "tl-student-subject--health";

}
@model FindViewModel

<p>Your course starts with the essential knowledge and skills to work in health or science including how the industry works, core scientific concepts and key regulations including managing information, health and safety and good scientific/clinical practice.</p>
<p>You can specialise in dental nursing or supporting healthcare. If you choose supporting healthcare, you will focus on at least one of these areas:</p>
<ul class="tl-list--vertical tl-list--bullet">
    <li>adult nursing care</li>
    <li>care of children and young people</li>
    <li>mental health</li>
    <li>midwifery</li>
    <li>theatre</li>
    <li>therapy</li>
</ul>
