@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}

@{
    ViewData["SubjectTitle"] = "Legal Services";
    ViewData["SubjectDescription"] = "During the 2-year programme, students will learn the core knowledge and skills that are needed for entry to a range of legal occupations.";
    ViewData["SelectedQualificationId"] = "";
    ViewData["PageID"] = "tl-student-subject--legalservices";
}

<section id="tl-maincontent" class="tl-padding-top--40 tl-padding-top--80--medium tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row tl-margin-bottom--60">
            <div class="col-md-12">
                <h2>Summary</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Level 3</span> qualification</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>2-year</span> course</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Includes 9 weeks</span> minimum working with an employer on an industry placement</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>What you'll need before you start</h2>
                <p>
                    There are no national entry requirements for starting a T Level. These are set by the individual college or school.
                </p>
                <p>
                    Following your GCSEs - or a similar level 2 qualification - T Levels could be right for you.
                </p>
                <p>
                    We recommend checking with your <a class="tl-link-black--orange" id="tl-subject--findlink" href="/students/find">local T Level college or school</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="tl-secondarycontent" class="tl-padding-top--30 tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you’ll learn on this course</h2>
                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Core content</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>
                            Students will develop an understanding of a broad range of issues relevant to the sector, including:
                        </p>
                        <ul class="tl-list--bullet">
                            <li>the business environment</li>
                            <li>careers within the legal profession</li>
                            <li>regulation</li>
                            <li>professionalism and ethics</li>
                            <li>security and risk</li>
                            <li>equality, diversity and inclusion requirements</li>
                            <li>third party professional services</li>
                            <li>the fundamentals of law</li>
                            <li>the fundamentals of financial accounting</li>
                            <li>an awareness of digital and emerging technology, digital transformation and digital tools</li>
                            <li>data driven innovation, analytics and design thinking </li>
                            <li>research skills</li>
                            <li>project and change management approaches in legal contexts</li>
                        </ul>
                    </div>
                </div>

                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Options to specialise</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>In addition to the core content, each student will also complete at least one module of occupation-specific content. </p>
                        <p>The Legal Services T Level consists of two Legal Assistant occupational specialisms:</p>
                        <ul class="tl-list--bullet">
                            <li>Legal Services Assistant - Business, Finance and Employment</li>
                            <li>Legal Services Assistant - Crime, Criminal Justice and Social Welfare</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
