@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}

@{
    ViewData["SubjectTitle"] = "Maintenance, Installation and Repair for Engineering and Manufacturing";
    ViewData["SubjectDescription"] = "During the 2-year programme, students will develop the core knowledge and skills that are needed for entry to a range of maintenance, installation and repair occupations.";
    ViewData["SelectedQualificationId"] = "49";
    ViewData["PageID"] = "tl-student-subject--maintenance-installation-repair";
}

<section id="tl-maincontent" class="tl-padding-top--40 tl-padding-top--80--medium tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row tl-margin-bottom--60">
            <div class="col-md-12">
                <h2>Summary</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Level 3</span> qualification</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>2-year</span> course</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Includes 9 weeks</span> minimum working with an employer on an industry placement</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


                <div class="row">
            <div class="col-md-8">
                <h2>What you can do with this <span class="tl-nobreak">T Level</span></h2>
                <p>
                    This course is suitable for anyone interested in a career in maintenance, installation and repair for engineering and manufacturing. Career options could include:
                </p>
            </div>
        </div>

        <div class="row tl-margin-bottom--20 tl-margin-top--20">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/engineering-maintenance-technician">engineering maintenance technician</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/engineering-maintenance-technician">marine engineering technician</a>
                        </h4>
                    </div>


                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/mechanical-engineering-technician">mechanical engineering technician</a>
                        </h4>
                    </div>
                    
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/wind-turbine-technician">Wind turbine technician</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/textile-machinery-technician">Textile machinery technician</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/maintenance-fitter">Maintenance fitter</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/vehicle-body-repairer">Vehicle body repairer</a>
                        </h4>
                    </div>



                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/motor-mechanic">Motor mechanic</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/auto-electrician">Auto-electrician</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/motor-vehicle-breakdown-engineer">Motor vehicle breakdown engineer</a>
                        </h4>
                    </div>

                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/telecoms-engineer">Telecoms Engineer</a>
                        </h4>
                    </div>
                    </div>
                    
                </div>
            </div>
                <div class="row">
                    <div class="col-md-8">
                        <p>Speak to your careers adviser to find out more. </p>
                        <p>Students can also use this T Level to progress to a related higher-level apprenticeship or course of study at a higher level.</p>
                    </div>
                </div>





    </div>
</section>

<section id="tl-secondarycontent" class="tl-padding-top--30 tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you’ll learn on this course</h2>
                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Core content</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>
                            Students will develop an understanding of a broad range of issues relevant to the sector, including:
                        </p>
                        <ul class="tl-list--bullet">
                            <li>working within the Engineering and Manufacturing Sectors – an understanding of how materials, conditions and context influence design processes and products</li>
                            <li>essential mathematics for engineering and manufacturing – a knowledge and understanding of mathematics including standard matrices and determinants and standard trigonometry</li>
                            <li>materials and their properties – understanding material processing techniques and their effects on materials and material quality, the condition of materials, how these are managed, and materials testing methods and techniques</li>
                            <li>business, commercial and financial awareness - basic commercial principles including commercial priorities and markets, customers/clients/partners and resource allocation</li>
                        </ul>
                    </div>
                </div>

                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Options to specialise</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>In addition to the core content, each student will also complete at least one module of occupation-specific content.</p>
                        <p>The specialisms available in the T Level in Maintenance, installation and repair for engineering and manufacturing are:</p>
                        <ul class="tl-list--bullet">
                            <li>Maintenance engineering technologies: Mechanical</li>
                            <li>Maintenance engineering technologies: Mechatronic</li>
                            <li>Maintenance engineering technologies: Electrical & Electronic</li>
                            <li>Maintenance engineering technologies: Control & Instrumentation</li>
                            <li>Maintenance, installation, and repair: Light and Electric Vehicles</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-tertiarycontent" class="tl-padding-top--30 tl-padding-bottom--60 tl-content-normal--white">
    <div class="tl-container">

        <div class="row">
            <div class="col-md-8">
                <h2>What you'll need before you start</h2>
                <p>
                    T Levels are one of your options after you’ve finished GCSEs.                
                </p>
                <p>
                    Entry requirements for each course are set by the individual college or school.
                </p>
                <p>
                    <a class="tl-link-black--orange" id="tl-subject--findlink" href="/students/find">Check with your local T Level college or school</a> to find out the entry requirements for the Maintenance, Installation and Repair for Engineering and Manufacturing T Level.
                </p>
            </div>
        </div>
        </div>
</section>
