@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}

@{
    ViewData["SubjectTitle"] = "Management and Administration";
    ViewData["SubjectDescription"] = "During the 2-year programme, students will develop the core knowledge and skills that are needed for entry to a range of management and administration occupations.";
    ViewData["SelectedQualificationId"] = "";
    ViewData["PageID"] = "tl-student-subject--management";
}

<section id="tl-maincontent" class="tl-padding-top--40 tl-padding-top--80--medium tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row tl-margin-bottom--60">
            <div class="col-md-12">
                <h2>Summary</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Level 3</span> qualification</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>2-year</span> course</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Includes 9 weeks</span> minimum working with an employer on an industry placement</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>What you'll need before you start</h2>
                <p>
                    There are no national entry requirements for starting a T Level. These are set by the individual college or school.
                </p>
                <p>
                    Following your GCSEs - or a similar level 2 qualification - T Levels could be right for you.
                </p>
                <p>
                    We recommend checking with your <a class="tl-link-black--orange" id="tl-subject--findlink" href="/students/find">local T Level college or school</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="tl-secondarycontent" class="tl-padding-top--30 tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you’ll learn on this course</h2>
                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Core content</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>
                            Students will develop an understanding of a broad range of issues relevant to the sector, including:
                        </p>
                        <ul class="tl-list--bullet">
                            <li>business context – an overview of organisational cultures and values, different types of internal and external stakeholder, different forms of governance and he impact of organisations on society and the environment</li>
                            <li>project and change management – an understanding of the common change management theories and models and how to support and improve projects</li>
                            <li>business behaviours – the importance of good communication and adapting social communication styles to professional standards and according to purpose, medium and audience</li>
                            <li>quality and compliance – the importance of maintaining and improving quality in all aspects of public and private sector organisations</li>
                        </ul>
                    </div>
                </div>

                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Options to specialise</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>In addition to the core content, each student will also complete at least one module of occupation-specific content.</p>
                        <p>The specialisms available in the T Level in Management and Administration are:</p>
                        <ul class="tl-list--bullet">
                            <li>Business support</li>
                            <li>Business improvement</li>
                            <li>Team leadership and management</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-tertiarycontent" class="tl-padding-top--30 tl-padding-bottom--60 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you can do with this <span class="tl-nobreak">T Level</span></h2>
                <p>
                    This course is suitable for anyone interested in a career in management and administration.
                </p>
                <p>
                    Career options might include working as a business improvement coordinator, team leader or project support.
                </p>
                <p>
                    Speak to your careers adviser to find out more.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>Students can also use this T Level to progress to a related higher-level apprenticeship or course of study at a higher level.</p>
            </div>
        </div>
    </div>
</section>
