@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}

@{
    ViewData["SubjectTitle"] = "Onsite Construction";
    ViewData["SubjectDescription"] = "During the 2-year programme, students will develop the core knowledge and skills that are needed for entry to a range of construction occupations.";
    ViewData["SelectedQualificationId"] = "44";
    ViewData["PageID"] = "tl-student-subject--onsite-construction";
}

<section id="tl-maincontent" class="tl-padding-top--40 tl-padding-top--80--medium tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row tl-margin-bottom--60">
            <div class="col-md-12">
                <h2>Summary</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Level 3</span> qualification</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>2-year</span> course</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Includes 9 weeks</span> minimum working with an employer on an industry placement</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>What you can do with this <span class="tl-nobreak">T Level</span></h2>
                <p>
                    This course is suitable for anyone wanting a career in construction, specifically in bricklaying, carpentry and joinery, plastering or painting and decorating. Students can progress into roles such as:
                </p>
            </div>
        </div>

        <div class="row tl-margin-bottom--20 tl-margin-top--20">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/carpenter">carpenter</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/shopfitter">shopfitter</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/bricklayer">bricklayer</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/plasterer">plasterer</a>
                        </h4>
                    </div>
                    <div class="col-md-4 tl-padding-top--10">
                        <h4 class="tl-heading--xsmall--addarrow--orange--link">
                            <a class="tl-link-black--orange tl-subjects--career" href="https://nationalcareers.service.gov.uk/job-profiles/painter-and-decorator">painter and decorator</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <p>Students can also use this T Level to progress to a related higher-level apprenticeship or course of study at a higher level.</p>
                </div>
            </div>






    </div>
</section>

<section id="tl-secondarycontent" class="tl-padding-top--30 tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you’ll learn on this course</h2>
                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Core content</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>
                            All students will develop a general understanding of construction, including:
                        </p>
                        <ul class="tl-list--bullet">
                            <li>health and safety</li>
                            <li>the science behind building design, surveying and planning</li>
                            <li>making accurate and appropriate measurements</li>
                            <li>construction methods</li>
                            <li>building regulations and standards</li>
                            <li>data management and information standards in construction</li>
                            <li>relationship management and customer service</li>
                            <li>how the Internet of Things (IoT) impacts construction</li>
                            <li>digital engineering techniques</li>
                            <li>mathematical techniques to solve construction problems</li>
                            <li>construction design principles and processes</li>
                            <li>the construction industry and its role in the economy</li>
                            <li>sustainability and the environmental impact of construction</li>
                            <li>business, commerce and corporate social responsibility</li>
                        </ul>
                    </div>
                </div>

                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Options to specialise</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>In addition to the core content, each student must choose one of the following specialisms:</p>
                        <ul class="tl-list--bullet">
                            <li>bricklaying</li>
                            <li>carpentry and joinery</li>
                            <li>plastering</li>
                            <li>painting and decorating</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="tl-tertiarycontent" class="tl-padding-top--30 tl-padding-bottom--60 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you'll need before you start</h2>
                <p>
                    T Levels are one of your options after you’ve finished GCSEs.
                </p>
                <p>
                    Entry requirements for each course are set by the individual school or college. 
                </p>
                <p>
                    <a class="tl-link-black--orange" id="tl-subject--findlink" href="/students/find">Check with your local T Level school or college</a> to find out the entry requirements for the Onsite Construction T Level.
                </p>
            </div>
        </div>
    </div>
</section>

