@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}


@{
    ViewData["Title"] = "Onsite Construction";
    ViewData["MetaDescription"] = "META DESCRIPTION";
    ViewData["SubjectTitle"] = "Onsite Construction";
    ViewData["PageID"] = "tl-student-subject--onsite-construction";

}
@model FindViewModel

<p>Your course starts by helping you get to grips with core knowledge of how the construction industry works, the principles of design and the role of technology and sustainability. You will then have the chance to specialise in at least one of these areas:</p>
<ul class="tl-list--vertical tl-list--bullet">
    <li>bricklaying</li>
    <li>carpentry and joinery</li>
    <li>painting and decorating</li>
    <li>plastering</li>
</ul>
