@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}


@{
    ViewData["SubjectTitle"] = "Science";
    ViewData["PageID"] = "tl-student-subject--science";

}

<p>Your course starts with the essential knowledge and skills to work in science or healthcare including how the industry works, core scientific concepts and key regulations including managing information, health and safety and good scientific/clinical practice.</p>
<p>You will then have the chance to specialise in at least one of the following areas:</p>
<ul class="tl-list--vertical tl-list--bullet">
    <li>animal sciences</li>
    <li>food sciences</li>
    <li>laboratory services</li>
    <li>metrology (measurement) sciences</li>
</ul>