@{
    Layout = "~/Views/Student/Subjects/_Layout.cshtml";
}

@{
    ViewData["SubjectTitle"] = "Science";
    ViewData["SubjectDescription"] = "During the 2-year programme, students will develop the core knowledge and skills that are needed for entry to a range of science occupations.";
    ViewData["SelectedQualificationId"] = "43";
    ViewData["PageID"] = "tl-student-subject--science";
}

<section id="tl-maincontent" class="tl-padding-top--40 tl-padding-top--80--medium tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row tl-margin-bottom--60">
            <div class="col-md-12">
                <h2>Summary</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Level 3</span> qualification</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>2-year</span> course</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="tl-students-subject--summary">
                            <p><span>Includes 9 weeks</span> minimum working with an employer on an industry placement</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>What you'll need before you start</h2>
                <p>
                    There are no national entry requirements for starting a T Level. These are set by the individual college or school.
                </p>
                <p>
                    Following your GCSEs - or a similar level 2 qualification - T Levels could be right for you.
                </p>
                <p>
                    We recommend checking with your <a class="tl-link-black--orange" id="tl-subject--findlink" href="/students/find">local T Level college or school</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="tl-secondarycontent" class="tl-padding-top--30 tl-padding-bottom--30 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you’ll learn on this course</h2>
                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Core content</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>
                            All students will develop a general understanding of health and science:
                        </p>
                        <ul class="tl-list--bullet">
                            <li>working within the health and science sector</li>
                            <li>health, safety and environmental regulations</li>
                            <li>managing information and data</li>
                            <li>principles of good scientific and clinical practice</li>
                            <li>core science concepts including the structure of cells, tissues and large molecules, genetics, microbiology and immunology</li>
                        </ul>
                        <p>They will also learn about topics specific to science:</p>
                        <ul class="tl-list--bullet">
                            <li>understanding the science sector</li>
                            <li>further science knowledge, including cell cycle and cellular respiration, enzyme and protein structure, pathogens, classification of biological materials, kinetic changes and relevant analytical techniques</li>
                            <li>scientific methodology</li>
                            <li>experimental equipment and techniques</li>
                            <li>ethics of science </li>
                        </ul>
                    </div>
                </div>

                <div class="tl-subjects--accordion">
                    <button class="tl-subjects--accordion--button"><span>Options to specialise</span></button>
                    <div class="tl-subjects--accordion--panel">
                        <p>In addition to the core content, each student must choose one of the following specialisms in technical science:</p>
                        <ul class="tl-list--bullet">
                            <li>laboratory sciences</li>
                            <li>food sciences</li>
                            <li>metrology sciences</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="tl-tertiarycontent" class="tl-padding-top--30 tl-padding-bottom--60 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>What you can do with this <span class="tl-nobreak">T Level</span></h2>
                <p>
                    This course is suitable for anyone interested in a career in science.
                </p>
                <p>
                    Career options might include working as a technical support scientist, metrology technician or food technician.
                </p>
                <p>
                    Speak to your careers adviser to find out more.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>Students can also use this T Level to progress to a related higher-level apprenticeship or course of study at a higher level.</p>
            </div>
        </div>
    </div>
</section>

