@{
    ViewData["Title"] = "Cookies";
    ViewData["PageID"] = "tl-cookies";

}
@model FindViewModel

<section class="tl-container tl-content">
    <div class="row">
        <div class="col-md-8">
            <h2 class="tl-margin-bottom-40">Accessibility</h2>
            <p>Content</p>
        </div>
    </div>
</section>


