@{
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}

@{
    ViewData["Title"] = "Accessibility statement";
    ViewData["PageID"] = "tl-cookies";

}
@model FindViewModel


    <section id="tl-accessibility--header" class="tl-find tl-content-normal--black">
        <div class="tl-container">

            <div class="row">
                <div class="col-12 tl-margin-bottom--50">
                    <a class="tl-link-white--orange" href="javascript:history.back()">< Back to previous page</a>
                </div>
                <div class="col-12">
                    <h1>Accessibility statement for T Levels: the next level qualification</h1>
                    <p class="tl-lead">This website is run by the Department for Education (DFE), a government organisation.</p>

                </div>
            </div>
        </div>
    </section>

    <section id="tl-accessibility--content" class="tl-margin-top--30 tl-margin-bottom--60 tl-content-normal--white">
        <div class="tl-container">

            <div class="row">
                <div class="col-md-8">

                    <p>We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

                    <ul class="tl-list--vertical tl-list--bullet">
                        <li>change colours, contrast levels and fonts</li>
                        <li>zoom in up to 300% without the text spilling off the screen</li>
                        <li>navigate most of the website using just a keyboard</li>
                        <li>navigate most of the website using speech recognition software</li>
                        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
                    </ul>

                    <p>We’ve also made the website text as simple as possible to understand.</p>
                    <p>You can get advice on making your device easier to use if you have a disability on <a href="https://mcmw.abilitynet.org.uk/" class="tl-link-inline-black--orange" target="_blank">AbilityNet (opens in a new window or tab)</a></p>

                    <h3 class="tl-margin-top--60">How accessible this website is</h3>
                    <p>This site was tested by the Digital Accessibility Centre (DAC) in October 2019 and was made fully accessible.</p>

                    <p>Since then we have made substantial additions to the site, which have undergone rigorous accessibility testing by our in-house team. A new DAC test is scheduled for March 2020.</p>

                    <h3 class="tl-margin-top--60">What to do if you cannot access parts of this website</h3>
                    <p>If you need information on this website in a different format, like accessible PDF or large print, email <a href="mailto:tlevel.webaccessibility@education.gov.uk" class="tl-link-inline-black--orange tl-breakword">tlevel.webaccessibility@education.gov.uk</a></p>
                    <p>We’ll consider your request and get back to you in 5 days.</p>


                    <h3 class="tl-margin-top--60">Reporting accessibility problems with this website</h3>
                    <p>We’re always looking to improve the accessibility of this website. If you find any problems or think we’re not meeting accessibility requirements, contact <a href="mailto:tlevel.webaccessibility@education.gov.uk" class="tl-link-inline-black--orange tl-breakword">tlevel.webaccessibility@education.gov.uk</a></p>

                    <h3 class="tl-margin-top--60">Enforcement procedure</h3>
                    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
                    <p>If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="tl-link-inline-black--orange" target="_blank">contact the Equality Advisory and Support Service (EASS) (opens in a new window or tab)</a>.</p>


                    <h3 class="tl-margin-top--60">Technical information about this website’s accessibility</h3>
                    <p>The Education and Skills Funding Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
                    <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="tl-link-inline-black--orange" target="_blank">Web Content Accessibility Guidelines version 2.1  (opens in a new window or tab)</a> AA standard, due to the non-compliance issues already mentioned.</p>


                    <h3 class="tl-margin-top--60">How we tested this website</h3>
                    <p>This website was accessibility tested by our in-house team on 11 February 2020.</p>

                    <p>They tested every page on our main website platform, available at <a href="http://www.tlevels.gov.uk" class="tl-link-inline-black--orange">http://www.tlevels.gov.uk</a></p>

                    <h3 class="tl-margin-top--60">What we’re doing to improve accessibility</h3>
                    <p>We have commissioned The Digital Accessibility Centre (DAC) to carry out a WCAG 2.1 AA level technical compliance audit, that will also include extensive testing by users with a wide range of disabilities. The audit is scheduled to take place in March 2020.</p>
                    <p>This statement was prepared on 14 February 2019.</p>
                </div>
            </div>
        </div>
    </section>


