@{
    ViewData["Title"] = "Cookies";
    ViewData["PageID"] = "tl-cookies";

}
@model FindViewModel

<section class="tl-container tl-content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="tl-margin-bottom-40">Accessibility statement for T Levels: the next level qualification</h2>
            <p>This website is run by the Department for Education (DFE), a government organisation.</p>
            <p>We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

            <ul class="tl-list tl-list-bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>navigate most of the website using just a keyboard</li>
                <li>navigate most of the website using speech recognition software</li>
                <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>

            <p>We’ve also made the website text as simple as possible to understand.</p>
            <p>You can get advice on making your device easier to use if you have a disability on <a href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet</a> (opens in a new window or tab)</p>

            <h3 class="tl-margin-top-40">How accessible this website is</h3>
            <p>We know some parts of this website are not fully accessible:</p>
            <ul class="tl-list tl-list-bullet">
                <li>the video on the home page does not have an audio description</li>
            </ul>

            <p>And we know some parts of the website require further accessibility testing:</p>
            <ul class="tl-list tl-list-bullet">
                <li>the way some of the content is organised on throughout the site may not be available to users with screen readers</li>
                <li>the video on the home page may not have the right markup for screen readers to know exactly what it is</li>
            </ul>


            <h3 class="tl-margin-top-40">What to do if you cannot access parts of this website</h3>
            <p>If you need information on this website in a different format, like accessible PDF or large print, email <a href="mailto:tlevel.webaccessibility@education.gov.uk">tlevel.webaccessibility@education.gov.uk</a></p>
            <p>We’ll consider your request and get back to you in 5 days.</p>


            <h3 class="tl-margin-top-40">Reporting accessibility problems with this website</h3>
            <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <a href="mailto:tlevel.webaccessibility@education.gov.uk">tlevel.webaccessibility@education.gov.uk</a></p>

            <h3 class="tl-margin-top-40">Enforcement procedure</h3>
            <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
            <p>If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>


            <h3 class="tl-margin-top-40">Technical information about this website’s accessibility</h3>
            <p>The Education and Skills Funding Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
            <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliance issues already mentioned.</p>


            <h3 class="tl-margin-top-40">How we tested this website</h3>
            <p>This website was last tested on 20 September 2019 by the ESFA development team who built the website.</p>

            <p>We tested every page on our main website platform, available at <a href="http://www.tlevels.gov.uk">http://www.tlevels.gov.uk</a></p>

            <h3 class="tl-margin-top-40">What we’re doing to improve accessibility</h3>
            <p>We have arranged for external experts to run a full accessibility check of the website in October 2019. Following that, we will aim to fix all known accessibility issues by the end of November 2019.</p>

            <p>This statement was prepared on 24 September 2019. It was last updated on 24 September 2019.</p>





        </div>
    </div>
</section>


