@{
    ViewData["Title"] = "Cookie Settings";
        ViewData["CookieBanner"] = "disabled";
    ViewData["PageID"] = "tl-cookies";

}
@model FindViewModel

<section class="tl-container tl-content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="tl-margin-bottom-40">Cookie settings</h2>
            <p>We use 2 types of cookie. You can choose which cookies you're happy for us to use.</p>


            <div class="row toggleContainer">
                <div class="col-md-2 order-2">
                    <input type="checkbox" name="cbxAnalyticsConsent" id="cbxAnalyticsConsent" checked="">
                    <label for="cbxAnalyticsConsent" id="lblAnalyticsConsent" data-on="ON" data-off="OFF"><span class="hidden">Analytics cookies</span></label>
                </div>
                <div class="col-md-10 order-1 order-md-12">


                    <h3 class="heading-xs">Cookies that measure website use</h3>
                    <p>
                        We use Google Analytics to measure how you use the website so we can improve it based on user needs. Google Analytics sets cookies that store anonymised information about:
                    </p>
                    <ul class="tl-list tl-list-bullet">
                        <li>
                            how you got to the site
                        </li>
                        <li>the pages you visit on the service and how long you spend on each page</li>
                        <li>
                            what you click on while you're visiting the site
                        </li>
                    </ul>
                    <p>We do not allow Google to use or share the data about how you use this site.</p>
                    <p>Cookies may be set by other third-party websites to do things like measure how you view YouTube videos that are on the service.</p>
                    <p>If you register an account with the Find an apprenticeship service or the Manage apprenticeships service, both provided by the Education and Skills Funding Agency, the information collected using analytics cookies will be linked to your account to help us make the service work better for you.</p>
                </div>
            </div>
            <hr class="tl-section-break">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-10">
                    <h3 class="heading-xs">Strictly necessary cookies</h3>

                    <p>These essential cookies do things like:</p>
                    <ul class="tl-list tl-list-bullet">
                        <li>remember the notifications you've seen so we do not show them to you again</li>
                        <li>remember your progress through a form</li>
                    </ul>
                    <p>They always need to be on.</p>

                    <p><a href="/cookies">Find out more about cookies on this service</a></p>

                </div>
            </div>


        </div>
            </div>
</section>


