@{
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
}

@{
    ViewData["Title"] = "Cookie Settings";
    ViewData["CookieBanner"] = "disabled";
    ViewData["PageID"] = "tl-cookies";

}
@model FindViewModel

<section id="tl-accessibility--header" class="tl-find tl-content-normal--black">
    <div class="tl-container">

        <div class="row">
            <div class="col-12 tl-margin-bottom--50">
                <a class="tl-link-white--orange" href="javascript:history.back()">< Back to previous page</a>
            </div>


            <div class="col-12">
                <h1>Cookie settings</h1>
                <p class="tl-lead">This website puts small files (known as 'cookies') onto your computer.</p>
            </div>
        </div>
    </div>
</section>

<section id="tl-accessibility--content" class="tl-margin-top--30 tl-margin-bottom--60 tl-content-normal--white">
    <div class="tl-container">

        <div class="row">
            <div class="col-md-8">
                <p>These cookies are used to:</p>

                <ul class="tl-list--vertical tl-list--bullet">
                    <li>help us understand how you use the website, so we can make improvements</li>
                    <li>remember what notifications you've seen so you're not shown them more than once</li>
                    <li>temporarily store the selections you make</li>
                </ul>

                <p>We use 2 types of cookie.</p>


                <hr class="tl-line-grey--large">

                <div class="row toggleContainer">
                    <div class="col-md-2 order-2">
                        <input type="checkbox" name="cbxAnalyticsConsent" id="cbxAnalyticsConsent" checked="">
                        <label for="cbxAnalyticsConsent" id="lblAnalyticsConsent" data-on="ON" data-off="OFF" role="button" tabindex="0"><span class="tl-hidden">Turn analytics cookies on or off </span></label>
                    </div>
                    <div class="col-md-10 order-1 order-md-12">


                        <h3 class="">Cookies that measure website use</h3>
                        <p>
                            We use Google Analytics to measure how you use the website so we can improve it based on user needs. Google Analytics sets cookies that store anonymised information about:

                        </p>
                        <ul class="tl-list--vertical tl-list--bullet">
                            <li>
                                how you got to the site
                            </li>
                            <li>the pages you visit on the service and how long you spend on each page</li>
                            <li>
                                what you click on while you're visiting the site
                            </li>
                        </ul>
                        <p>We do not allow Google to use or share the data about how you use this site.</p>
                        <p>Cookies may also be set by other third-party services that we use on the website, for example YouTube to track how people view the video.</p>
                        <p><a class="tl-link-black--orange" href="/cookies">Cookies we use to measure website use</a></p>
                    </div>
                </div>

                <hr class="tl-line-grey--large">


                <div class="row toggleContainer toggleDisabled">
                    <div class="col-md-2 order-2">
                        <input type="checkbox" name="cbxEssential" id="cbxEssential" checked="" disabled>
                        <label for="cbxEssential" id="lblEssential" data-on="ON" data-off="OFF"><span class="tl-hidden">Essential cookies - always on</span></label>
                    </div>

                    <div class="col-md-10 order-1 order-md-12">
                        <h3 class="">Essential cookies</h3>
                        <p>These cookies do things like remember the notifications you've seen so we do not show them to you again.</p>
                        <p>They always need to be on.</p>

                        <p><a class="tl-link-black--orange" href="/cookies">Find out more about essential cookies</a></p>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>




