<div class="main-content row">

  <main class="col-12 tile-col-2">

    <div class="row salmon-bg">
      <div class="col-12 col-md-6 p-0">
          <div class="text-container">
            <h1>Why choose a T Level</h1>

            <p>T Levels are a new choice after your GCSEs. Check out the four great reasons for choosing a T Level – and get ready to move to the next level.</p>

            <a routerLink="/map" class="govuk-button btn-primary-black">Find a T Level near you<span class="btn-arrow"></span></a>

          </div>
      </div>
      <div class="col-12 col-md-6 p-0">
        <div class="border-image-container no-border">
          <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
        </div>
      </div>
    </div>

    <div class="row find-postcode black-bg">
      <div class="col-12">
        <h3><span>Find a T Level</span> near you</h3>

        <div class="govuk-width-container">
          <div class="input-group mb-3">
            <input name="postcode" type="text" class="form-control" id="postcode" />
            <button class="btn btn-outline-secondary" type="button">Search</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 p-0">
        <div class="border-image-container no-border">
          <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
        </div>
      </div>
      <div class="col-12 col-md-6 p-0">
          <div class="text-container">
              <h2>Created with business</h2>
            <p>T Levels have been designed with leading businesses and employers to give you the knowledge and skills you need.</p>

            <p>More than 200 businesses – including Fujitsu, Skanska and GlaxoSmithKline – have helped design the course content for T Levels so you can be confident that your T Level will help you move to the next level.</p>

            <a routerLink="/subjects" class="govuk-button btn-primary-black">See what subjects you can study<span class="btn-arrow"></span></a>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 p-0">
        <div class="border-image-container no-border">
          <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
        </div>
      </div>
      <div class="col-12 col-md-6 p-0">
          <div class="text-container">
              <h2>Get a head start in your career</h2>
            <p>T Levels give you the chance to learn what a real career is like while you continue your studies.</p>

            <p>Your industry placement will last for at least 45 days – when and how you complete it depends on your T Level, your college and your employer.</p>

            <a href="https://www.youtube.com/watch?v=J4hdOsUbYF0" target="_blank" class="govuk-button btn-primary-black">Check out what students say about industry placements<span class="btn-arrow"></span></a>

          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 p-0">
        <div class="border-image-container no-border">
          <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
        </div>
      </div>
      <div class="col-12 col-md-6 p-0">
          <div class="text-container">
              <h2>A qualification that counts</h2>
            <p>When you pass your T Level, you will get a nationally recognised certificate showing the overall grade you achieved - pass, merit, distinction or distinction*. It will also give details of what you learned on the course.</p>

            <p>Your T Level will be worth UCAS points and will be recognised by businesses, universities and other education providers, so you can choose to move into a skilled employment, an apprenticeship or higher education.</p>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 p-0">
        <div class="border-image-container no-border">
          <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
        </div>
      </div>
      <div class="col-12 col-md-6 p-0">
          <div class="text-container">
            <h2>Learn your way</h2>
            <p>T Levels involve more classroom study than apprenticeships, which means you can experience an industry while you continue your studies, with the opportunity to specialise later on.</p>

            <p>Like A Levels, there are no tuition fees to study a T Level if you start before you are 19. Schools and colleges set their own entry requirements, so check their website or contact them direct to find the grades and subjects you’ll need.</p>

            <a routerLink="/map" class="govuk-button btn-primary-black">Find a T Level near you<span class="btn-arrow"></span></a>
          </div>
      </div>
    </div>

    <div class="row employer-logo-list white-bg">
      <div class="col-12">
        <!-- <h4>Employers</h4>
        <ul>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
        </ul> -->
        <br />
        <br />
      </div>
    </div>

  </main>

</div>
