@{
    Layout = "~/Views/Shared/_LayoutTranscript.cshtml";
}

@{
    ViewData["Title"] = "Ambassador video 1 Transcript";
    ViewData["PageID"] = "tl-transcript";
    ViewData["MetaDescription"] = "";
}

<section id="tl-accessibility--header" class="tl-find tl-content-normal--black">
    <div class="tl-container">
        <div class="row">
            <div class="col-12 tl-margin-bottom--50 tl-js--visible">
                <a class="tl-link-white--orange" href="javascript:history.back()">< Back to previous page</a>
            </div>

            <div class="col-12">
                <h1>
                <span class="tl-body">T Levels Video Transcript</span><br />
                Step into Digital Production, Design and Development
                </h1>
            </div>
        </div>
    </div>
</section>

<section id="tl-accessibility--content" class="tl-margin-top--30 tl-margin-bottom--0 tl-margin-bottom--60 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <p>Caption: Step into Digital Production, Design and Development</p>

                <p>
                    <span class="tl-bold">Keiran, T Level student at Thorpe St Andrew 6th Form:</span><br />
                    My name's Keiran Hall, I'm 16 and I'm from Norfolk.
                </p>
               
                <p>
                    I currently study at Thorpe St Andrew 6th Form and I've been there for 5 years, and I did GCSE Computer Science for 2 years.
                </p>                
                <p>I chose the Digital T Level mainly for the work placement because it's given me that extra boost when it comes to getting a job. And also the vast amount of topics you cover in these T Levels - already we've done so many different topics: programming, problem solving, data, hardware, networking, the list goes on.</p>
                <p>If someone was to ask me where I wanted to go after T Levels, I would say probably programming or web development, because I'm already learning those skills and expanding my knowledge on those in the T Level.</p>
            </div>
        </div>
    </div>
</section>
