@{
    Layout = "~/Views/Shared/_LayoutTranscript.cshtml";
}

@{
    ViewData["Title"] = "T Levels student stories transcript";
    ViewData["PageID"] = "tl-transcript";
    ViewData["MetaDescription"] = "";
}

<section id="tl-accessibility--header" class="tl-find tl-content-normal--black">
    <div class="tl-container">
        <div class="row">
            <div class="col-12 tl-margin-bottom--50 tl-js--visible">
                <a class="tl-link-white--orange" href="javascript:history.back()">< Back to previous page</a>
            </div>

            <div class="col-12">
                <h1>
                    <span class="tl-body">T Levels Video Transcript</span><br />
                    Archie's T Level student story
                </h1>
            </div>
        </div>
    </div>
</section>

<section id="tl-accessibility--content" class="tl-margin-top--30 tl-margin-bottom--0 tl-margin-bottom--60 tl-content-normal--white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <p>Chris Lythgoe, Construction lecturer: So Archie was one of 10 students starting off with this new Construction T Level. He's taken the work placement side of it really seriously.</p>
                <p>Archie Curtis: I got to see what I learned in college on site and put into practice.</p>
                <p>James Coopey, Site manager, Carters: They’re gaining their qualifications, obviously, and then and then they've also got site experience, which is one of the main things that employers look for.</p>
                <p>Archie: I've been doing my work experience with the building behind me, and that's going to be a T Level building.</p>
                <p>Chris: So he's he's actually been involved in the building of this building, which is amazing really.</p>
                <p>James: It’s different from when we were younger. So yeah, it's good to see that the qualifications now involve a lot more practical work experience.</p>
                <p>Chris: As a result of his T Level placement, they've offered him a - basically a management apprenticeship, so they'll pay for him to go to college, and they'll give him a salary.</p>
                <p>Archie: That will be 4 days a week on site and 1 day a week in college doing an HNC.</p>
                <p>Chris: So the first ever  T Levels results day in August, we're fairly confident that they'll all pass, it's a real really good success story. </p>
            </div>
        </div>
    </div>
</section>
