@{
    ViewData["Title"] = "About T Levels for students";

    ViewData["PageID"] = "tl-student-about";
    ViewData["PagePath"] = "home";

}
@model FindViewModel

<section id="tl-headercontent" class="tl-content-wide--orange">
    <div class="tl-container">

        <div class="row">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets3.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h1>About T Levels</h1>
                    <p>T Levels are a brand-new, 2-year qualification that you can do as an alternative to A levels, other post-16 courses or an apprenticeship.</p>
                    <p>They bring classroom learning and an extended industry placement together on a course designed with businesses and employers.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_Search" />


<section id="tl-maincontent" class="tl-content--white">
    <div class="row no-gutters">
        <div class="col-md-6 order-2 order-md-1">
            <div class="tl-content--box">
                <h2>A new choice</h2>
                <p>
                    T Levels are ideal if you have finished your GCSEs and want the knowledge and experience to get straight into employment, an apprenticeship or higher education.
                </p>
                <p>You’ll spend 80% of your time in the classroom and 20% on a 45-day placement with an employer to give you the skills and knowledge companies look for.</p>                
            </div>
        </div>
        <div class="col-md-6 order-1">
            <img src="/files/images/TLevels_WebsiteAssets10.jpg" alt="" />
        </div>

    </div>

    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="/files/images/TLevels_WebsiteAssets18.jpg" alt="" />
        </div>
        <div class="col-md-6">
            <div class="tl-content--box">
                <h2>Coming in 2020</h2>
                <p>One T level takes 2 years of full-time study and is equivalent to 3 A Levels.</p>
                <p>The first 3 T Levels start in September 2020 at selected colleges and schools in England, with more coming in the following years.</p>
            </div>
        </div>
    </div>
</section>





@section jsfiles{


    <script src="~/js/plyr.polyfilled.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        const player = new Plyr('#player', {});

        // Expose player so it can be used from the console
        window.player = player;
    </script>
}

