@{
    ViewData["Title"] = "Case Studies";
    ViewData["MetaDescription"] = "T Level case studies.";

    ViewData["PageID"] = "tl-student-casestudies";
}

<section id="tl-headercontent" class="tl-content-wide--orange">
    <div class="tl-container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="tl-video--square">
                    <div class="tl-banner--video-image plyr__video-embed tl-js--visible" id="player">
                        <iframe title="T Levels ambassador video 1" width="560" height="315" src="https://www.youtube-nocookie.com/embed/iljFlI-pjxU?rel=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="tl-js--hidden tl-margin-bottom--20 tl-margin-top--20">
                        <p><a class="tl-link-white--orange" href="https://www.youtube.com/watch?v=iljFlI-pjxU">Watch video - T Levels ambassador video 1</a></p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h1>Case Studies</h1>
                    <p>Hear directly from students who are taking their T Levels about why you should take the next step.</p>
                    <p>There are already 10 T Level courses available at selected schools and colleges in England. Over the next few years, a total of more than 20 T Level subjects will become available.</p>
                    <a href="/students/transcripts/ambassadors1" class="tl-link-black--black ">Video transcript</a>

                </div>
            </div>
        </div>
    </div>
</section>




<section id="tl-maincontent" class="tl-content-wide--white tl-margin-bottom--60 tl-margin-top--60">
    <div class="tl-container">
        <div class="row">
            <div class="col-lg-4 col-md-6 tl-casestudy--quote order-1">
                <div class="tl-box--center--grey tl-height--100 ">
                    <p>
                        “There’s more freedom in the way we learn on a T Level. I prefer being able to focus on one subject, but with specialisms that all link to my chosen career path.”
                    </p>
                    <div class="tl-casestudy--profile">
                        <img src="/files/images/student_profile2.jpg" alt="" asp-append-version="true" />
                        <span>Fiza Sadik</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 tl-casestudy--video order-2">
                <div class="tl-video--square tl-js--visible">
                    <iframe title="T Levels ambassador video 2" width="560" height="315" src="https://www.youtube-nocookie.com/embed/NyMVsF0oNPg?rel=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="tl-js--hidden tl-margin-bottom--20 tl-margin-top--20">
                    <p><a class="tl-link-black--orange" href="https://www.youtube.com/watch?v=NyMVsF0oNPg">Watch video - T Levels ambassador video 2</a></p>
                </div>

                <a href="/students/transcripts/ambassadors2" class="tl-link-black--orange">Video transcript</a>

            </div>
            <div class="col-lg-4 col-md-6 tl-casestudy--quote order-3 order-md-4 order-lg-3">
                <div class="tl-box--center--grey tl-height--100 ">
                    <p>
                        “I think T Levels go beyond A levels. They take you into the real world so you understand how to get where you want to.”
                    </p>
                    <div class="tl-casestudy--profile">
                        <img src="/files/images/student_profile3.jpg" alt="" asp-append-version="true" />
                        <span>Aqsah Ahmed</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 tl-casestudy--video order-4 order-md-3 order-lg-4">
                <div class="tl-video--square tl-js--visible">
                    <iframe title="T Levels ambassador video 3" width="560" height="315" src="https://www.youtube-nocookie.com/embed/IDsizUoFI9U?rel=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="tl-js--hidden tl-margin-bottom--20 tl-margin-top--20">
                    <p><a class="tl-link-black--orange" href="https://www.youtube.com/watch?v=IDsizUoFI9U">Watch video - T Levels ambassador video 3</a></p>
                </div>

                <a href="/students/transcripts/ambassadors3" class="tl-link-black--orange">Video transcript</a>
            </div>
            <div class="col-lg-4 col-md-6 tl-casestudy--quote order-5">
                <div class="tl-box--center--grey tl-height--100 ">
                    <p>
                        “I think employers will be attracted to this qualification. At school I wasn’t sure what I wanted to do at first and this is more of a direct route. It’s brand new so it’s completely up to date.”
                    </p>
                    <div class="tl-casestudy--profile">
                        <img src="/files/images/student_profile1.jpg" alt="" asp-append-version="true" />
                        <span>Leah Hickman</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 tl-casestudy--video order-6 order-md-6">
                <div class="tl-video--square tl-js--visible">
                    <iframe title="T Levels ambassador video 4" width="560" height="315" src="https://www.youtube-nocookie.com/embed/S5zU_bRzCa0?rel=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="tl-js--hidden tl-margin-bottom--20 tl-margin-top--20">
                    <p><a class="tl-link-black--orange" href="https://www.youtube.com/watch?v=S5zU_bRzCa0">Watch video - T Levels ambassador video 4</a></p>
                </div>
                <a href="/students/transcripts/ambassadors4" class="tl-link-black--orange ">Video transcript</a>

            </div>

        </div>

        <div class="row">

        </div>

    </div>
</section>


<partial name="_Search" />

@section jsfiles{

}
