@{
    ViewData["Title"] = "Find a T Level";
    ViewData["PageID"] = "tl-student-find";
}
@model FindViewModel


<section id="tl-search" class="tl-find tl-content-normal--black">
    <div class="tl-container">

        <div class="row">
            <div class="col-12">
                <h1>Find your nearest T Level</h1>
                <p>Search for colleges and schools delivering T Levels in 2020 and 2021</p>
                <form class="tl-search--form text-center">
                    <span class="tl-validation--message field-validation-error">You must enter a real postcode</span>

                    <label for="Postcode" class="tl-hidden">Postcode</label>
                    <input asp-for="Postcode" placeholder="Enter your postcode" class="tl-search--form--postcode" aria-label="Enter a postcode to find a T-Level near you" />
                    <input type="hidden" asp-for="Qualification" />
                    <input type="hidden" asp-for="ShouldSearch" />
                    <input id="MaxResultCount" value="5" type="hidden" />
                    <input id="SearchResultLastPosition" type="hidden" />

                    <select id="tl-qualifications"></select>

                    <button id="tl-find-button" type="submit" class="tl-button--orange" aria-label="Search for a T Level">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="tl-map" id="tl-find--map">
    <div id="map" class="tl-map--map" aria-hidden="true"></div>
</div>

<section id="tl-results" class="tl-content-normal--grey">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-lg-8 col-12">
                <div id="tl-results-summary" class="tl-results--summary">
                    <h3>0 Results</h3>
                    <p>Use the search box above to find T Level courses near you.</p>
                </div>

                <div id="tl-search-results">
                </div>

                <button id="tl-next" class="tl-button--black">Load next 5 providers</button>
            </div>
        </div>
    </div>
</section>

@section jsfiles{

    @{ var source = $"https://maps.googleapis.com/maps/api/js?key={Model.MapApiKey}&callback=maps.initMap&libraries=geometry"; }
    <script src="@source" async defer></script>
}