@{
    ViewData["Title"] = "T Levels for students";
    ViewData["PageID"] = "tl-student-home";
    ViewData["MetaDescription"] = "T Levels are a new, 2-year qualification designed to give 16 to 19 year olds a head start towards the career they want.";
}

    <section id="tl-banner--student-home">
        <div class="tl-container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Welcome to the next level</h1>
                    <p class="tl-lead">T Levels are a new, 2-year qualification designed to give you a head start towards the career you want.</p>
                    <p class="tl-lead">
                        The government has developed T Levels to deliver world-class technical education and give you a new choice after GCSEs.
                    </p>
                    <a href="/students/about" class="tl-button--orange" id="tl-employer-home-findoutmore">
                        <span class="tl-hidden--mobile--up">More about T Levels</span>
                        <span class="tl-hidden--mobile--down">Find out more about T Levels</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

<section id="tl-maincontent" class="tl-margin-top--50--medium tl-margin-bottom--50--medium tl-content-wide--white">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6 ">
                <div class="tl-content--box">
                    <h2>Why choose T Levels</h2>
                    <p>A T Level is a nationally-recognised qualification that is worth the same number of UCAS points as 3 A levels.</p>
                    <p>Endorsed by business, they include a 45-day industry placement to help you learn what a real career is like.</p>
                    <a href="/students/why" id="tl-home--discover" class="tl-button--orange tl-margin-top--10">
                        <span class="tl-hidden--desktop--down">Discover the benefits of <span class="no-break">T Levels</span></span>
                        <span class="tl-hidden--desktop--up">Benefits of <span class="no-break">T Levels</span></span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 align-self-center order-1 ">
                <img src="/files/images/TLevels_WebsiteAssets1.jpg" alt="" />
            </div>
        </div>

        <div class="row no-gutters tl-margin-top--50--medium">
            <div class="col-md-6 align-self-center order-2 order-md-1 ">
                <img src="/files/images/TLevels_WebsiteAssets2.jpg" alt="" />
            </div>
            <div class="col-md-6 order-1">
                <div class="tl-content--box">
                    <h2>What can you learn</h2>
                    <p>Students can already do courses in construction, digital and education. Over the next 3 years a total of 24 T Level subjects will become available.</p>
                    <p>Eventually there will be something for everyone - from agriculture to catering and engineering to finance.</p>
                    <a href="/students/subjects" id="tl-home--subjects" class="tl-button--orange tl-margin-top--10">
                        See all <span class="no-break">T Level</span> subjects
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_SearchHome" />

<section id="tl-video--student">
    <div class="tl-container">
        <div class="row">
            <div class="col">
                <div class="tl-banner--video-image plyr__video-embed tl-js--visible" id="player">
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/UPAPM7LsRxY?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="tl-js--hidden tl-margin-bottom--20 tl-margin-top--20">
                    <p><a class="tl-link-white--orange" href="https://www.youtube.com/watch?v=UPAPM7LsRxY">Watch video - T Levels: welcome to the next level</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-banner--student">
    <div class="tl-banner--content">
        <h2 class="tl-hidden">Welcome to the next level</h2>
    </div>
</section>

@section jsfiles{

}

