@{
    ViewData["Title"] = "T Level subjects";
    ViewData["PageID"] = "tl-student-subjects";
    ViewData["MetaDescription"] = "The first 3 T Levels start in September 2020 at selected schools and colleges. By 2023, 25 T Levels will be available.";   

}
@model FindViewModel

<section id="tl-headercontent" class="tl-content-wide--orange">
    <div class="tl-container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets11.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h1>T Level Subjects</h1>
                    <p>The first 3 T Levels start in September 2020 at selected schools and colleges in England.</p>
                    <p>More T Levels start in the following years until all 25 are available, covering everything from agriculture to catering and engineering to science.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_Search" />


<section id="tl-maincontent" class="tl-content--white">
    <div class="row no-gutters">
        <div class="col-md-6 order-2 order-md-1">
            <div class="tl-content--box">
                <h2>September 2020 onwards</h2>
                <ul class="tl-list--vertical tl-list--bullet">
                    <li>
                        <a tabindex="0" id="tl-subject--design" class="tl-link-black--orange tl-link--modal">Design, Surveying and Planning (construction)</a>
                        <div class="tl-modal" aria-modal="true">
                            <div class="tl-modal--content">
                                <a tabindex="0" class="tl-modal--close" aria-label="close design, surveying and planning">&times;</a>
                                <h2>Design, Surveying and Planning (construction)</h2>
                                <p>
                                    Your course starts by helping you get to grips with core knowledge of how the construction industry works, the principles of design and the role of technology and sustainability. You will then have the chance to specialise in one of these areas:
                                </p>
                                <ul class="tl-list--vertical tl-list--bullet tl-list--bullet">
                                    <li>building services design</li>
                                    <li>civil engineering</li>
                                    <li>hazardous materials analysis and surveying</li>
                                    <li>surveying and design for construction and the built environment</li>
                                </ul>
                                <a href="/students/find?qualification=Design, Surveying and Planning (construction)" id="tl-subject--design--find" class="tl-link-black--orange tl-margin-top--10">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a tabindex="0" id="tl-subject--digital" class="tl-link-black--orange tl-link--modal">Digital Production, Design and Development</a>
                        <div class="tl-modal" aria-modal="true">
                            <div class="tl-modal--content">
                                <a tabindex="0" class="tl-modal--close" aria-label="close digital production, design and development">&times;</a>
                                <h2>Digital Production, Design and Development</h2>
                                <p>Learn the essentials behind all digital roles by understanding data and digital systems, how software and business interact, security, testing, planning and legal issues. You then build on this by developing specialist skills in understanding user needs and designing and developing digital systems.</p>
                                <a href="/students/find?qualification=Digital Production, Design and Development" id="tl-subject--digital--find" class="tl-link-black--orange tl-margin-top--10">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a tabindex="0" id="tl-subject--education" class="tl-link-black--orange tl-link--modal">Education</a>
                        <div class="tl-modal" aria-modal="true">
                            <div class="tl-modal--content">
                                <a tabindex="0" class="tl-modal--close" aria-label="close education">&times;</a>
                                <h2>Education</h2>
                                <p>Everyone studies a core curriculum of child development, how education works plus important topics like safeguarding and special educational needs. You can then focus on one of these areas:</p>
                                <ul class="tl-list--vertical tl-list--bullet tl-list--bullet">
                                    <li>early years education and childcare</li>
                                    <li>assisting teaching</li>
                                    <li>supporting and mentoring students in further and higher education</li>
                                </ul>
                                <a href="/students/find?qualification=Education" id="tl-subject--education--find" class="tl-link-black--orange tl-margin-top--10">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-6 order-1">
            <img src="/files/images/TLevels_WebsiteAssets12.jpg" alt="" />
        </div>

    </div>

    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="/files/images/TLevels_WebsiteAssets4.jpg" alt="" />
        </div>
        <div class="col-md-6">
            <div class="tl-content--box">
                <h2>September 2021 onwards</h2>

                <ul class="tl-list--vertical tl-list--bullet">
                    <li>
                        <a tabindex="0" id="tl-subject--building" class="tl-link-black--orange tl-link--modal">Building Services Engineering</a>
                        <div class="tl-modal" aria-modal="true">
                            <div class="tl-modal--content">
                                <a tabindex="0" class="tl-modal--close" aria-label="close building services engineering">&times;</a>
                                <h2>Building Services Engineering</h2>
                                <p>Your course starts by helping you get to grips with core knowledge of how the construction industry works, the principles of design and the role of technology and sustainability. You will then have the chance to specialise in the engineering associated with at least one of these areas:</p>
                                <ul class="tl-list--vertical tl-list--bullet tl-list--bullet">
                                    <li>air conditioning</li>
                                    <li>electrical and electronic equipment</li>
                                    <li>electrotechnical</li>
                                    <li>gas</li>
                                    <li>heating</li>
                                    <li>plumbing</li>
                                    <li>protection systems</li>
                                    <li>refrigeration</li>
                                    <li>ventilation</li>
                                </ul>
                                <a href="/students/find?qualification=Building Services Engineering" id="tl-subject--building--find" class="tl-link-black--orange tl-margin-top--10">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a tabindex="0" id="tl-subject--business" class="tl-link-black--orange tl-link--modal">Digital Business Services</a>
                        <div class="tl-modal" aria-modal="true">
                            <div class="tl-modal--content">
                                <a tabindex="0" class="tl-modal--close" aria-label="close digital business services">&times;</a>
                                <h2>Digital Business Services</h2>
                                <p>Learn the essentials of all digital roles by understanding data and digital systems, how software and business interact, security, testing, planning and legal issues. You then build on this by developing specialist skills as a data technician to understanding how to source, analyse and interpret data to support business needs.</p>
                                <a href="/students/find?qualification=Digital Business Services" id="tl-subject--business--find" class="tl-link-black--orange tl-margin-top--10">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a tabindex="0" id="tl-subject--support" class="tl-link-black--orange tl-link--modal">Digital Support Services</a>
                        <div class="tl-modal" aria-modal="true">
                            <div class="tl-modal--content">
                                <a tabindex="0" class="tl-modal--close" aria-label="close digital support services">&times;</a>
                                <h2>Digital Support Services</h2>
                                <p>Learn the essentials of all digital roles by understanding data and digital systems, how software and business interact, security, testing, planning and legal issues. You will then have the chance to specialise in one of these areas:</p>
                                <ul class="tl-list--vertical tl-list--bullet tl-list--bullet">
                                    <li>digital infrastructure</li>
                                    <li>digital support</li>
                                    <li>network cabling</li>
                                    <li>unified communications</li>
                                </ul>
                                <a href="/students/find?qualification=Digital Support Services" id="tl-subject--support--find" class="tl-link-black--orange tl-margin-top--10">Find this T Level in my area</a>

                            </div>
                        </div>
                    </li>
                    <li>
                        <a tabindex="0" id="tl-subject--health" class="tl-link-black--orange tl-link--modal">Health</a>
                        <div class="tl-modal" aria-modal="true">
                            <div class="tl-modal--content">
                                <a tabindex="0" class="tl-modal--close" aria-label="close health">&times;</a>
                                <h2>Health</h2>
                                <p>Your course starts with the essential knowledge and skills to work in health or science including how the industry works, core scientific concepts and key regulations including managing information, health and safety and good scientific/clinical practice.</p>
                                <p>You can specialise in dental nursing or supporting healthcare. If you choose supporting healthcare, you will focus on at least one of these areas:</p>
                                <ul class="tl-list--vertical tl-list--bullet tl-list--bullet">
                                    <li>adult nursing care</li>
                                    <li>care of children and young people</li>
                                    <li>mental health</li>
                                    <li>midwifery</li>
                                    <li>theatre</li>
                                    <li>therapy</li>
                                </ul>
                                <a href="/students/find?qualification=Health" id="tl-subject--health--find" class="tl-link-black--orange tl-margin-top--10">Find this T Level in my area</a>

                            </div>
                        </div>
                    </li>
                    <li>
                        <a tabindex="0" id="tl-subject--healthcare" class="tl-link-black--orange tl-link--modal">Healthcare Science</a>
                        <div class="tl-modal" aria-modal="true">
                            <div class="tl-modal--content">
                                <a tabindex="0" class="tl-modal--close" aria-label="close healthcare science">&times;</a>
                                <h2>Healthcare Science</h2>
                                <p>Your course starts with the essential knowledge and skills to work in healthcare or science including how the industry works, core scientific concepts and key regulations including managing information, health and safety and good scientific/clinical practice.</p>
                                <p>You will then have the chance to specialise in at least one of the following areas:</p>
                                <ul class="tl-list--vertical tl-list--bullet tl-list--bullet">
                                    <li>assisting with healthcare science</li>
                                    <li>dental services (making dental devices)</li>
                                    <li>optical care services</li>
                                    <li>pharmacy services</li>
                                    <li>prosthetic and orthotic technical services</li>
                                </ul>
                                <a href="/students/find?qualification=Healthcare Science" id="tl-subject--healthcare--find" class="tl-link-black--orange tl-margin-top--10">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a tabindex="0" id="tl-subject--construction" class="tl-link-black--orange tl-link--modal">Onsite Construction</a>
                        <div class="tl-modal" aria-modal="true">
                            <div class="tl-modal--content">
                                <a tabindex="0" class="tl-modal--close" aria-label="close onsite construction">&times;</a>
                                <h2>Onsite Construction</h2>
                                <p>Your course starts by helping you get to grips with core knowledge of how the construction industry works, the principles of design and the role of technology and sustainability. You will then have the chance to specialise in at least one of these areas:</p>
                                <ul class="tl-list--vertical tl-list--bullet tl-list--bullet">
                                    <li>bricklaying</li>
                                    <li>carpentry and joinery</li>
                                    <li>painting and decorating</li>
                                    <li>plastering</li>
                                </ul>
                                <a href="/students/find?qualification=Onsite Construction" id="tl-subject--construction--find" class="tl-link-black--orange tl-margin-top--10">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a tabindex="0" id="tl-subject--science" class="tl-link-black--orange tl-link--modal">Science</a>
                        <div class="tl-modal" aria-modal="true">
                            <div class="tl-modal--content">
                                <a tabindex="0" class="tl-modal--close" aria-label="close science">&times;</a>
                                <h2>Science</h2>
                                <p>Your course starts with the essential knowledge and skills to work in science or healthcare including how the industry works, core scientific concepts and key regulations including managing information, health and safety and good scientific/clinical practice.</p>
                                <p>You will then have the chance to specialise in at least one of the following areas:</p>
                                <ul class="tl-list--vertical tl-list--bullet tl-list--bullet">
                                    <li>animal sciences</li>
                                    <li>food sciences</li>
                                    <li>laboratory services</li>
                                    <li>metrology (measurement) sciences</li>
                                </ul>
                                <a href="/students/find?qualification=Science" id="tl-subject--science--find" class="tl-link-black--orange tl-margin-top--10">Find this T Level in my area</a>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6 order-2 order-md-1">
            <div class="tl-content--box">
                <h2>September 2022 onwards</h2>
                <ul class="tl-list--vertical tl-list--bullet">
                    <li>Accountancy</li>
                    <li>Design, Development and Control</li>
                    <li>Financial</li>
                    <li>Human Resources</li>
                    <li>Legal</li>
                    <li>Maintenance, Installation and Repair</li>
                    <li>Management and Administration</li>
                    <li>Manufacturing and Process</li>
                </ul>

            </div>
        </div>
        <div class="col-md-6 order-1">
            <img src="/files/images/TLevels_WebsiteAssets14.jpg" alt="" />
        </div>

    </div>

    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="/files/images/TLevels_WebsiteAssets15.jpg" alt="" />
        </div>
        <div class="col-md-6">
            <div class="tl-content--box">
                <h2>September 2023 onwards</h2>
                <ul class="tl-list--vertical tl-list--bullet">
                    <li>Agriculture, Land Management and Production</li>
                    <li>Animal Care and Management</li>
                    <li>Catering</li>
                    <li>Craft and Design</li>
                    <li>Cultural Heritage and Visitor Attractions</li>
                    <li>Hair, Beauty and Aesthetics</li>
                    <li>Media, Broadcast and Production</li>
                </ul>
            </div>
        </div>
    </div>
</section>





@section jsfiles{


    <script src="~/js/plyr.polyfilled.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        const player = new Plyr('#player', {});

        // Expose player so it can be used from the console
        window.player = player;
    </script>
}

