@{
    ViewData["Title"] = "T Level subjects";
    ViewData["PageID"] = "tl-student-subjects";
    ViewData["MetaDescription"] = "The first 3 T Levels started in September 2020 at selected schools and colleges. By 2023, over 20 T Levels will be available.";
}

<section id="tl-headercontent" class="tl-content-wide--orange">
    <div class="tl-container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets11.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h1>T Level Subjects</h1>
                    <p>The first T Levels started in September 2020 at selected schools and colleges in England.</p>
                    <p>More T Levels start in the following years until more than 20 are available, covering everything from agriculture to catering and engineering to science.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-maincontent" class="tl-content-wide--white">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6 order-2 order-md-1">
                <div class="tl-content--box">
                    <h2>Available now</h2>
                    <ul class="tl-list--vertical tl-list--bullet">
                        <li>
                            <a href="/students/subjects/building-services-engineering" tabindex="0" id="tl-subject--building" class="tl-link-black--orange">Building Services Engineering for Construction</a>
                        </li>
                        <li>
                            <a href="/students/subjects/design-surveying-planning" tabindex="0" id="tl-subject--design" class="tl-link-black--orange">Design, Surveying and Planning for Construction</a>
                        </li>
                        <li>
                            <a href="/students/subjects/digital-business-services" tabindex="0" id="tl-subject--business" class="tl-link-black--orange">Digital Business Services</a>
                        </li>
                        <li>
                            <a href="/students/subjects/digital-production-design-development" tabindex="0" id="tl-subject--digital" class="tl-link-black--orange">Digital Production, Design and Development</a>
                        </li>
                        <li>
                            <a href="/students/subjects/digital-support-services" tabindex="0" id="tl-subject--support" class="tl-link-black--orange">Digital Support Services</a>
                        </li>
                        <li>
                            <a href="/students/subjects/education" tabindex="0" id="tl-subject--education" class="tl-link-black--orange">Education and Childcare</a>
                        </li>
                        <li>
                            <a href="/students/subjects/health" tabindex="0" id="tl-subject--health" class="tl-link-black--orange">Health</a>
                        </li>
                        <li>
                            <a href="/students/subjects/healthcare-science" tabindex="0" id="tl-subject--healthcare" class="tl-link-black--orange">Healthcare Science</a>
                        </li>
                        <li>
                            <a href="/students/subjects/onsite-construction" tabindex="0" id="tl-subject--construction" class="tl-link-black--orange">Onsite Construction</a>
                        </li>
                        <li>
                            <a href="/students/subjects/science" tabindex="0" id="tl-subject--science" class="tl-link-black--orange">Science</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 order-1">
                <img src="/files/images/TLevels_WebsiteAssets12.jpg" alt="" asp-append-version="true"/>
            </div>
        </div>
        
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets14.jpg" alt="" asp-append-version="true" />
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h2>September 2022 onwards</h2>
                    <ul class="tl-list--vertical tl-list--bullet">
                        <li>
                            <a href="/students/subjects/accounting" tabindex="0" id="tl-subject--accounting" class="tl-link-black--orange">Accounting</a>
                        </li>
                        <li>
                            <a href="/students/subjects/design-development-engineering" tabindex="0" id="tl-subject--design-development" class="tl-link-black--orange">Design and Development for Engineering and Manufacturing</a>
                        </li>
                        <li>
                            <a href="/students/subjects/finance" tabindex="0" id="tl-subject--finance" class="tl-link-black--orange">Finance</a>
                        </li>
                        <li>
                            <a href="/students/subjects/maintenance-installation-repair" tabindex="0" id="tl-subject--maintenance" class="tl-link-black--orange">Maintenance, Installation and Repair for Engineering and Manufacturing</a>
                        </li>
                        <li>
                            <a href="/students/subjects/management-administration" tabindex="0" id="tl-subject--management" class="tl-link-black--orange">Management and Administration</a>
                        </li>
                        <li>
                            <a href="/students/subjects/engineering-manufacturing-processing-control" tabindex="0" id="tl-subject--engineering" class="tl-link-black--orange">Engineering, Manufacturing, Processing and Control</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6 order-2 order-md-1">
                <div class="tl-content--box">
                    <h2>September 2023 onwards</h2>
                    <ul class="tl-list--vertical tl-list--bullet">
                        <li>Agriculture, Land Management and Production</li>
                        <li>Animal Care and Management</li>
                        <li>Catering</li>
                        <li>Craft and Design</li>
                        <li>Hair, Beauty and Aesthetics</li>
                        <li>Legal Services</li>
                        <li>Media, Broadcast and Production</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 order-1">
                <img src="/files/images/TLevels_WebsiteAssets15.jpg" alt="" asp-append-version="true" />
            </div>
        </div>
    </div>
</section>

<partial name="_Search" />

@section jsfiles{

}
