@{
    ViewData["Title"] = "Why study T Levels";
    ViewData["PageID"] = "tl-student-why";
    ViewData["MetaDescription"] = "T levels have been designed with leading businesses and employers to give students the knowledge and skills they need for work.";
}

<section id="tl-headercontent" class="tl-content-wide--orange">
    <div class="tl-container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets6New.jpg" alt="" asp-append-version="true"/>
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h1>Why choose a <span class="tl-nobreak">T Level</span></h1>
                    <p>T Levels are a new choice after your GCSEs. Check out the 5 great reasons for choosing a T Level – and get ready to move to the next level.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="tl-maincontent" class="tl-content-wide--white">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6 order-2 order-md-1">
                <div class="tl-content--box">
                    <h2>Created with business</h2>
                    <p>T Levels have been designed with leading businesses and employers to give you the knowledge and skills you need.</p>
                    <p>More than 250 businesses – including Fujitsu and Skanska – have been involved so you can be confident your T Level will move you to the next level.</p>
                </div>
            </div>
            <div class="col-md-6 order-1">
                <img src="/files/images/TLevels_WebsiteAssets7.jpg" alt="" asp-append-version="true"/>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets8.jpg" alt="" asp-append-version="true"/>
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h2>Get ahead in your career</h2>
                    <p>T Levels give you the chance to learn what a real career is like while you continue your studies.</p>
                    <p>
                        Your industry placement will last for at least 45 days – when and how you complete it depends on the T Level, college and employer. Check out <a href="https://www.youtube.com/watch?v=J4hdOsUbYF0" class="tl-link-inline-black--orange" id="tl-why--studentviews">student views on industry placements</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6 order-2 order-md-1">
                <div class="tl-content--box">
                    <h2>Qualifications that count</h2>
                    <p>When you pass your T Level, you will get a nationally recognised certificate showing the overall grade you achieved - pass, merit, distinction or distinction*. It will also give details of what you learned on the course to help you move into skilled employment or a higher apprenticeship.</p>
                </div>
            </div>
            <div class="col-md-6 order-1">
                <img src="/files/images/TLevels_WebsiteAssets17New.jpg" alt="" asp-append-version="true"/>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="/files/images/TLevels_WebsiteAssets22New.jpg" alt="" asp-append-version="true"/>
            </div>
            <div class="col-md-6">
                <div class="tl-content--box">
                    <h2>Awarded UCAS points</h2>
                    <p>Your T Level will be worth UCAS points – a T Level Distinction* is worth the same as 3 A levels at A* – and will be recognised by universities and other education providers so you can choose to continue studying if you wish.</p>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6 order-2 order-md-1">
                <div class="tl-content--box">
                    <h2>Learn your way</h2>
                    <p>T Levels involve more classroom study than apprenticeships, which means you can experience an industry while you continue your studies.</p>
                    <p>Like A levels, there are no tuition fees to study a T Level if you start before you are 19. Schools and colleges set their own entry requirements, so check their website or contact them direct to find out more.</p>
                </div>
            </div>
            <div class="col-md-6 order-1">
                <img src="/files/images/TLevels_WebsiteAssets16New.jpg" alt="" asp-append-version="true"/>
            </div>
        </div>
    </div>
</section>


<partial name="_Search" />

@section jsfiles{

}
