

@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "mixins/all";
@import "helpers/all";
@import "components/all";
@import "pages/all";


html {
    overflow-x: hidden;
    background: black;
}

body {
    font-family: 'Sora', 'Times New Roman', Arial;
    padding: 0;
    margin: 0;
    background: $white;
    color: $black;
}
