<div class="main-content row">

    <main class="col-12 tile-col-2">

      <div class="row purple-bg">
        <div class="col-12 col-md-6 p-0">
            <div class="text-container">
              <h1>T Level subjects</h1>

              <p>The first 3 T Levels start in September 2020 at selected schools and colleges in England.</p>

              <p>More T Levels will be available in following years. In total, there will be 25 T Levels covering everything from agriculture to catering and engineering to science.</p>

              <a routerLink="/map" class="govuk-button btn-primary-black">Find a T Level near you<span class="btn-arrow"></span></a>
            </div>
        </div>
        <div class="col-12 col-md-6 p-0">
          <div class="border-image-container no-border">
            <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
          </div>
        </div>
      </div>

      <div class="row find-postcode black-bg">
        <div class="col-12">
          <h3><span>Find a T Level</span> near you</h3>

          <div class="govuk-width-container">
            <div class="input-group mb-3">
              <input name="postcode" type="text" class="form-control" id="postcode" />
              <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 p-0">
          <div class="border-image-container no-border">
            <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
          </div>
        </div>
        <div class="col-12 col-md-6 p-0">
            <div class="text-container">
              <h2>Starting September 2020</h2>
              <ul>
                <li>Design, surveying and planning (construction) - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Design, surveying and planning (construction)">more info</a></li>
                <li>Digital production, design and development - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Digital production, design and development">more info</a></li>
                <li>Education - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Education">more info</a></li>
              </ul>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 p-0">
          <div class="border-image-container no-border">
            <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
          </div>
        </div>
        <div class="col-12 col-md-6 p-0">
            <div class="text-container">
              <h2>Starting September 2021</h2>
              <ul>
                <li>Building services engineering - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Building services engineering">more info</a></li>
                <li>Digital business services - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Digital business services">More info</a></li>
                <li>Digital support and services - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Digital support and services">more info</a></li>
                <li>Health - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Health">more info</a></li>
                <li>Healthcare science - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Healthcare science">more info</a></li>
                <li>Onsite construction - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Onsite construction">more info</a></li>
                <li>Science - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Science">more info</a></li>
              </ul>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 p-0">
          <div class="border-image-container no-border">
            <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
          </div>
        </div>
        <div class="col-12 col-md-6 p-0">
            <div class="text-container">
              <h2>Starting 2022 or 2023</h2>
              <ul>
                <li>Accountancy - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Accountancy">more info</a></li>
                <li>Agriculture, land management and production - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Agriculture, land management and production">more info</a></li>
                <li>Animal care and management - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Animal care and management">more info</a></li>
                <li>Catering - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Catering">more info</a></li>
                <li>Craft and design - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Craft and design">more info</a></li>
                <li>Cultural heritage and visitor attractions - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Cultural heritage and visitor attractions">more info</a></li>
                <li>Design, development and control - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Design, development and control">more info</a></li>
                <li>Financial - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Financial">more info</a></li>
              </ul>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6 p-0">
          <div class="border-image-container no-border">
            <img loading="lazy" src="../../../assets/img/tile-img-dummy.jpg" alt="Introducting T Levels" />
          </div>
        </div>
        <div class="col-12 col-md-6 p-0">
            <div class="text-container">
              <h2>Starting 2022 or 2023</h2>
              <ul>
                <li>Hair, beauty and aesthetics - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Hair, beauty and aesthetics">more info</a></li>
                <li>Human resources - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Human resources">more info</a></li>
                <li>Legal - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Legal">more info</a></li>
                <li>Maintenance, installation and repair - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Maintenance, installation and repair">more info</a></li>
                <li>Management and administration - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Management and administration">more info</a></li>
                <li>Manufacturing and process - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Manufacturing and process">more info</a></li>
                <li>Media, broadcast and productionDesign, development and control - <a href="#" class="btn text-link" data-toggle="modal" data-target="#myModal" title="More info on Media, broadcast and productionDesign, development and control">more info</a></li>
              </ul>
            </div>
        </div>
      </div>

      <div class="row employer-logo-list white-bg">
        <div class="col-12">
          <!-- <h4>Employers</h4>
          <ul>
            <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
            <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
            <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
            <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
            <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
            <li><img src="https://dummyimage.com/115x20/d8d8d8/000000.gif" /></li>
          </ul> -->
          <br />
          <br />
        </div>
      </div>

    </main>

  </div>

  <!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Design Surveying and planning</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <p>Find out all about the new T Level qualification, what choices are available and where you can study.</p>
          <ul>
            <li>Find out all about the new T Level qualification</li>
            <li>Find out all about the </li>
            <li>Find out all about the new T Level </li>
            <li>Find out all T Level qualification</li>
          </ul>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary purple-bg">Find this T Level in my area</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
