@{
    ViewData["Title"] = "About Page";
    ViewData["PageID"] = "tl-about";
}
@model FindViewModel

<section id="tl-boxes" class="tl-background--purple">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets3.png" />
            </div>
            <div class="col-md-6">
                <div class="tl-box tl-box--purple">
                    <h2 class="text-center">About <span class="no-break">T Levels</span></h2>
                    <p>T Levels are a brand new, 2-year qualification that will give you a head start towards the future you want.</p>
                    <p>They bring classroom learning and an extended industry placement together on a course designed in partnership with businesses and employers.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tl-search">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="tl-search--content">
                    <h2 class="text-center tl-desktop-only"><span class="text-outline--white">Find a T Level</span><br /><span class="text-purple"> near you</span></h2>
                    <h2 class="text-center tl-tablet-down"><a href="/find" class="tl-underline-none"><span class="text-outline--white">Find a </span><span class="text-purple tl-arrow--big">course near you</span></a></h2>
                    <form class="tl-search--input text-center tl-desktop-only" asp-action="Find" method="get">
                        <input asp-for="Postcode" class="tl-input" placeholder="Enter your postcode" /><button type="submit" class="tl-button tl-button--purple">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-boxes" class="tl-container">
    <div class="row no-gutters">
        <div class="col-md-6 order-2">
            <div class="tl-box tl-box--white">
                <p>T Levels are ideal if you have finished your GCSEs and want the knowledge and experience to get straight into employment, an apprenticeship or higher education.</p>
                <p>You’ll spend 80% of your time in the classroom and 20% on a 45-day placement with an employer to give you the knowledge and skills companies are looking for.</p>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets10.png" />
        </div>

    </div>

    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets18.png" />
        </div>

        <div class="col-md-6">
            <div class="tl-box tl-box--white">
                <p>T Levels take 2 years of full time study and are equivalent to 3 A Levels.</p>
                <p>The first 3 T Levels start in September 2020 at selected schools and colleges in England with more coming in the following years.</p>
            </div>
        </div>

    </div>
</section>