@{
    ViewData["Title"] = "Find a T Level";
    ViewData["PageID"] = "tl-find";
}


<section id="tl-map" class="tl-background--orange">
    <div class="tl-container">
    <div class="row no-gutters">
        <div class="col">
            <div class="tl-box tl-box--orange">
                <h2 class="text-center">Find a T Level near you</h2>
                <p class="tl-text-big tl-margin-0">Find a school or college near you offering the first 3 T Levels</p>
            </div>

        </div>
    </div>

    <div class="row no-gutters">
        <div class="col">
            <div class="tl-map">
                <div id="map" style="height: 400px; width: 1200px"></div>
            </div>
        </div>
    </div>
        </div>
</section>
<section id="tl-search" >
    <div class="tl-container">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="tl-search--content">
                <h2 class="text-center text-outline--white">Search</h2>
                <div class="tl-search--input text-center">
                    <input id="Postcode" class="tl-input" type="text" placeholder="Enter your postcode" />
                    <select class="tl-input">
                        <option>All 2020 courses</option>
                        <option>Building services engineering</option>
                        <option>Design, surveying and planning (construction)</option>
                        <option>Digital business services</option>
                        <option>Digital production, design and development</option>
                        <option>Digital support and services</option>
                        <option>Education</option>
                        <option>Health</option>
                        <option>Healthcare science</option>
                        <option>Onsite construction</option>
                        <option>Science</option>
                    </select>
                    <button id="tl-find" class="tl-button tl-button--orange">Search</button>
            </div>
        </div>
    </div>
        </div>
        </div>
</section>
<section id="tl-results" class="tl-container">
    <div class="row justify-content-md-center">
        <div id="tl-search-results" class="col-md-8">
        </div>
    </div>
</section>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMFi2LnT3kjYPmtXcyVWD9Eq8FgZcRJp4&callback=initMap&libraries=geometry"
        async defer></script>