@{
    ViewData["Title"] = "Find a T Level";
    ViewData["PageID"] = "tl-find";
}
@model FindViewModel

<section id="tl-map" class="tl-background--orange">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col">
                <div class="tl-box tl-box--orange">
                    <h2 class="text-center">Find a T Level near you</h2>
                    <p class="tl-text-big tl-margin-0">Find a school or college near you offering the first 3 T Levels</p>
                </div>

            </div>
        </div>

        <div class="row no-gutters">
            <div class="col">
                <div class="tl-map">
                    <div id="map" class="tl-map--map"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tl-search">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="tl-search--content">
                    <h2 class="text-center text-outline--white">Search</h2>
                    <form class="tl-search--form text-center">
                        <label for="Postcode" class="hidden">Postcode</label>
                        <input asp-for="Postcode" class="tl-input" placeholder="Enter your postcode" />
                        <label for="tl-qualifications" class="hidden">Select a qualification</label>
                        <input type="hidden" asp-for="Qualification" />
                        <input type="hidden" asp-for="ShouldSearch" />
                        <input id="MaxResultCount" value="5" type="hidden" />
                        <select class="tl-input" id="tl-qualifications"></select>
                        <input id="tl-find-button" type="submit" class="tl-button tl-button--orange" value="Search" />
                        <button id="tl-next" class="tl-button tl-button--orange">Load 5 more</button>
                        <br />
                        <span class="tl-validation--message field-validation-error">You must enter a real postcode</span>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-results" class="tl-container">
    <div class="row no-gutters justify-content-md-center">
        <div id="tl-search-results" class="col-md-8">
        </div>
    </div>
</section>

@section jsfiles{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMFi2LnT3kjYPmtXcyVWD9Eq8FgZcRJp4&callback=maps.initMap&libraries=geometry" async defer></script>
}