@{
    ViewData["Title"] = "Home Page";
}

<section id="tl-banner" class="tl-container">
    <div class="row no-gutters">
        <div class="col tl-banner--video">
            <img class="tl-banner--video-image" src="/files/images/videobanner.jpg" />
            <a class="tl-banner--video-link" href="#"><span class="hidden">Play icon</span></a>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <h3 class="tl-banner--nextlevel"><span class="hidden">Welcome to the next level</span></h3>
        </div>
    </div>
</section>

<section id="tl-boxes" class="tl-container">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets1.png" />
        </div>
        <div class="col-md-6">
            <div class="tl-box tl-box--orange">
                <h2 class="text-center">A new qualification</h2>
                <p>T Levels are a brand new, 2-year qualification that will give you a head start towards the future you want.</p>
                <p>The Government has developed T Levels to deliver world class technical education and give you a new choice after GCSEs.</p>
                <a href="#" class="tl-button tl-button--arrow">Discover the benefits of <span class="no-break">T Levels</span></a>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6 flex-center order-2 ">
            <div class="tl-box tl-box--orange">
                <h2 class="text-center">Created with business</h2>
                <p>T Levels have been designed with businesses and employers to give students the knowledge and skills they need - so you can be confident that a T Level will help you move into the career you want. </p>
                <a href="#" class="tl-button tl-button--arrow">Find a <span class="no-break">T Level</span> near you</a>
            </div>

        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets2.png" />
        </div>
    </div>
</section>
<section id="tl-search" class="tl-container">
    <div class="row">
        <div class="col-12">
            <div class="tl-search--content">
                <h2 class="text-center"><span class="text-outline--white">Find a T Level</span><br /><span class="text-orange"> near you</span></h2>
                <form class="tl-search--input text-center">
                    <input class="tl-input" type="text" placeholder="Enter your postcode" /><button class="tl-button tl-button--orange">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>
