@{
    ViewData["Title"] = "Home Page";
    ViewData["PageID"] = "tl-home";

}
@model FindViewModel

<section id="tl-banner">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col tl-banner--video">
                <div class="tl-banner--video-image plyr__video-embed" id="player">
                    <iframe src="https://www.youtube.com/embed/6gakwEYL4Js?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                            allowfullscreen
                            allowtransparency></iframe>
                </div>
                @*<a class="tl-banner--video-link" href="#"><span class="hidden">Play icon</span></a>*@


            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <h2 class="tl-banner--nextlevel"><span class="hidden">Welcome to the next level</span></h2>
            </div>
        </div>
    </div>
</section>

<section id="tl-boxes" class="tl-container">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets1.png"  alt="A new qualification image" />
        </div>
        <div class="col-md-6">
            <div class="tl-box tl-box--orange">
                <h2 class="text-center">A new qualification</h2>
                <p>T Levels are a brand new, 2-year qualification that will give you a head start towards the future you want.</p>
                <p>The Government has developed T Levels to deliver world class technical education and give you a new choice after GCSEs.</p>
                <a href="/home/why" class="tl-button tl-button--arrow tl-tablet-hidden">Discover the benefits of <span class="no-break">T Levels</span></a>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6 flex-center order-2 ">
            <div class="tl-box tl-box--orange">
                <h2 class="text-center">Created with business</h2>
                <p>T Levels have been designed with businesses and employers to give students the knowledge and skills they need - so you can be confident that a T Level will help you move into the career you want. </p>
            </div>

        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets2.png" alt="Created with business image" />
        </div>
    </div>
</section>
<section id="tl-search">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="tl-search--content">
                    <h2 class="text-center"><span class="text-outline--white">Find a T Level</span><br /><span class="text-orange"> near you</span></h2>
                    <form class="tl-search--input text-center" asp-action="Find" method="get">
                        <label for="Postcode" class="hidden">Postcode</label><input asp-for="Postcode" class="tl-input" placeholder="Enter your postcode" /><button class="tl-button tl-button--orange">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section jsfiles{
    <script src="~/plyr/plyr.min.js"></script>
    <script>
        const player = new Plyr('#player', { hideControls: false, captions: { active: true } });
        player.toggleControls(false);

        player.on('play', event => {
            player.toggleControls(true);
        });

        // Expose player so it can be used from the console
        window.player = player;
    </script>
}
