@{
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}


@{

    ViewData["PageID"] = "tl-landing";
    ViewData["PagePath"] = "landing";

}



<section id="tl-landing--banner">
    <div class="row no-gutters">
        <div class="col-md-6 tl-landing--banner--student">
            <div class="tl-landing--banner--content">
                <h1 class="tl-landing--banner--logo">
                    <span class="tl-hidden">T Levels</span>
                </h1>
                <h2>The next level qualification</h2>
                <p class="tl-lead">Coming in September 2020, T Levels are a two-year qualification that will help you build the future you want.</p>
                <a href="/student" class="tl-button--black">I'm a student</a>
            </div>
        </div>
        <div class="col-md-6 tl-landing--banner--employer">
            <div class="tl-landing--banner--content">
                <h2>Your future workforce</h2>
                <p class="tl-lead">T Levels include a 45-day industry placement that can help you find and develop new talent.</p>
                <a href="/employer" class="tl-button--purple">I'm an employer</a>
            </div>
        </div>
    </div>
</section>

<section id="tl-landing--content" class="tl-content--white">
    <div class="row no-gutters">
        <div class="col-md-6 order-2 order-md-1">
            <div class="tl-content--box">
                <h2>80% Classroom, 20% Work</h2>
                <p>T Level students spend 80% of the course in the classroom, learning the skills that employers need. The other 20% is a meaningful industry placement, where students put these skills into action.</p>
            </div>
        </div>
        <div class="col-md-6 order-1">
            <img src="/files/images/TLevels_WebsiteAssets23.jpg" alt="" />
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6">
            <img src="/files/images/TLevels_WebsiteAssets24.jpg" alt="" />
        </div>
        <div class="col-md-6">
            <div class="tl-content--box">
                <h2>Equivalent to 3 A Levels</h2>
                <p>T Levels are an alternative to A levels, apprenticeships and other 16 to 19 courses. Equivalent to 3 A levels, a T Level focuses on vocational skills and can help students into skilled employment, higher study or apprenticeships.</p>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6 order-2 order-md-1">
            <div class="tl-content--box">
                <h2>A 45-day Industry Placement</h2>
                <p>Each T Level includes an in-depth industry placement that lasts at least 45 days. Students get valuable experience in the workplace; employers get early sight of the new talent in their industry.</p>
            </div>
        </div>
        <div class="col-md-6 order-1">
            <img src="/files/images/TLevels_WebsiteAssets25.jpg" alt="" />
        </div>
    </div>
</section>


@section jsfiles{

}

