@{
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

@{
    ViewData["PageID"] = "tl-landing";
    ViewData["PagePath"] = "landing";
    ViewData["MetaDescription"] = "T Levels are a 2-year qualification designed to give 16 to 19 year olds a head start towards the career they want.";

}
<section id="tl-landing--banner">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-lg-6 tl-landing--banner--student">
                <div class="tl-landing--banner--content">
                    <h2>The next level qualification</h2>
                    <p class="tl-lead">T Levels are a qualification after GCSE that will take your future to the next level.</p>
                    <a href="/students" id="tl-landing-student" class="tl-button--orange">I'm a student</a>
                </div>
            </div>
            <div class="col-lg-6 tl-landing--banner--employer">
                <div class="tl-landing--banner--content">
                    <h2>Your future workforce</h2>
                    <p class="tl-lead">T Levels include a 45-day industry placement that can help you find and develop new talent.</p>
                    <a href="/employers" id="tl-landing-employer" class="tl-button--purple">I'm an employer</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-landing--content">
    <div class="tl-container">
        <div class="tl-landing--row">
            <div class="col-md-4 tl-landing--content--box">
                <h3 class="tl-heading--smaller--addarrowbig--orange">Equivalent to 3 A levels</h3>
                <p class="tl-body">T Levels are an alternative to A levels, apprenticeships and other 16 to 19 courses. Equivalent to 3 A levels, a T Level focuses on vocational skills and can help students into skilled employment, higher study or apprenticeships.</p>
            </div>
            <div class="col-md-4 tl-landing--content--box">
                <h3 class="tl-heading--smaller--addarrowbig--purple">A 45-day Industry Placement</h3>
                <p class="tl-body">Each T Level includes an in-depth industry placement that lasts at least 45 days. Students get valuable experience in the workplace; employers get early sight of the new talent in their industry.</p>
</div>

            <div class="col-md-4 tl-landing--content--box">
                <h3 class="tl-heading--smaller--addarrowbig--orange">80% Classroom, 20% Work</h3>
                <p class="tl-body">T Level students spend 80% of the course in the classroom, learning the skills that employers need. The other 20% is a meaningful industry placement, where they put these skills into action.</p>
            </div>
        </div>
    </div>
</section>


@section jsfiles{

}

