@{
    ViewData["Title"] = "T Level Subjects";
    ViewData["PageID"] = "tl-subjects";
}


<section id="tl-boxes" class="tl-container">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets11.png" />
        </div>
        <div class="col-md-6">
            <div class="tl-box tl-box--purple">
                <h2 class="text-center">T Level subjects</h2>
                <p>The first 3 T Levels start in September 2020 at selected schools and colleges in England. </p>
                <p>More T Levels will be available in following years. In total, there will be 25 T Levels covering everything from agriculture to catering and engineering to science.</p>
            </div>
        </div>
    </div>
</section>
<section id="tl-search" class="tl-container">
    <div class="row">
        <div class="col-12">
            <div class="tl-search--content">
                <h2 class="text-center"><span class="text-outline--white">Find a T Level</span><br /><span class="text-purple"> near you</span></h2>
                <form class="tl-search--input text-center">
                    <input class="tl-input" type="text" placeholder="Enter your postcode" /><button class="tl-button tl-button--purple">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="tl-boxes" class="tl-container">
    <div class="row no-gutters">
        <div class="col-md-6 order-2">
            <div class="tl-box tl-box--wide tl-box--white">
                <h2 class="text-center text-purple">Starting September 2020</h2>
                <ul class="tl-list">
                    <li>
                        Design, surveying and planning (construction) – <a href="#" class="tl-link tl-link--modal">more info</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Design, surveying and planning</h2>
                                <p>Your course starts by helping you get to grips with core knowledge of how the construction industry works, the principles of design and the role of technology and sustainability. You will then have the chance to specialise in one of these areas: </p>
                                <ul class="tl-list tl-list-bullet">
                                    <li>building services design</li>
                                    <li>civil engineering</li>
                                    <li>hazardous materials analysis and surveying</li>
                                    <li>surveying and design for construction and the built environment.</li>
                                </ul>
                                <a href="/home/Find" class="tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        Digital production, design and development – <a href="#" class="tl-link tl-link--modal">more info</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Digital production, design and development</h2>
                                <p>Learn the essentials behind all digital roles by understanding data and digital systems, how software and business interact, security, testing, planning and legal issues. You then build on this by developing specialist skills in understanding user needs and designing and developing digital systems. </p>
                                <a href="/home/Find" class="tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        Education – <a href="#" class="tl-link tl-link--modal">more info</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Education</h2>
                                <p>Everyone studies a core curriculum of child development, how education works plus important topics like safeguarding and special educational needs. You can then focus on one of these areas: </p>
                                <ul class="tl-list tl-list-bullet">
                                    <li>early years education and childcare</li>
                                    <li>assisting teaching</li>
                                    <li>supporting and mentoring students in further and higher education</li>
                                </ul>
                                <a href="/home/Find" class="tl-modal--button tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets12.png" />
        </div>
    </div>


    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets4.png" />
        </div>

        <div class="col-md-6">
            <div class="tl-box tl-box--wide tl-box--white">
                <h2 class="text-center text-purple">Starting September 2021</h2>
                <ul class="tl-list">
                    <li>Building services engineering – <a href="#" class="tl-link">more info</a></li>
                    <li>Digital business services – <a href="#" class="tl-link">more info</a></li>
                    <li>Digital support and services – <a href="#" class="tl-link">more info</a></li>
                    <li>Health – <a href="#" class="tl-link">more info</a></li>
                    <li>Healthcare science – <a href="#" class="tl-link">more info</a></li>
                    <li>Onsite construction – <a href="#" class="tl-link">more info</a></li>
                    <li>Science – <a href="#" class="tl-link">more info</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6 order-2">
            <div class="tl-box tl-box--wide tl-box--white">
                <h2 class="text-center text-purple">Starting September 2022</h2>
                <ul class="tl-list">
                    <li>Accountancy</li>
                    <li>Design, development and control</li>
                    <li>Financial</li>
                    <li>Human resources</li>
                    <li>Legal</li>
                    <li>Maintenance, installation and repair</li>
                    <li>Management and administration</li>
                    <li>Manufacturing and process</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets14.png" />
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets15.png" />
        </div>

        <div class="col-md-6">
            <div class="tl-box tl-box--wide tl-box--white">
                <h2 class="text-center text-purple">Starting September 2023</h2>
                <ul class="tl-list">
                    <li>Agriculture, land management and production</li>
                    <li>Animal care and management</li>
                    <li>Catering</li>
                    <li>Craft and design</li>
                    <li>Cultural heritage and visitor attractions</li>
                    <li>Hair, beauty and aesthetics</li>
                    <li>Media, broadcast and production</li>
                </ul>

            </div>
        </div>
    </div>
</section>
