@{
    ViewData["Title"] = "T Level Subjects";
    ViewData["PageID"] = "tl-subjects";
}
@model FindViewModel

<section id="tl-boxes" class="tl-background--purple">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets11.png" />
            </div>
            <div class="col-md-6">
                <div class="tl-box tl-box--purple">
                    <h2 class="text-center">T Level subjects</h2>
                    <p>The first 3 T Levels start in September 2020 at selected schools and colleges in England. </p>
                    <p>More T Levels will be available in following years. In total, there will be 25 T Levels covering everything from agriculture to catering and engineering to science.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tl-search">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="tl-search--content">
                    <h2 class="text-center tl-desktop-only"><span class="text-outline--white">Find a T Level</span><br /><span class="text-purple"> near you</span></h2>
                    <h2 class="text-center tl-tablet-down"><a href="/home/Find" class="tl-underline-none"><span class="text-outline--white">Find a </span><span class="text-purple">course near you</span></a></h2>
                    <form class="tl-search--input text-center tl-desktop-only" asp-action="Find" method="get">
                        <input asp-for="Postcode" class="tl-input" placeholder="Enter your postcode" /><button class="tl-button tl-button--purple">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-boxes" class="tl-container">
    <div class="row no-gutters">
        <div class="col-md-6 order-2">
            <div class="tl-box tl-box--wide tl-box--white">
                <h2 class="text-center text-purple">September 2020</h2>
                <ul class="tl-list">
                    <li>
                        <a href="#" class="tl-link tl-link--modal">Design, surveying and planning (construction)</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Design, surveying and planning</h2>
                                <p>Your course starts by helping you get to grips with core knowledge of how the construction industry works, the principles of design and the role of technology and sustainability. You will then have the chance to specialise in one of these areas: </p>
                                <ul class="tl-list tl-list-bullet">
                                    <li>building services design</li>
                                    <li>civil engineering</li>
                                    <li>hazardous materials analysis and surveying</li>
                                    <li>surveying and design for construction and the built environment.</li>
                                </ul>
                                <a href="/home/Find" class="tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="tl-link tl-link--modal">Digital production, design and development</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Digital production, design and development</h2>
                                <p>Learn the essentials behind all digital roles by understanding data and digital systems, how software and business interact, security, testing, planning and legal issues. You then build on this by developing specialist skills in understanding user needs and designing and developing digital systems. </p>
                                <a href="/home/Find" class="tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="tl-link tl-link--modal">Education</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Education</h2>
                                <p>Everyone studies a core curriculum of child development, how education works plus important topics like safeguarding and special educational needs. You can then focus on one of these areas: </p>
                                <ul class="tl-list tl-list-bullet">
                                    <li>early years education and childcare</li>
                                    <li>assisting teaching</li>
                                    <li>supporting and mentoring students in further and higher education</li>
                                </ul>
                                <a href="/home/Find" class="tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets12.png" />
        </div>
    </div>


    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets4.png" />
        </div>

        <div class="col-md-6">
            <div class="tl-box tl-box--wide tl-box--white">
                <h2 class="text-center text-purple">September 2021</h2>
                <ul class="tl-list">
                    <li>
                        <a href="#" class="tl-link tl-link--modal">Building services engineering</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Building services engineering</h2>
                                <p>Your course starts by helping you get to grips with core knowledge of how the construction industry works, the principles of design and the role of technology and sustainability. You will then have the chance to specialise in the engineering associated with at least one of these areas:</p>
                                <ul class="tl-list tl-list-bullet">
                                    <li>air conditioning</li>
                                    <li>electrical and electronic equipment</li>
                                    <li>electrotechnical</li>
                                    <li>gas</li>
                                    <li>heating</li>
                                    <li>plumbing</li>
                                    <li>protection systems</li>
                                    <li>refrigeration</li>
                                    <li>ventilation</li>
                                </ul>
                                <a href="/home/Find" class="tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="tl-link tl-link--modal">Digital business services</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Digital business services</h2>
                                <p>Learn the essentials of all digital roles by understanding data and digital systems, how software and business interact, security, testing, planning and legal issues. You then build on this by developing specialist skills as a data technician to understanding how to source, analyse and interpret data to support business needs.</p>
                                <a href="/home/Find" class="tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="tl-link tl-link--modal">Digital support and services</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Digital support services</h2>
                                <p>Learn the essentials of all digital roles by understanding data and digital systems, how software and business interact, security, testing, planning and legal issues. You will then have the chance to specialise in one of these areas:</p>
                                <ul class="tl-list tl-list-bullet">
                                    <li>digital infrastructure</li>
                                    <li>digital support</li>
                                    <li>network cabling</li>
                                    <li>unified communications</li>
                                </ul>
                                <a href="/home/Find" class="tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="tl-link tl-link--modal">Health</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Health</h2>
                                <p>Your course starts with the essential knowledge and skills to work in health or science including how the industry works, core scientific concepts and key regulations including managing information, health and safety and good scientific/clinical practice. </p>
                                <p>You can specialise in dental nursing or supporting healthcare. If you choose supporting healthcare, you will focus on at least one of these areas:</p>
                                <ul class="tl-list tl-list-bullet">
                                    <li>adult nursing care</li>
                                    <li>care of children and young people</li>
                                    <li>mental health</li>
                                    <li>midwifery</li>
                                    <li>theatre</li>
                                    <li>therapy</li>
                                </ul>
                                <a href="/home/Find" class="tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="tl-link tl-link--modal">Healthcare science</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Healthcare science</h2>
                                <p>Your course starts with the essential knowledge and skills to work in healthcare or science including how the industry works, core scientific concepts and key regulations including managing information, health and safety and good scientific/clinical practice.</p>
                                <p>You will then have the chance to specialise in at least one of the following areas:</p>
                                <ul class="tl-list tl-list-bullet">
                                    <li>assisting with healthcare science</li>
                                    <li>dental services (making dental devices)</li>
                                    <li>optical care services</li>
                                    <li>pharmacy services</li>
                                    <li>prosthetic and orthotic technical services</li>
                                </ul>
                                <a href="/home/Find" class="tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="tl-link tl-link--modal">Onsite construction</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Onsite construction</h2>
                                <p>Your course starts by helping you get to grips with core knowledge of how the construction industry works, the principles of design and the role of technology and sustainability. You will then have the chance to specialise in at least one of these areas:</p>
                                <ul class="tl-list tl-list-bullet">
                                    <li>bricklaying</li>
                                    <li>carpentry and joinery</li>
                                    <li>painting and decorating</li>
                                    <li>plastering</li>
                                </ul>
                                <a href="/home/Find" class="tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="tl-link tl-link--modal">Science</a>
                        <div class="tl-modal">
                            <div class="tl-modal--content">
                                <a href="#closemodal" class="tl-modal--close">&times;</a>
                                <h2>Science</h2>
                                <p>Your course starts with the essential knowledge and skills to work in science or healthcare including how the industry works, core scientific concepts and key regulations including managing information, health and safety and good scientific/clinical practice.</p>
                                <p>You will then have the chance to specialise in at least one of the following areas:</p>
                                <ul class="tl-list tl-list-bullet">
                                    <li>animal sciences</li>
                                    <li>food sciences</li>
                                    <li>laboratory services</li>
                                    <li>metrology (measurement) sciences</li>
                                </ul>
                                <a href="/home/Find" class="tl-button tl-button--purple tl-button--arrow">Find this T Level in my area</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6 order-2">
            <div class="tl-box tl-box--wide tl-box--white">
                <h2 class="text-center text-purple">September 2022</h2>
                <ul class="tl-list">
                    <li>Accountancy</li>
                    <li>Design, development and control</li>
                    <li>Financial</li>
                    <li>Human resources</li>
                    <li>Legal</li>
                    <li>Maintenance, installation and repair</li>
                    <li>Management and administration</li>
                    <li>Manufacturing and process</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets14.png" />
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets15.png" />
        </div>

        <div class="col-md-6">
            <div class="tl-box tl-box--wide tl-box--white">
                <h2 class="text-center text-purple">September 2023</h2>
                <ul class="tl-list">
                    <li>Agriculture, land management and production</li>
                    <li>Animal care and management</li>
                    <li>Catering</li>
                    <li>Craft and design</li>
                    <li>Cultural heritage and visitor attractions</li>
                    <li>Hair, beauty and aesthetics</li>
                    <li>Media, broadcast and production</li>
                </ul>

            </div>
        </div>
    </div>
</section>
