@{
    ViewData["Title"] = "Why T Levels";
    ViewData["PageID"] = "tl-why";
}
@model FindViewModel

<section id="tl-why-content-1" class="tl-background--salmon">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets6.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <div class="tl-box tl-box--salmon">
                    <h2 class="text-center">Why choose a <span class="no-break">T Level</span></h2>
                    <p>T Levels are a new choice after your GCSEs. Check out the five great reasons for choosing a T Level – and get ready to move to the next level. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tl-search">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="tl-search--content">
                    <h2 class="text-center tl-desktop-only"><span class="text-outline--white">Find a <span class="no-break">T Level</span></span><br /><span class="text-salmon"> near you</span></h2>
                    <h2 class="text-center tl-tablet-down"><a href="/Find" class="tl-underline-none"><span class="text-outline--white">Find a </span><span class="text-salmon tl-arrow--big">course near you</span></a></h2>
                    <form class="tl-search--form text-center tl-desktop-only" asp-action="Find" method="get">
                        <label for="Postcode" class="hidden">Postcode</label>
                        <input asp-for="Postcode" class="tl-input" placeholder="Enter your postcode" aria-label="Enter a postcode to find a T-Level near you" />
                        <input id="tl-find-button" type="submit" class="tl-button tl-button--orange" value="Search" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-why-content-2" class="tl-container">
    <div class="row no-gutters">
        <div class="col-md-6 order-2">
            <div class="tl-box tl-box--white">
                <h2 class="text-center">Created with business </h2>
                <p>T Levels have been designed with leading businesses and employers to give you the knowledge and skills you need.</p>
                <p>More than 200 businesses – including Fujitsu and Skanska – have been involved so you can be confident your T Level will move you to the next level.</p>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets7.jpg" alt="T Levels are backed by business" />
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets8.jpg" alt="" />
        </div>
        <div class="col-md-6">
            <div class="tl-box tl-box--white">
                <h2 class="text-center">Get ahead in your career</h2>
                <p>T Levels give you the chance to learn what a real career is like while you continue your studies.</p>
                <p>Your industry placement will last for at least 45 days – when and how you complete it depends on the T Level, college and employer. Check out <a class="tl-link" id="tl-why--studentviews" href="https://www.youtube.com/watch?v=J4hdOsUbYF0)" target="_blank">student views on industry placements</a></p>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6 order-2">
            <div class="tl-box tl-box--white">
                <h2 class="text-center">Qualifications that count</h2>
                <p>When you pass your T Level, you will get a nationally recognised certificate showing the overall grade you achieved - pass, merit, distinction or distinction*. It will also give details of what you learned on the course to help you move into skilled employment or a higher apprenticeship.</p>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets17.jpg" alt="" />
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets22.jpg" alt="" />
        </div>
        <div class="col-md-6">
            <div class="tl-box tl-box--white">
                <h2 class="text-center">Awarded UCAS points</h2>
                <p>Your T Level will be worth UCAS points – a T Level Distinction* is worth the same as 3 A Levels at A* – and will be recognised by universities and other education providers so you can choose to continue studying if you wish.</p>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6 order-2">
            <div class="tl-box tl-box--white">
                <h2 class="text-center">Learn your way</h2>
                <p>T Levels involve more classroom study than apprenticeships, which means you can experience an industry while you continue your studies.</p>
                <p>Like A Levels, there are no tuition fees to study a T Level if you start before you are 19. Schools and colleges set their own entry requirements, so check their website or contact them direct to find out more.</p>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="/files/images/TLevels_WebsiteAssets16.jpg" alt="" />
        </div>
    </div>
</section>
